.clear {
    clear: both;
}

#dropArea {
    border: 1px dashed #a5a5a5;
    background-color: #e7e7e7;
    border-radius: .25em;
    padding: 1em;
}

#dropArea:hover {
    border: 1px dashed #999;
    background-color: #f3f3f3;
    border-radius: .25em;
    padding: 1em;
}
