#graph {
    position: relative;
    padding: 12px 12px 18px 12px;
    margin: 12px;   
    background: #fff;
    border-radius: 5px;
    border: 1px solid #999;
}

canvas {
    margin: -12px 0 0 -12px;
    border-radius: 5px;
}

.large {
    width: 600px;
    height: 300px;
}

.medium {
    width: 200px;
    height: 100px;
}

.small {
    width: 150px;
    height: 75px;
}

.tiny {
    width: 50px;
    height: 25px;
}

.dot {
    width: 10px;
    height: 10px;
}

#graph .node, #schema-graph .node {
    position: absolute;
    background-color: #e9e9e9;
    background: -webkit-gradient(linear, left bottom, left top, from(#e3e3e3), to(#f5f5f5)) no-repeat;
    background: -moz-linear-gradient(90deg, #e3e3e3, #f5f5f5) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f5f5f5', EndColorStr='#e3e3e3', GradientType=0);
}

#graph .node:hover, #schema-graph .node:hover {
    background-color: #eee;
    background: -webkit-gradient(linear, left bottom, left top, from(#e7e7e7), to(#fafafa)) no-repeat;
    background: -moz-linear-gradient(90deg, #e7e7e7, #fafafa) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fafafa', EndColorStr='#e7e7e7', GradientType=0);
}

.node .head h2 {
    float: left;
    margin-left: 12px;
}

.node .head input.save {

}

.node .head input.hidden {
    visibility: hidden;
}


.large .head h2 {
    font-size: 11pt;
}

.medium .head h2 {
    font-size: 10pt;
}

.small .head h2 {
    font-size: 9pt;
}

.tiny .head h2 {
    font-size: 7pt;
    margin: 4px;
}

.dot .head h2 {
    font-size: 5pt;
}

/*
.node .head input[type=button] {
  font-size: 8px;
  float: right;
  width: 16px;
  height: 16px;
  margin: 6px 6px 6px 0px;
}*/

.node .body {
    margin: 12px;
    float: left;
    overflow: auto;
}

.large .body {
    width: 576px;
    height: 300px;
}

.medium .body {
    width: 176px;
    height: 100px;
}

.small .body, .tiny .body, .dot .body {
    width: 0px;
    height: 0px;
}

.medium .body table.props {
    font-size: 0.8em;
    width: 176px;
}

.large .body table.props {
    width: 576px;
}

.node .body table.props {
    border: 1px solid #ccc;
    border-collapse: collapse;
    float: left;
}

.node .body table.props th {
    background-color: #efefef;
    border: 1px solid #c0c0c0;
    padding: 2px;
}

.node .body table.props td {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    padding: 2px 4px;
}

.node .foot {
    margin: 12px;
    float: left;
}

.body table.props tr td.value {
    padding: 4px 4px 4px 5px;
    margin: 0;
}

.body table.props tr td.value input {
    margin: -3px;
    border: none;
    font-size: inherit;
}

.body table.props tr td.value textarea {
    margin: -3px;
    border: none;
    font-size: inherit;
}

.body table.props tr td.value input.active {
    margin: -3px;
    /*border: 1px solid #b5b5b5;
    background-color: #f5f5f5;*/
}

.body table.props tr td.value .tick {
    border: none;
    position: absolute;
}

#settings {
    position: absolute;
    top: 12px;
    right: 12px;
    min-width: 120px;
    min-height: 120px;
    margin: 0;
    padding: 12px;
    border: 1px solid #ccc;
    background: #f5f5f5;
}

#settings input {
    text-align: right;
}

#settings table {
    width: 100%;
}

#settings td:nth-child(evenss) {
    text-align: right;
}

ul.relBox, ul.nodeBox {
    width: 100%;
    padding: 0;
    margin: 0;
}

ul.relBox li, ul.nodeBox li {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0 0 6px 0s;
}