@charset "UTF-8";
/** Defaults */

* {
    outline: none;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #e5e5e5;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 8pt;
    color: #222;
    background: #e5e5e5;
    background: -webkit-gradient(linear, left bottom, left top, from(#e3e3e3), to(#f3f3f3)) no-repeat;
    background: -moz-linear-gradient(90deg, #e3e3e3, #f3f3f3) no-repeat;
    position: fixed;
}

table, tr, td, th, tbody, thead {
    padding: 0;
    margin: 0;
    border: none;
    border-collapse: collapse;
}

tt, tt *, pre, pre *, code, code * {
    font-family: "Liberation Mono", "DejaVu Sans Mono", Consolas, Monaco, "Vera Sans Mono", "Lucida Console", "Courier New", monospace !important;
}

a, a:link, a:visited {
    color: #333;
}

a:hover, a:active {
    color: #a5a5a5;
}

textarea {
    font-size: 1em;
	border: 1px solid #b5b5b5;
}

button, textarea, input, select {
    font-family: Arial, Helvetica, Sans-serif ! important;
}

input {
    border: 1px solid #a5a5a5;
    padding: 2px;
}

input[type="text"]:disabled, input.disabled {
    background-color: #f0f0f0;
}

.fit-to-height {
    overflow: auto;
}

#header {
    height: 60px;
    border-bottom: 1px solid #a5a5a5;
    font-size: 1.25em;
    line-height: 2em;
    background: #363636;
    background: -moz-linear-gradient(90deg, #363636, #666) no-repeat;
    background: -webkit-gradient(linear, left bottom, left top, from(#363636), to(#666)) no-repeat;
    background: -moz-linear-gradient(90deg, #363636, #666) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#666666', EndColorStr='#363636', GradientType=0);
}

#header .logo {
    position: absolute;
    top: 16px;
    left: 32px;
}

#main-help {
    position: absolute;
    top: 67px;
    right: 8px;
}

#main-help:hover {
    opacity: .6;
}

#footer {
    display: none;
    font-size: 10px;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #f0f0f0;
    border-top: 1px solid #999;
    overflow: auto;
}

#log {
    margin: 0 4px;
}

#menu {
    position: absolute;
    top: 17px;
    left: 160px;
}

.menu ul {
    width: 940px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
    overflow: hidden;
}

.menu ul li {
    display: inline;
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.menu .inactive {
    color: #fff ! important;
}

.menu a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #81ce25;
}

.menu .active {
    color: #333 ! important;
    padding: 3px 6px 4px 6px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #81ce25;
    background: -webkit-gradient(linear, left bottom, left top, from(#73b821), to(#90e629)) no-repeat;
    background: -moz-linear-gradient(90deg, #73b821, #90e629) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#90e629', EndColorStr='#73b821', GradientType=0);
}

img.disabled {
    filter: alpha(opacity=40);
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
    cursor: default ! important;
}

#pages,
#dataBinding,
#widgets,
#remoteWidgets,
#propertyDefinitions,
#previews,
#contents,
#folders,
#files,
#trees,
#groups,
#images,
#users,
.slideOutLeft,
.slideOutRight {
    float: left;
    border: none;
    width: 374px;
    padding: 6px;
}

.ver-scrollable {
    overflow: auto;
}

#previews {
    margin: 0 25px;
}

.slideOutLeft {
    margin: 3px 9px 6px 0;
}

.slideOutRight {
    margin: 3px 0 6px 9px;

}

#images > div:first-child {
    margin-top: 0px ! important;
}

.slideOut .compTab {
    z-index: 1000;
    position: absolute;
    margin: 8px 2px 0 0 ! important;
    overflow: visible ! important;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    background-color: #e3e3e3;
    background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#eee)) no-repeat;
    background: -moz-linear-gradient(90deg, #ddd, #eee) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#eeeeee', EndColorStr='#dddddd', GradientType=0);
}

.slideOut .compTab:hover {
    color: #333 ! important;
    background-color: #f5f5f5;
    background: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), to(#f7f7f7)) no-repeat;
    background: -moz-linear-gradient(90deg, #f3f3f3, #f7f7f7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7f7f7', EndColorStr='#f3f3f3', GradientType=0);
}

.slideOutRight .compTab {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.slideOutLeft .compTab {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#pagesTab {
    right: -72px;
    width: 100px;
    top: 60px;
}

#activeElementsTab {
    right: -71px;
    width: 98px;
    top: 184px;
}

#dataBindingTab {
    right: -61px;
    width: 78px;
    top: 296px;
}

#widgetsTab {
    left: -44px;
    width: 48px;
    top: 60px;
}

#paletteTab {
    left: -60px;
    width: 80px;
    top: 148px;
}

#componentsTab {
    left: -79px;
    width: 118px;
    top: 271px;
}

#elementsTab {
    left: -72px;
    width: 104px;
    top: 406px;
}

#queriesTab {
    right: -47px;
    width: 50px;
    top: 60px;
}

#displayTab {
    right: -72px;
    width: 100px;
    top: 160px;
}

#filtersTab {
    right: -42px;
    width: 40px;
    top: 254px;
}

#nodesTab {
    left: -44px;
    width: 48px;
    top: 60px;
}

#relationshipsTab {
    left: -60px;
    width: 80px;
    top: 148px;
}
.slideOut {
    min-height: 600px;
    background-color: #e5e5e5;
    margin: 0;
    border-top: 1px solid #a5a5a5 ! important;
    border-bottom: 1px solid #a5a5a5 ! important;
    position: absolute;
    z-index: 2;
    top: 93px;
    background-color: #f1f1f1;
}

.ver-scrollable > .node {
    width: 360px;
}

.slideOutRight {
    width: 400px;
    right: -413px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-left: 1px solid #a5a5a5 ! important;
}

.slideOutLeft {
    left: -386px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-right: 1px solid #a5a5a5 ! important;
}

#widgetsSlideout #widgets, #widgetsSlideout #remoteWidgets {
    min-height: 48px;
    margin: 0 ! important;
    padding: 0;
}


#palette .elementGroup {
    float: left;
    padding: 0;
    margin: 0;
    width: 380px;
}

#palette h2 {
    font-size: 10pt;
    padding: 0;
    margin: 0;
    color: #333;
}

#palette h3, #widgetsSlideout h3 {
    font-size: 11pt;
    color: #333;
    padding: 3px 0 2px 0;
    margin: 0 0 0 2px;
}

.draggable {
    font-size: 1.25em;
    padding: 3px 6px;
    float: left;
    color: #333;
    border-radius: 5px;
    border: 1px solid #a5a5a5;
    margin: 2px 2px;
    background-color: #e3e3e3;
    background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#eee)) no-repeat;
    background: -moz-linear-gradient(90deg, #ddd, #eee) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#eeeeee', EndColorStr='#dddddd', GradientType=0);
}

.draggable:hover {
    cursor: move;
    color: #000;
    border: 1px solid #bbb;
    background-color: #f5f5f5;
    background: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), to(#f7f7f7)) no-repeat;
    background: -moz-linear-gradient(90deg, #f3f3f3, #f7f7f7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7f7f7', EndColorStr='#f3f3f3', GradientType=0);
}

.sep {
    clear: both;
    height: 4px;
    margin: 2px 0 12px -12px ! important;
}

.clear {
    clear: both;
    height: 0px;
}

.props {
    /*width: 872px;*/
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 12px;
    border: 1px solid #b5b5b5;
    font-size: 8pt;
}

#users .props {
    width: 776px ! important;
}

.props tr:nth-child(odd) {
    background-color: #f7f7f7;
}

.props tr:nth-child(even) {
    background-color: #fff;
}

.props th {
    background: #f0f0f0;
}

.props td, .props th {
    padding: 6px 6px;
    line-height: 1.7em;
    font-size: 8pt;
    height: 1.7em;
    border: 1px solid #b5b5b5;
}

.props .key {
    width: 50%;
    font-weight: bold;
}

.props tr td.value {
    padding: 4px 6px;
    margin: 0;
}

.props tr td.value input {
    margin: -3px;
    /*height: 1.7em;*/
    font-size: 8pt;
    background: #fff;
    border: 1px solid #c0c0c0;
    width: 380px;
}

.props textarea {
    margin: -3px;
    border: 1px solid #c0c0c0;
    font-size: 8pt;
    width: 360px;
}

.props tr td.value input.readonly {
    margin: -3px;
    border: 1px solid transparent;
    color: #a0a0a0;
}

.props tr td.value input.active {
    margin: -3px;
    border: 1px solid #000;
    background-color: #fff;
}

.props tr td.value .tick {
    border: none;
    position: absolute;
}

.props tr td img {
    border: none;
    cursor: pointer;
    vertical-align: middle;
    margin: 0 2px 2px 0;
}

ul#previewTabs {
    margin: 0;
    padding: 0;
    border: none;
    height: 25px;
}

.data-tabs, .data-tabs ul, #tabs, #tabs ul, .files-tabs ul {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

#previewTabs li, #tabs li, .compTab, .data-tabs li, .files-tabs li {
    vertical-align: middle;
    line-height: 1.5em;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: #e9e9e9;
    background: -webkit-gradient(linear, left bottom, left top, from(#e3e3e3), to(#f7f7f7)) no-repeat;
    background: -moz-linear-gradient(90deg, #e3e3e3, #f7f7f7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7f7f7', EndColorStr='#e3e3e3', GradientType=0);
    cursor: pointer ! important;
    list-style-type: none;
    display: inline;
    float: left;
    border-bottom: none ! important;
    border-bottom-left-radius: 0 ! important;
    border-bottom-right-radius: 0 ! important;
    margin: 0 4px 0 0 ! important;
    padding: 3px 6px 0 6px ! important;
    color: #333;
    font-size: 1.2em;
    height: 22px;
}

#previewTabs li, #tabs li, .data-tabs li, .files-tabs li {
    position: relative;
    z-index: 1;
}

.data-tabs {
    margin-top: 20px;
}

.data-tabs ul, .files-tabs ul {
    overflow: hidden;
}

.data-tabs > div, .files-tabs > div {
    padding: 0;
    display: none;
    border-top: 1px solid #a5a5a5;
}

.data-tabs button {
    margin: 6px 0 0 0;
}

.data-tabs li, #tabs li, .files-tabs li {
    font-size: 1em;
}

.propTabContent {
    display: none;
    float: left;
    width: 100%;
}

.propTabContent section {
    padding: 24px 0 0 0;
}

#previewTabs img {
    position: relative;
    z-index: 2;
    border: none;
    margin: 1px 0 0 0;
}

#previewTabs li input[type=text] {
    border: 1px solid #b5b5b5;
    margin: 0;
}

#previewTabs li:hover, #tabs li:hover, .compTabs:hover, .data-tabs li:hover {
    color: #333 ! important;
    background-color: #e3e3e3;
    background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#eee)) no-repeat;
    background: -moz-linear-gradient(90deg, #ddd, #eee) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#eeeeee', EndColorStr='#dddddd', GradientType=0);
}

#previewTabs li.active, #tabs li.active, .compTab.active, .data-tabs li.active, .files-tabs li.active {
    color: #333 ! important;
    background-color: #81ce25;
    background: -webkit-gradient(linear, left bottom, left top, from(#73b821), to(#90e629)) no-repeat;
    background: -moz-linear-gradient(90deg, #73b821, #90e629) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#90e629', EndColorStr='#73b821', GradientType=0);
}

#previews {
    overflow: hidden ! important;
}

.previewBox {
    float: left;
    background: #fff;
    border: 1px solid #a5a5a5;
    padding: 0;
    margin: 0;
    overflow: hidden ! important;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    width: 100%;
    height: 100%;
}

.previewBox iframe {
    width: 1000px;
    height: 1000px;
    border: 0;
    padding: 0;
    margin: 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.link_icon {
    display: none;
}

.node .name_:hover {
    cursor: text;
}

.new-name {
    border: 1px solid #a5a5a5;
    margin: -1px 0;
    font-size: 0.95em;
    font-weight: bold;
    display: inline;
}

.node .id,
.group .id,
.propertyDefinitions .id,
.user    .id,
.page .id,
.element .id,
.component .id,
.file .id,
.folder .id,
.image .id,
.image-folder .id {
    display: none;
}

.image .icons {
    width: 100px;
    height: 20px;
    position: absolute;
    top: 110px;
}

.content .content_ {
    margin: 4px 0 -2px 0;
    display: inline-block;
    width: 40%;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.1em;
}

.content .content_:hover {
    cursor: text;
}

span.id {
    color: #999;
}

.node {
    color: #333;
    line-height: 1.7em;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 2px 2px 2px 4px;
    margin: 0 0 0 11px;
    /*background-color: #eee;*/
    /*    background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#eee)) no-repeat;
        background: -moz-linear-gradient(90deg, #ddd, #eee) no-repeat;
        filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#eeeeee', EndColorStr='#dddddd', GradientType=0);*/
    position: relative;
}

.active-element .edit_icon {
    right: 4px ! important;
}

.active-element b:hover,
.active-element .content_:hover,
.active-element .action:hover {
    cursor: pointer;
}

.page, .widget, .user, .group, .folder, .file, .image,
.ver-scrollable > .node {
    margin: 4px 0;
    padding-right: 4px;
}

.node.sub {
    margin-left: 16px ! important;
}

.group .user, .folder .file, .folder .folder {
    margin: 4px 0 4px 11px;
}

.image {
    padding: 4px 8px;
}

#images {
    width: 100%;
}

#images .pager {
    margin-bottom: 12px;
}

.image {
    width: 102px;
    height: 130px;
    float: left;
    margin-right: 4px;
    position: relative;
    color: #555;
}

#images .thumbnailZoom {
    max-width: 300px;
    max-height: 300px;
    position: absolute;
    z-index: 4;
    display: none;

}

#imageFolders .folder {
    border: 1px solid #ccc;
    background: #fbf7dc ! important;
    width: 100%;
    /*	width: 300px ! important;
            height: 200px;*/
}

.image div.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
}

.image img.thumbnail {
    margin-top: -42px;
    margin-left: -50%;
    max-width: 100px;
    max-height: 100px;
}

.imageDetail {
    max-width: 776px;
    max-height: 776px;
    margin: 0;
    padding: 0;
}

.readonly {
    color: #999;
}

.typeIcon, .expand_icon {
    float: left ! important;
    border: none;
    background: none;
    margin-right: 4px ! important;
    cursor: pointer ! important;
}

.typeIcon {
    width: 16px;
    height: 16px;
    margin-top: 1px;
}

.expand_icon {
    width: 8px;
    height: 8px;
    margin-top: 5px;
    margin-right: 3px ! important;
}

.edit_icon, .add_icon, .delete_icon, .close_icon, .key_icon, .edit_props_icon, .edit_file_icon, .clone_icon, .view_icon, .link_icon, .add_form_icon, .data_icon, .unarchive_icon, .push_icon, .show_active_icon {
    display: none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-left: 4px ! important;
    vertical-align: top;
    /*float: right;*/
    position: absolute;
}

.edit_icon, .edit_file_icon {
    right: 64px;
}

.page > .edit_props_icon {
    right: 44px;
}

#remoteWidgets .widget .edit_icon {
    right: 4px;
}

.folder .edit_props_icon {
    right: 44px;
}

.group .edit_props_icon, .user .edit_props_icon {
    right: 24px;
}

.edit_props_icon, .file .edit_props_icon {
    right: 44px;
}

.delete_icon {
    right: 24px;
}

.unarchive_icon {
    right: 84px;
}

li.page .delete_icon {
    right: -20px;
}

li.page .view_icon {
    right: 20px;
}

.group .delete_icon, .user .delete_icon {
    right: 4px;
}

.key_icon {
    right: 4px;
}

.key_icon {
    filter: alpha(opacity=30);
    -khtml-opacity: 0.3;
    -moz-opacity: 0.3;
    opacity: 0.3;
}

.nodeHover > .key_icon, .nodeHover > .icons .key_icon {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

#add_type {
    position: absolute;
    right: 12px;
    top: 68px;
    margin: 0;
}

img.button {
    cursor: pointer;
}

.nodeHover, .nodeActive, #graph .node, #schema-graph .node {
    color: #333 ! important;
    background-color: #e7e7e7 ! important;
    border: 1px solid #aaa;
}

.nodeSelected {
    background-color: #fffcdd ! important;
    border: 1px solid #ca0;
}

#images .node, #images .nodeActive {
    background-color: #fafafa ! important;
    border: 1px solid #eee;
}

#images .nodeHover, .image.nodeHover {
    color: #333 ! important;
    background-color: #f5f5f5 ! important;
    border: 1px solid #ccc;
}

#graph .node {
    padding: 2px 6px;
    margin: 4px 0 4px 0;
}

#schema-graph .node {
    padding: 6px;
    margin: 0 ! important;
}

button {
    color: #222;
    font-weight: bold;
    padding: 1px 8px 2px 4px;
    margin: 0 3px 3px 0;
    vertical-align: middle;
    line-height: 1.5em;
    border-radius: 3px;
    border: 1px solid #999;
    background-color: #e5e5e5;
    background: -webkit-gradient(linear, left bottom, left top, from(#ccc), to(#e7e7e7)) no-repeat;
    background: -moz-linear-gradient(90deg, #ccc, #e7e7e7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e7e7e7', EndColorStr='#cccccc', GradientType=0);
}

button:hover:not(.disabled) {
    color: #333;
    padding: 1px 8px 2px 4px;
    vertical-align: middle;
    line-height: 1.5em;
    border: 1px solid #bbb;
    background-color: #f5f5f5;
    background: -webkit-gradient(linear, left bottom, left top, from(#e3e3e3), to(#f7f7f7)) no-repeat;
    background: -moz-linear-gradient(90deg, #e3e3e3, #f7f7f7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7f7f7', EndColorStr='#e3e3e3', GradientType=0);
    cursor: pointer ! important;
}

button img {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

#json_input {
    width: 1000px;
    height: 500px;
}

.dialog {
    display: none;
    font-size: 11pt;
    padding: 4px 0px 6px 12px;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: #f3f3f3;
    background: -webkit-gradient(linear, left bottom, left top, from(#e5e5e5), to(#f3f3f3)) no-repeat;
    background: -moz-linear-gradient(90deg, #e5e5e5, #f3f3f3) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f3f3f3', EndColorStr='#e5e5e5', GradientType=0);
}

#dialogBox #minimizeDialog {
    display: none;
}

#dialogBox .minmax {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 16px;
    height: 16px;
}

#dialogBox .minmax:hover {
    cursor: pointer;
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}

#confirmation, #infoBox, #tempInfoBox, #errorBox {
    min-height: 24px;
    padding: 12px 0 12px 12px;
    overflow: auto;
}

#tempErrorBox, #tempInfoBox {
    padding: 18px;
}

#tempErrorBox .al {
    vertical-align: middle;
    margin-left: 4px;
    margin-top: -4px;
}

#dialogBox {
    padding-bottom: 48px;
    position: relative;
}

.dialogTitle {
    font-size: 11pt;
    text-align: center;
    color: #333;
}

.dialogBtn {
    width: 300px;
    position: absolute;
    right: 12px;
    bottom: 12px;
    text-align: left;
    height: 36px;
    padding: 0;
    margin: 0;
}

.dialogBtn button, #errorBox button {
    float: right;
    margin: 10px 0 0 12px;
}

.dialogText, .dialogMeta {
    text-align: left;
    font-size: 9.5pt;
}

.dialogTextWrapper {
    overflow-y: auto;
}

.dialogText textarea {
    width: 98%;
    margin-top: 0;
    border: 1px solid #a5a5a5;
}

.dialogText .node {
    display: inline-block;
    margin: 4px;
    min-width: 100px;
}

.dialogText .nodeHover b {
    cursor: pointer ! important;
}

.dialogText .linkBox {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 6px;
}

.dialogText .linkBox .pager {
    border-bottom: 1px solid #ccc;
    background-color: #e5e5e5;
    margin: -6px -6px 4px -6px;
    padding: 5px 5px 0px 5px;
}

.dialogText label {
    display: inline-block;
    min-width: 200px;
}

#confirmationText, #infoText, #dialogBox .dialogText {
    margin-bottom: 12px;
    vertical-align: top;
}

#login {
    padding-top: 16px;
    padding-left: 16px;
    width: 264px;
}

#login table, #login tr, #login td {
    background-color: transparent ! important;
    margin: 0;
    padding: 4px;
}

#login #errorText {
    color: #c00;
}

#login input {
    width: 150px;
    border-radius: 3px;
    border: 1px solid #bbb;
    margin: 0;
    padding: 2px;
}

#login .btn {
    text-align: right;
    text-decoration: none;
}

.dialog button:focus {
    border: 1px solid #666;
}

#files h1, #images h1 {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0;
    padding: 0;
    height: 22px;

}

#files .selected, #files .selected:hover {
    color: #333 ! important;
    border: 1px solid #a5a5a5;
    background-color: #81ce25;
    background: -webkit-gradient(linear, left bottom, left top, from(#73b821), to(#90e629)) no-repeat;
    background: -moz-linear-gradient(90deg, #73b821, #90e629) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#90e629', EndColorStr='#73b821', GradientType=0);
}

.node-helper {
    width: 16px ! important;
    height: 16px ! important;
}

#images h1 {
    visibility: visible;
    color: #333;
}

.ui-draggable, .ui-sortable {
    cursor: move;
}

#offset-tester {
    border: 1px solid red;
    position: absolute;
}

.added {
    background-color: green;
}

#sliderBox {
    padding: 10px ! important;
}

.highlight {
    color: #81ce25;
    transition: color 0.1s 0.1s;
    -moz-transition: color 0.1s 0.1s;
    -webkit-transition: color 0.1s 0.1s;
    -o-transition: color 0.1s 0.1s;
}

#controls {
    float: right;
}

.infoBox {
    position: absolute;
    min-width: 240px;
    min-height: 12px;
    text-align: left;
    padding: 6px 4px 6px 28px;
    font-size: 10pt;
    clear: both;
    overflow: auto;
    bottom: 10px;
}

.warning {
    background: #feefb3 url('../icon/error.png') 6px 6px no-repeat;
    color: #9f6000;
    border: 1px solid #9f6000;
    font-size: 10pt;
}

.error {
    background: #ffbaba url('../icon/exclamation.png') 6px 6px no-repeat;
    color: #d8000c;
    border: 1px solid #d8000c;
    font-size: 10pt;
}

.success {
    background: #dff2bf url('../icon/accept.png') 6px 6px no-repeat;
    color: #4f8a10;
    border: 1px solid #4f8a10;
    font-size: 10pt;
}

.info {
    background: #bde5f8 url('../icon/information.png') 6px 6px no-repeat;
    color: #00592b;
    border: 1px solid #00592b;
    font-size: 10pt;
}

.nodeSelectBox {
    width: 240px;
}

.nodeSelectBox div {
    width: 120px;
}

.nodeSelectBox .id {
    display: none;
}

button.switch {
    min-width: 48px;
    margin-right: 12px;
    color: #444;
    font-weight: normal;
    border-radius: 3px;
    border: 1px solid #999;
    background-color: #e5e5e5;
    background: -webkit-gradient(linear, left bottom, left top, from(#ccc), to(#e7e7e7)) no-repeat;
    background: -moz-linear-gradient(90deg, #ccc, #e7e7e7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e7e7e7', EndColorStr='#cccccc', GradientType=0);
}

button.switch img {
    margin-top: 2px;
    vertical-align: top;
}

button.switch:hover {
    background-color: #eee;
    background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#eee)) no-repeat;
    background: -moz-linear-gradient(90deg, #ddd, #eee) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#eeeeee', EndColorStr='#dddddd', GradientType=0);
}

button.enabled, button.active {
    color: #222;
    font-weight: bold;
    border: 1px solid #bbb;
    border-radius: 3px;
    border: 1px solid #999;
    background-color: #e5e5e5;
    background: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#e7e7e7)) no-repeat;
    background: -moz-linear-gradient(90deg, #f5f5f5, #e7e7e7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e7e7e7', EndColorStr='#f5f5f5', GradientType=0);
}

.node ._html_id_,
.node ._html_class_,
.node .linkable {
    color: #888;
}

.node .linkable {
    margin-left: 24px;
    cursor: pointer;
}

.node .linkable:hover {
    color: #555;
}

.callToAction {
    background-color: #81ce25;
    background: -webkit-gradient(linear, left bottom, left top, from(#73b821), to(#90e629)) no-repeat;
    background: -moz-linear-gradient(90deg, #73b821, #90e629) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#90e629', EndColorStr='#73b821', GradientType=0);
    width: 248px;
    height: 32px;
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14pt;
    padding: 11px 0 0 12px;
    margin: 24px;
    cursor: pointer;
    color: #fff;
}
.callToAction:hover {
    background-color: #96f02b;
    background: -webkit-gradient(linear, left bottom, left top, from(#7ec924), to(#96f02b)) no-repeat;
    background: -moz-linear-gradient(90deg, #7ec924, #96f02b) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#96f02b', EndColorStr='#7ec924', GradientType=0);
    border: 1px solid #bbb;

}
.callToAction a, .callToAction a:link, .callToAction a:visited, .callToAction a:hover, .callToAction a:active {
    text-decoration: none;
    color: #fff;
}
.callToAction img {
    vertical-align: top;
    padding: 3px 0 0 7px;
}

.pager {
    font-size: 8pt;
}

.pager input[type=text] {
    width: 36px;
    margin-right: 4px;
}

.pager button {
    font-size: 8pt;
    height: 22px;
    border: 1px solid #999;
    background-color: #e5e5e5;
    background: -webkit-gradient(linear, left bottom, left top, from(#ccc), to(#e7e7e7)) no-repeat;
    background: -moz-linear-gradient(90deg, #ccc, #e7e7e7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e7e7e7', EndColorStr='#cccccc', GradientType=0);
}

button.disabled {
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
}

#schema-graph {
    background: #fff;
    border-top: 1px solid #a5a5a5;
/*    border-radius: 5px;
    border: 1px solid #999;*/
    /*min-height: 600px;*/
/*    margin: 12px;*/
    padding: 12px;
}

/*
 * Upload progress bar
 */

.progress {
    display: none;
    text-align: right;
    position: absolute;
    height: 14px;
    border: 1px solid #b5b5b5;
    margin: 2px 0 0 0;
    padding: 0;
    background: #fff;
}

.progress .bar {
    background-color: #81ce25;
    background: -webkit-gradient(linear, left bottom, left top, from(#73b821), to(#90e629)) no-repeat;
    background: -moz-linear-gradient(90deg, #73b821, #90e629) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#90e629', EndColorStr='#73b821', GradientType=0);
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.progress .indicator {
    position: absolute;
    right: 2px;
    top: -2px;
}

.file .progress {
    right: 36px;
    top: 1px;
    width: 120px;
}

.image .progress {
    right: 30px;
    bottom: 8px;
    width: 76px;
}

input.auto-refresh {
    vertical-align: middle;
    float: right;
    margin-right: 0;
}

button.add_property {
    font-size: 2em;
}


/**
 * Schema
 */

#create-type {
    margin-top: -2px;
    margin-left: 4px;
}

#create-type img, #admin-tools img {
    margin-top: -3px;
}

/*#admin-tools {
    margin-top: 2px;
    margin-right: 30px;
    padding-left: 4px;
}*/

.schema {
    /*width: 600px;*/
    /*height: 200px;*/
    padding-bottom: 6px ! important;
}

.schema h3 {
    margin: 6px 0 2px 0;
}

.schema-input-container {
    margin: 12px;
}

.schema-input {
    border-radius: 3px;
    font-size: 1.5em;
}

#connector-style {
    color: #222;
    font-weight: bold;
    padding: 3px 2px 3px 4px;
    margin: 0 8px 3px 24px;
    vertical-align: middle;
    line-height: 1.5em;
    border-radius: 3px;
    border: 1px solid #999;
    background-color: #e5e5e5;
    background: -webkit-gradient(linear, left bottom, left top, from(#ccc), to(#e7e7e7)) no-repeat;
    background: -moz-linear-gradient(90deg, #ccc, #e7e7e7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e7e7e7', EndColorStr='#cccccc', GradientType=0);
}

#expand-all, #compact-all {
    padding: 1px 4px 2px 4px ! important;
}

.schema-props {
    background-color: #f9f9f9;
    width: 100%;
    border-collapse: collapse;
}

.schema-props th, .schema-props td {
    border: 1px solid #ccc;
}

.schema-props td {
    border: 1px solid #ccc;
    padding: 2px 4px;
}

.schema-props tr:nth-child(even) {
    background-color: #fff;
}

#schema-graph .label {
    font-size: 1.25em;
    background: rgba(255, 255, 255, .8);
    border: 1px solid #aaa;
    border-radius: 3px;
    min-width: 1em;
    text-align: center;
    padding: .6em;
}

#schema-graph .label .icon {
	margin: -3px 2px;
    display: none;
    cursor: pointer;
}

#schema-graph .node {
    opacity: .9;
}

#schema-graph .node h2 {
    margin: 6px 0;
}

.property-name,
.property-dbname,
.property-format,
.property-code,
.property-attrs,
.property-default,
#relationship-label {
    width: 98%;
    font-size: 1em;
    border: none;
    background: transparent;
}


.schema.expanded .property-name,
.schema.expanded .property-type,
.schema.expanded .property-dbname,
.schema.expanded .property-format,
.schema.expanded .property-code,
.schema.expanded .property-attrs,
.schema.expanded .property-default,
#relationship-label {
    border: none;
    background: transparent;
}

.schema.expanded tr, .schema.expanded .schema-props {
    background: transparent ! important;
}

.schema.expanded td {
    border: none ! important;
}

.schema b,
.schema-details b {
    font-size: 1.5em;
    display: inline-block;
    /*margin: 2px 0;*/
}

.schema b:hover,
.schema-details b:hover,
.schema-details .property-name:hover,
.schema-details .property-dbname:hover,
.schema-details .property-format:hover,
.schema-details .property-default:hover,
.schema-details .property-code:hover {
    cursor: text;
    box-shadow: 2px 0 #000;
    color: #222;
    background-color: #ffe;
    -webkit-box-shadow: 0 0 5px yellow;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}

/*.schema b:hover {
    margin: 1px -1px 1px -1px;
}*/

.schema-details .new-name,
.schema .new-name {
    font-size: 1.3em;
    margin: -2px 0 -2px 0;
}

.schema.compact .new-name {
    font-size: 1.3em;
    margin: -3px 0 -3px 0;
}

.schema .icon {
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
}

.schema .edit {
    right: 46px;
}

#admin-tools {
    margin: 0 8px 3px 24px;
}

#admin-tools-table td {
    padding: 0 1em 1em 0;
}

#admin-tools-table td:first-child {
    text-align: center;
}

#ggist-url {
    margin-left: 2em;
}

.notify {
    border-color: #f50;
}

.sliderLabel {
    padding-top: 10px;
}

.schema-details th {
    padding: 2px 4px;
}

.schema-details .add-icon {
    margin-top: 4px;
}

.schema-details .add-icon:hover,
.schema .toggle-view:hover,
.schema .remove-icon:hover{
    opacity: .6;
    cursor: pointer;
}

.schema .toggle-view {
    position: absolute;
    right: 6px;
    top: 6px;
}

.schema b {
    margin: 0 60px 0 60px;
    display: block;
    text-align: center;
}

.schema .icon {
    display: none;
}

.schema:hover .icon {
    display: inline-block;
}

.schema .extends-class {
    text-align: center;
	display: none;
}

.schema .icon.delete {
    margin-right: 20px;
}

.schema .icon.delete:hover {
    opacity: .6;
}

.schema hr {
    display: none;
}

/**
 * Image folders
*/
.image-folder {
    padding: 8px 8px 8px 12px;
    margin: 0 12px 12px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
}

.image-folder b {
    white-space: nowrap;
    display: block;
    padding: 0;
    margin: 0;
    color: #333;
}

.image-folder:hover b {
    color: #000;
}

/**
 * Active Elements slideout
 */
#activeElements .inner {
    margin-left: 12px;
    margin-right: 12px;
}

#activeElements h3 {
    font-size: 11pt;
    margin-bottom: 0px;
}

#activeElements textarea {
    font-size: 8pt;
    width: 90%;
}

#activeElements input {
    font-size: 8pt;
    width: 90%;
}

#activeElements div.inner p {
    margin: 0px;
}

/**
 * Data Binding Wizard slideout
 */
#dataBinding .inner {
    margin-top: 16px;
    margin-left: 36px;
}

#dataBinding .draggable {
    border-radius: 3px;
}

.data-binding-type {
    padding: 12px;
    margin-top: 12px;
    float: none ! important;
    width: 160px;
    text-align: center;
}

.query-text {
    width: 100%;
    height: 4em;
    border: 1px solid #ccc;
}

#data-binding-tabs {
    width: 96%;
}

#data-binding-inputs {
    margin-top: 48px ! important;
}

/* Special highlighting for data-hash attribute in internal editor */
.data-hash {
    color: #ccc ! important;
}

#queries > div, #filters > div {
    margin: 8px 8px 0 30px;
}

#queries h3 {
    margin-bottom: 0;
}

#queries button {
    float: right;
}

#queries textarea {
    width: 327px;
}

.query-box {
    position: relative;
    overflow: hidden;
}

.saved-query {
    padding: .5em;
    border: 1px solid #ccc;
    background: #fff;
    position: relative;
    margin-bottom: 12px;
}

.saved-query:hover {
    border: 1px solid #ddd;
    background: #f7f7f7;
    cursor: pointer;
}

.saved-query img {
    vertical-align: middle;
    margin: 0 4px 0 0;
}

.saved-query .remove-query {
    position: absolute;
    top: 6px;
    right: 6px;
    display: none;
}

.saved-query:hover .remove-query {
    display: block;
}

#saved-queries {
    overflow: auto;
}

#clear-canvas {
    float: none ! important;
    display: block;
    margin-bottom: 24px;
}

#cypher-params {
    position: relative;
}

#add-cypher-parameter {
    position: absolute;
    right: .5em;
    bottom: .5em;
    cursor: pointer;
}

.remove-cypher-parameter {
    margin-bottom: 4px;
    vertical-align: middle;
    cursor: pointer;
}

.page .push_icon {
	position: relative ! important;
	margin-left: 24px ! important;
}

table.push {
	margin: 2em 0;
}
