@charset "UTF-8";
html, body {
  height: 100%;
  margin: 0; }

#nodeEditor {
  height: 100%; }

.node-editor {
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #363636 1px, transparent 1px), linear-gradient(to bottom, #363636 1px, transparent 1px);
  background-color: #272727;
  overflow: hidden; }
  .node-editor * {
    box-sizing: border-box; }
  .node-editor .node {
    background: rgba(35, 35, 35, 0.7);
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: auto;
    padding-bottom: 6px;
    box-sizing: content-box;
    position: absolute;
    box-shadow: 4px 5px 9px rgba(0, 0, 0, 0.5);
    min-width: 300px; }
    .node-editor .node:hover {
      background: rgba(73, 73, 73, 0.7); }
    .node-editor .node.selected {
      background: rgba(22, 22, 22, 0.7) !important;
      border: 1px solid #ffffff; }
    .node-editor .node .startNode {
      background: rgba(90, 210, 90, 0.6); }
    .node-editor .node .title {
      border-top: 1px solid #ccc;
      color: white;
      text-align: center;
      font-weight: bold;
      font-family: sans-serif;
      font-size: 18px;
      border-radius: 10px 10px 0 0;
      padding: 8px;
      overflow: hidden; }
    .node-editor .node content {
      display: table;
      width: 100%; }
      .node-editor .node content column {
        display: table-cell;
        white-space: nowrap; }
        .node-editor .node content column:not(:last-child) {
          padding-right: 20px; }
    .node-editor .node .socket {
      display: inline-block;
      cursor: pointer;
      border: 2px solid white;
      border-radius: 8px;
      width: 16px;
      height: 16px;
      margin: 10px;
      vertical-align: middle;
      background: transparent;
      position: relative;
      z-index: 2; }
      .node-editor .node .socket:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 3px;
        left: 16px;
        display: inline-block;
        border-style: solid;
        border-width: 4px 0 4px 2.66667px;
        border-color: transparent transparent transparent white; }
      .node-editor .node .socket.multiple {
        border-color: yellow; }
      .node-editor .node .socket:hover {
        border: 2px solid white; }
      .node-editor .node .socket.input.used {
        background-color: white; }
      .node-editor .node .socket.input:not(.used) {
        background-color: #b3b3b3; }
      .node-editor .node .socket.input:hover {
        background-color: white; }
      .node-editor .node .socket.input.dataSource.used {
        background-color: #6666ff; }
      .node-editor .node .socket.input.dataSource:not(.used) {
        background-color: #0000cc; }
      .node-editor .node .socket.input.dataSource:hover {
        background-color: #6666ff; }
      .node-editor .node .socket.input.dataSources.used {
        background-color: #6666ff; }
      .node-editor .node .socket.input.dataSources:not(.used) {
        background-color: #0000cc; }
      .node-editor .node .socket.input.dataSources:hover {
        background-color: #6666ff; }
      .node-editor .node .socket.input.prev.used {
        background-color: #00e600; }
      .node-editor .node .socket.input.prev:not(.used) {
        background-color: #004d00; }
      .node-editor .node .socket.input.prev:hover {
        background-color: #00e600; }
      .node-editor .node .socket.input.condition.used {
        background-color: orange; }
      .node-editor .node .socket.input.condition:not(.used) {
        background-color: #664200; }
      .node-editor .node .socket.input.condition:hover {
        background-color: orange; }
      .node-editor .node .socket.input.conditions.used {
        background-color: orange; }
      .node-editor .node .socket.input.conditions:not(.used) {
        background-color: #664200; }
      .node-editor .node .socket.input.conditions:hover {
        background-color: orange; }
      .node-editor .node .socket.input.keyValueSources.used {
        background-color: #6666ff; }
      .node-editor .node .socket.input.keyValueSources:not(.used) {
        background-color: #0000cc; }
      .node-editor .node .socket.input.keyValueSources:hover {
        background-color: #6666ff; }
      .node-editor .node .socket.input.parameters.used {
        background-color: #6666ff; }
      .node-editor .node .socket.input.parameters:not(.used) {
        background-color: #0000cc; }
      .node-editor .node .socket.input.parameters:hover {
        background-color: #6666ff; }
      .node-editor .node .socket.input.startValue.used {
        background-color: #6666ff; }
      .node-editor .node .socket.input.startValue:not(.used) {
        background-color: #0000cc; }
      .node-editor .node .socket.input.startValue:hover {
        background-color: #6666ff; }
      .node-editor .node .socket.input.scriptSource.used {
        background-color: #6666ff; }
      .node-editor .node .socket.input.scriptSource:not(.used) {
        background-color: #0000cc; }
      .node-editor .node .socket.input.scriptSource:hover {
        background-color: #6666ff; }
      .node-editor .node .socket.input.nodeSource.used {
        background-color: #6666ff; }
      .node-editor .node .socket.input.nodeSource:not(.used) {
        background-color: #0000cc; }
      .node-editor .node .socket.input.nodeSource:hover {
        background-color: #6666ff; }
      .node-editor .node .socket.input.propertyNameSource.used {
        background-color: #6666ff; }
      .node-editor .node .socket.input.propertyNameSource:not(.used) {
        background-color: #0000cc; }
      .node-editor .node .socket.input.propertyNameSource:hover {
        background-color: #6666ff; }
      .node-editor .node .socket.input.handledNodes.used {
        background-color: red; }
      .node-editor .node .socket.input.handledNodes:not(.used) {
        background-color: #660000; }
      .node-editor .node .socket.input.handledNodes:hover {
        background-color: red; }
      .node-editor .node .socket.input.condition_baseNode.used {
        background-color: orange; }
      .node-editor .node .socket.input.condition_baseNode:not(.used) {
        background-color: #664200; }
      .node-editor .node .socket.input.condition_baseNode:hover {
        background-color: orange; }
      .node-editor .node .socket.output.used {
        background-color: white; }
      .node-editor .node .socket.output:not(.used) {
        background-color: #b3b3b3; }
      .node-editor .node .socket.output:hover {
        background-color: white; }
      .node-editor .node .socket.output.next.used {
        background-color: #00e600; }
      .node-editor .node .socket.output.next:not(.used) {
        background-color: #004d00; }
      .node-editor .node .socket.output.next:hover {
        background-color: #00e600; }
      .node-editor .node .socket.output.trueElement.used {
        background-color: #00e600; }
      .node-editor .node .socket.output.trueElement:not(.used) {
        background-color: #004d00; }
      .node-editor .node .socket.output.trueElement:hover {
        background-color: #00e600; }
      .node-editor .node .socket.output.falseElement.used {
        background-color: #00e600; }
      .node-editor .node .socket.output.falseElement:not(.used) {
        background-color: #004d00; }
      .node-editor .node .socket.output.falseElement:hover {
        background-color: #00e600; }
      .node-editor .node .socket.output.dataTarget.used {
        background-color: #6666ff; }
      .node-editor .node .socket.output.dataTarget:not(.used) {
        background-color: #0000cc; }
      .node-editor .node .socket.output.dataTarget:hover {
        background-color: #6666ff; }
      .node-editor .node .socket.output.result.used {
        background-color: orange; }
      .node-editor .node .socket.output.result:not(.used) {
        background-color: #664200; }
      .node-editor .node .socket.output.result:hover {
        background-color: orange; }
      .node-editor .node .socket.output.objectDataTarget.used {
        background-color: #6666ff; }
      .node-editor .node .socket.output.objectDataTarget:not(.used) {
        background-color: #0000cc; }
      .node-editor .node .socket.output.objectDataTarget:hover {
        background-color: #6666ff; }
      .node-editor .node .socket.output.loopBody.used {
        background-color: #00e600; }
      .node-editor .node .socket.output.loopBody:not(.used) {
        background-color: #004d00; }
      .node-editor .node .socket.output.loopBody:hover {
        background-color: #00e600; }
      .node-editor .node .socket.output.forkBody.used {
        background-color: #00e600; }
      .node-editor .node .socket.output.forkBody:not(.used) {
        background-color: #004d00; }
      .node-editor .node .socket.output.forkBody:hover {
        background-color: #00e600; }
      .node-editor .node .socket.output.call.used {
        background-color: #6666ff; }
      .node-editor .node .socket.output.call:not(.used) {
        background-color: #0000cc; }
      .node-editor .node .socket.output.call:hover {
        background-color: #6666ff; }
      .node-editor .node .socket.output.exceptionHandler.used {
        background-color: red; }
      .node-editor .node .socket.output.exceptionHandler:not(.used) {
        background-color: #660000; }
      .node-editor .node .socket.output.exceptionHandler:hover {
        background-color: red; }
    .node-editor .node .input-title, .node-editor .node .output-title {
      vertical-align: middle;
      color: white;
      display: inline-block;
      font-family: sans-serif;
      font-size: 14px;
      margin: 10px 0;
      line-height: 16px; }
    .node-editor .node .input-control {
      z-index: 1;
      vertical-align: middle;
      display: inline-block; }
    .node-editor .node .control {
      width: 100%;
      padding: 10px 18px; }
    .node-editor .node .control-title {
      vertical-align: middle;
      color: white;
      display: inline-block;
      font-family: sans-serif;
      font-size: 14px;
      line-height: 16px;
      margin-left: 25px; }
    .node-editor .node .control-textarea {
      vertical-align: middle;
      background: rgba(22, 22, 22, 0.7);
      color: white;
      font-family: sans-serif;
      font-size: 14px;
      line-height: 16px;
      min-height: 50px;
      overflow: hidden; }
    .node-editor .node .control-select {
      vertical-align: middle;
      background: rgba(22, 22, 22, 0.7);
      color: white;
      font-family: sans-serif;
      font-size: 14px;
      line-height: 16px;
      width: 100%; }
    .node-editor .node .control-text {
      width: 100%; }
  .node-editor .group {
    border-radius: 16px;
    background: rgba(15, 80, 255, 0.2);
    cursor: pointer;
    width: inherit;
    height: inherit;
    border: 6px solid transparent;
    position: absolute; }
    .node-editor .group.active {
      border-color: #ffd92c; }
    .node-editor .group .group-title {
      color: white;
      font-family: sans-serif;
      font-size: 18px;
      padding: 12px; }
    .node-editor .group .group-handler {
      background: transparent;
      width: 40px;
      height: 40px;
      position: absolute; }
      .node-editor .group .group-handler.right.bottom {
        cursor: se-resize;
        right: -10px;
        bottom: -10px; }
      .node-editor .group .group-handler.left.top {
        cursor: nw-resize;
        left: -10px;
        top: -10px; }
      .node-editor .group .group-handler.right.top {
        cursor: ne-resize;
        right: -10px;
        top: -10px; }
      .node-editor .group .group-handler.left.bottom {
        cursor: sw-resize;
        left: -10px;
        bottom: -10px; }
  .node-editor .connections {
    position: absolute;
    overflow: visible;
    pointer-events: none; }
    .node-editor .connections .connection {
      fill: none;
      stroke: #eee;
      stroke-width: 2px;
      pointer-events: none; }
      .node-editor .connections .connection.active {
        stroke: #aaa; }
      .node-editor .connections .connection.output-next.input-prev {
        stroke: #00e600; }
      .node-editor .connections .connection.output-falseelement.input-prev {
        stroke: #00e600; }
      .node-editor .connections .connection.output-trueelement.input-prev {
        stroke: #00e600; }
      .node-editor .connections .connection.output-datatarget.input-datasource {
        stroke: #6666ff; }
      .node-editor .connections .connection.output-datatarget.input-datasources {
        stroke: #6666ff; }
      .node-editor .connections .connection.output-objectdatatarget.input-keyvaluesources {
        stroke: #6666ff; }
      .node-editor .connections .connection.output-result.input-condition {
        stroke: orange; }
      .node-editor .connections .connection.output-result.input-conditions {
        stroke: orange; }
      .node-editor .connections .connection.output-result.input-condition_basenode {
        stroke: orange; }
      .node-editor .connections .connection.output-call.input-parameters {
        stroke: #6666ff; }
      .node-editor .connections .connection.output-loopbody.input-prev {
        stroke: #00e600; }
      .node-editor .connections .connection.output-forkbody.input-prev {
        stroke: #00e600; }
      .node-editor .connections .connection.output-datatarget.input-startvalue {
        stroke: #6666ff; }
      .node-editor .connections .connection.output-datatarget.input-scriptsource {
        stroke: #6666ff; }
      .node-editor .connections .connection.output-datatarget.input-nodesource {
        stroke: #6666ff; }
      .node-editor .connections .connection.output-datatarget.input-propertynamesource {
        stroke: #6666ff; }
      .node-editor .connections .connection.output-exceptionhandler.input-handlednodes {
        stroke: red; }
      .node-editor .connections .connection.output-cases.input-switch {
        stroke: orange; }
  .node-editor select, .node-editor input {
    width: 60px;
    background-color: transparent;
    padding: 2px 6px;
    border: 1px solid white;
    font-size: 14px;
    color: white; }

.context-menu {
  left: 0;
  top: 0;
  position: absolute;
  padding: 10px;
  margin-top: -20px;
  font-family: sans-serif; }
  .context-menu > .item {
    border: 1px solid white;
    margin-left: -80%; }
    .context-menu > .item .subitems {
      position: absolute;
      display: none;
      left: 100%;
      top: 0;
      border-radius: 10px; }
    .context-menu > .item:hover .subitems {
      display: block; }
    .context-menu > .item.have-subitems {
      padding-right: 16px; }
      .context-menu > .item.have-subitems:after {
        content: "►";
        position: absolute;
        opacity: 0.6;
        right: 5px;
        top: 5px; }
  .context-menu .item {
    padding: 4px;
    border: 1px solid #363636;
    color: #fff;
    background-color: rgba(35, 35, 35, 0.7);
    cursor: pointer;
    width: 250px;
    position: relative; }
    .context-menu .item:first-child {
      border-radius: 10px 10px 0 0; }
    .context-menu .item:last-child {
      border-radius: 0 0 10px 10px; }
    .context-menu .item:hover {
      background-color: rgba(73, 73, 73, 0.7); }

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal#editorModal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #363636;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 40%; }
    .modal#editorModal .modal-content .CodeMirror {
      border: 1px solid #888;
      height: 100%; }
    .modal#editorModal .modal-content .cm-tab {
      border-right: 1px solid rgba(200, 200, 200, 0.2);
      margin-left: -1px; }
  .modal#layoutModal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #363636;
    padding: 20px;
    border: 1px solid white;
    min-width: 20%; }
    .modal#layoutModal .modal-content .layout-controls h2 {
      font-family: sans-serif;
      color: white; }
    .modal#layoutModal .modal-content .layout-controls .inline {
      display: inline-block; }
    .modal#layoutModal .modal-content .layout-controls .input-group {
      vertical-align: middle;
      background: rgba(22, 22, 22, 0.7);
      color: white;
      font-family: sans-serif;
      font-size: 18px;
      line-height: 16px;
      border: 1px solid white;
      padding: 10px; }
      .modal#layoutModal .modal-content .layout-controls .input-group:hover {
        background: rgba(48, 48, 48, 0.7); }
    .modal#layoutModal .modal-content .layout-controls select, .modal#layoutModal .modal-content .layout-controls button {
      vertical-align: middle;
      background: rgba(22, 22, 22, 0.7);
      color: white;
      font-family: sans-serif;
      font-size: 18px;
      line-height: 16px;
      border: 1px solid white;
      padding: 12px; }
      .modal#layoutModal .modal-content .layout-controls select:focus, .modal#layoutModal .modal-content .layout-controls button:focus {
        outline: none; }
      .modal#layoutModal .modal-content .layout-controls select:hover, .modal#layoutModal .modal-content .layout-controls button:hover {
        background: rgba(48, 48, 48, 0.7); }

span.close {
  color: white;
  float: right;
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: -10px; }
  span.close:hover {
    text-decoration: none;
    cursor: pointer; }
  span.close:focus {
    text-decoration: none;
    cursor: pointer; }

#executionResult {
  position: absolute;
  background-color: rgba(54, 54, 54, 0.3);
  top: 0;
  left: calc(80% - 20px);
  height: calc(100% - 20px);
  width: 20%;
  z-index: 2;
  padding: 10px; }
  #executionResult h4 {
    font-family: sans-serif;
    color: white; }
  #executionResult pre {
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    color: black;
    background-color: white;
    padding: 5px;
    overflow: auto;
    line-height: 1; }

.area-selector {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  z-index: 2; }
  .area-selector .selection {
    fill: dimgray;
    stroke: #838383;
    fill-opacity: 0.3;
    stroke-opacity: 0.7;
    stroke-width: 2;
    stroke-dasharray: 5, 5; }

.query-operation {
  position: relative;
  background: #f1f1f1; }
  .query-operation.query-sort {
    padding-top: 25px;
    background: #f1f1f1; }
    .query-operation.query-sort .query-key-select {
      min-width: 50%; }
    .query-operation.query-sort .query-order-select {
      min-width: 20%; }
  .query-operation select, .query-operation input {
    min-width: 27%; }
  .query-operation .query-operation-delete {
    float: right; }

.query-group {
  min-width: 400px;
  position: relative;
  padding: 0 0 0 15px;
  background: #b3b3b3; }
  .query-group .query-controls {
    background: #f1f1f1; }
  .query-group .query-group-operations {
    position: relative; }
  .query-group .query-controls .query-button-group {
    display: inline-block; }
    .query-group .query-controls .query-button-group.query-button-group-operation .query-group-button-and, .query-group .query-controls .query-button-group.query-button-group-operation .query-group-button-or, .query-group .query-controls .query-button-group.query-button-group-operation .query-group-button-not {
      background-color: #f1f1f1; }
      .query-group .query-controls .query-button-group.query-button-group-operation .query-group-button-and.active, .query-group .query-controls .query-button-group.query-button-group-operation .query-group-button-or.active, .query-group .query-controls .query-button-group.query-button-group-operation .query-group-button-not.active {
        background-color: #81ce25; }
      .query-group .query-controls .query-button-group.query-button-group-operation .query-group-button-and:hover, .query-group .query-controls .query-button-group.query-button-group-operation .query-group-button-or:hover, .query-group .query-controls .query-button-group.query-button-group-operation .query-group-button-not:hover {
        background-color: #e7e7e7; }

/*# sourceMappingURL=FlowEditor.css.map */
