
<div class="select-and-button">
	<select class="select-create-type" id="folder-type">
		<option value="Folder">Folder</option>
	</select><button class="action add_folder_icon button" id="add-folder-button">
		<i title="Add Folder" class="${_Icons.getFullSpriteClass(_Icons.add_folder_icon)}"></i>
		<span>Add Folder</span>
	</button>
</div>

<div class="select-and-button">
	<select class="select-create-type" id="file-type">
		<option value="File">File</option>
	</select><button class="action add_file_icon button" id="add-file-button">
		<i title="Add File" class="${_Icons.getFullSpriteClass(_Icons.add_file_icon)}"></i>
		<span>Add File</span>
	</button>
</div>

<button class="duplicate_finder button">
	<i title="Find duplicates" class="${_Icons.getFullSpriteClass(_Icons.search_icon)}"></i>
	Find Duplicates
</button>

<button class="mount_folder button">
	<i title="Mount Folder" class="${_Icons.getFullSpriteClass(_Icons.folder_connect_icon)}"></i>
	Mount Folder
</button>