<table id="mount-dialog" class="props">
	<tr>
		<td>Name</td>
		<td><input type="text" class="mount-option" data-attribute-name="name"></td>
	</tr>
	<tr>
		<td>Mount Target</td>
		<td><input type="text" class="mount-option" data-attribute-name="mountTarget"></td>
	</tr>
	<tr>
		<td>Do Fulltext Indexing</td>
		<td><input type="checkbox" class="mount-option" data-attribute-name="mountDoFulltextIndexing"></td>
	</tr>
	<tr>
		<td>Scan Interval (s)</td>
		<td><input type="number" class="mount-option" data-attribute-name="mountScanInterval"></td>
	</tr>
	<tr>
		<td data-info-text="${config.typeInfo.enabledChecksums.hint}">Enabled Checksums</td>
		<td><input type="text" class="mount-option" data-attribute-name="enabledChecksums"></td>
	</tr>
	<tr>
		<td>Watch Folder Contents</td>
		<td><input type="checkbox" class="mount-option" data-attribute-name="mountWatchContents"></td>
	</tr>
</table>