<link rel="stylesheet" type="text/css" media="screen" href="css/files.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/lib/cropper.min.css">


<div class="tree-main" id="files-main">

	<div class="column-resizer"></div>

	<div class="tree-container" id="file-tree-container">
		<div class="tree" id="file-tree">

		</div>
	</div>

	<div class="tree-contents-container" id="folder-contents-container">
		<div class="tree-contents tree-contents-with-top-buttons" id="folder-contents">

		</div>
	</div>

</div>

<div class="searchBox module-dependend" data-structr-module="text-search">
	<input class="search" name="search" placeholder="Search...">
	<i class="clearSearchIcon ${_Icons.getFullSpriteClass(_Icons.grey_cross_icon)}" />
</div>