<div id="files-action-buttons" class="flex-grow">

	<div class="inline-flex">

		<select class="select-create-type mr-2" id="folder-type">
			<option value="Folder">Folder</option>
			${config.folderTypes.map(type => '<option value="' + type + '">' + type + '</option>').join('')}
		</select>

		<button class="action add_folder_icon button inline-flex items-center" id="add-folder-button">
			${_Icons.getSvgIcon('folder_add', 16, 16, ['mr-1'])}
			<span>Add</span>
		</button>

		<select class="select-create-type mr-2" id="file-type">
			<option value="File">File</option>
			${config.fileTypes.map(type => '<option value="' + type + '">' + type + '</option>').join('')}
		</select>

		<button class="action add_file_icon button inline-flex items-center" id="add-file-button">
			${_Icons.getSvgIcon('file_add', 16, 16, ['mr-1'])}
			<span>Add</span>
		</button>

		<button class="mount_folder button inline-flex items-center" id="mount-folder-dialog-button">
			${_Icons.getSvgIcon('folder_link', 16, 16, ['mr-1'])}
			Mount Folder
		</button>

	</div>
</div>

<div class="searchBox module-dependend" data-structr-module="text-search">
	<input id="files-search-box" class="search" name="search" placeholder="Search...">
	<i class="clearSearchIcon ${_Icons.getFullSpriteClass(_Icons.grey_cross_icon)}"></i>
</div>