<div class="searchBox module-dependend" data-structr-module="text-search">
	<input id="files-search-box" class="search" name="search" placeholder="Search...">
	<i class="clearSearchIcon ${_Icons.getFullSpriteClass(_Icons.grey_cross_icon)}"></i>
</div>

<div id="files-action-buttons">

	<div class="select-and-button">
		<select class="select-create-type" id="folder-type">
			<option value="Folder">Folder</option>
			${config.folderTypes.map(type => '<option value="' + type + '">' + type + '</option>').join('')}
		</select>
		<button class="action add_folder_icon button" id="add-folder-button">
			<i title="Add Folder" class="${_Icons.getFullSpriteClass(_Icons.add_folder_icon)}"></i>
			<span>Add</span>
		</button>
	</div>

	<div class="select-and-button">
		<select class="select-create-type" id="file-type">
			<option value="File">File</option>
			${config.fileTypes.map(type => '<option value="' + type + '">' + type + '</option>').join('')}
		</select>
		<button class="action add_file_icon button" id="add-file-button">
			<i title="Add File" class="${_Icons.getFullSpriteClass(_Icons.add_file_icon)}"></i>
			<span>Add</span>
		</button>
	</div>

	<button class="mount_folder button" id="mount-folder-dialog-button">
		<i title="Mount Folder" class="${_Icons.getFullSpriteClass(_Icons.folder_connect_icon)}"></i>
		Mount Folder
	</button>

</div>