<link rel="stylesheet" type="text/css" media="screen" href="css/crud.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/mail-templates.css">

<form id="create-mail-template-form" autocomplete="off">
	<input title="Enter a name to create a mail template" id="mail-template-name-preselect" type="text" size="30" placeholder="Name" required>

	<button type="submit" form="create-mail-template-form" class="action btn" id="create-mail-template"><i class="${_Icons.getFullSpriteClass(_Icons.add_icon)}"></i> New Mail Template</button>
</form>

<div id="mail-templates-pager"></div>
