<link rel="stylesheet" type="text/css" media="screen" href="css/crud.css">

<div id="mail-templates-main">

	<div class="column-resizer column-resizer-left"></div>

	<div id="mail-templates-list-container">
		<div id="mail-templates-list" class="resourceBox">
			<div id="mail-templates-pager"></div>
			<button id="create-mail-template"><i class="${_Icons.getFullSpriteClass(_Icons.add_icon)}"></i> New Mail Template</button>
			<table id="mail-templates-table">
				<thead><tr>
					<th><a class="sort" data-sort="name">Name</a></th>
					<th class="narrow"><a class="sort" data-sort="sourceType">Locale</a></th>
					<th id="mail-templates-list-th-actions" class="narrow">Actions</th>
				</tr></thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

	<div id="mail-template-detail" class="resourceBox">
		<div id="mail-template-detail-inner">
			<h2><span class="show-in-modes" data-modes="create">New </span>Mail Template<span class="show-in-modes" data-modes="preview"> Preview</span></h2>
			<iframe id="mail-template-preview" class="show-in-modes" data-modes="preview"></iframe>
			<div class="actions">
				<button class="exit-preview show-in-modes" data-modes="preview"><i class="${_Icons.getFullSpriteClass(_Icons.tick_icon)}"></i> Exit Preview</button>
			</div>
			<div id="mail-template-detail-wrapper">
				<table id="mail-template-detail-table" class="show-in-modes" data-modes="edit|create">
					<tr>
						<th class="name">Name</th>
						<td><input type="text" class="property" data-property="name" /></td>
					</tr><tr>
						<th>Locale</th>
						<td><input type="text" class="property" data-property="locale" /></td>
					</tr><tr>
						<th>Visible To Public Users</th>
						<td><input class="property" type="checkbox" data-property="visibleToPublicUsers" /></td>
					</tr><tr>
						<th>Visible To Authenticated Users</th>
						<td><input class="property" type="checkbox" data-property="visibleToAuthenticatedUsers" /></td>
					</tr><tr>
						<th>Text</th>
						<td><textarea class="property" data-property="text"></textarea></td>
					</tr></tbody>
				</table>
				<div class="actions">
					<button class="save show-in-modes" data-modes="create"><i class="${_Icons.getFullSpriteClass(_Icons.tick_icon)}"></i> Save</button>
					<button class="cancel show-in-modes" data-modes="create"><i class="${_Icons.getFullSpriteClass(_Icons.cross_icon)}"></i> Cancel</button>
					<button class="preview show-in-modes" data-modes="edit"><i class="${_Icons.getFullSpriteClass(_Icons.search_icon)}"></i> Preview HTML</button>
				</div>
			</div>
		</div>
	</div>
</div>