<div id="mail-templates-main" style="display: none">

	<div class="column-resizer column-resizer-left"></div>

	<div id="mail-templates-list-container">
		<div id="mail-templates-list" class="resourceBox">
			<table id="mail-templates-table">
<!--				<thead><tr>-->
<!--					<th><a class="sort" data-sort="name">Name</a></th>-->
<!--					<th class="narrow"><a class="sort" data-sort="sourceType">Locale</a></th>-->
<!--					<th id="mail-templates-list-th-actions" class="narrow">Actions</th>-->
<!--				</tr></thead>-->
				<tbody></tbody>
			</table>
		</div>
	</div>

	<div id="mail-templates-detail-container" style="display: none;">

		<form id="mail-template-detail-form">

			<input id="mail-template-id" type="hidden" class="property" data-property="id">

			<div class="form-row">
				<div class="form-col">
					<label for="mail-template-name">Name</label>
					<input id="mail-template-name" type="text" size="30" class="property" data-property="name">
				</div>

				<div class="form-col">
					<label for="mail-template-locale">Locale</label>
					<input id="mail-template-locale" type="text" size="6" class="property" data-property="locale">
				</div>
			</div>

			<div class="form-row">
				<input id="mail-template-visible-to-public-users" class="property" type="checkbox" data-property="visibleToPublicUsers">
				<label for="mail-template-visible-to-public-users">Visible to public users</label>
			</div>

			<div class="form-row">
				<input id="mail-template-visible-to-authenticated-users" class="property" type="checkbox" data-property="visibleToAuthenticatedUsers">
				<label for="mail-template-visible-to-authenticated-users">Visible to authenticated users</label>
			</div>

			<div class="form-row">
				<div class="form-col">
					<label for="mail-template-text">Content</label>
					<textarea id="mail-template-text" class="property" data-property="text"></textarea>
				</div>

				<div class="form-col">
					<label for="mail-template-preview">Preview</label>
					<iframe id="mail-template-preview"></iframe>
				</div>
			</div>

		</form>
		<div class="actions">
			<button class="save show-in-modes" data-modes="create"><i class="${_Icons.getFullSpriteClass(_Icons.tick_icon)}"></i> Save</button>
		</div>
	</div>
</div>