<ul class="tabs-menu">
  <li>
    <a href="#dashboard:about-me">About Me</a>
  </li>
  <li>
    <a href="#dashboard:about-structr">About Structr</a>
  </li>
  <li>
    <a href="#dashboard:deployment">Deployment</a>
  </li>
  <li>
    <a href="#dashboard:global-schema-methods">Global schema methods</a>
  </li>
  <li>
    <a href="#dashboard:server-log">Server Log</a>
  </li>
  <li>
    <a href="#dashboard:event-log">Event Log</a>
  </li>
  <li>
    <a href="#dashboard:ui-config">UI Settings</a>
  </li>
</ul>