<div id="dashboard">

	<ul class="tabs-menu">
		<li class="active">
			<a href="#dashboard-about-me">About Me</a>
		</li>
		<li>
			<a href="#dashboard-about-structr">About Structr</a>
		</li>
		<li>
			<a href="#dashboard-deployment">Deployment</a>
		</li>
		<li>
			<a href="#dashboard-global-schema-methods">Global schema methods</a>
		</li>
		<li>
			<a href="#dashboard-server-log">Server Log</a>
		</li>
		<li>
			<a href="#dashboard-event-log">Event Log</a>
		</li>
		<li>
			<a href="#dashboard-ui-config">UI Settings</a>
		</li>
<!--		<li>
			<a href="#dashboard-sysinfo">System Information</a>
		</li>-->
	</ul>

	<div class="tabs-contents">

		<div class="tab-content active" id="dashboard-about-me">
			<p>You are currently logged in as <b>${config.meObj.name}</b></p>
			<table class="props">
				<tr><td class="key">ID</td><td>${config.meObj.id}</td></tr>
				<tr><td class="key">E-Mail</td><td>${config.meObj.eMail || ''}</td></tr>
				<tr><td class="key">Working Directory</td><td>${config.meObj.workingDirectory ? config.meObj.workingDirectory.name : ''}</td></tr>
				<tr><td class="key">Session ID(s)</td><td>${config.meObj.sessionIds.join('<br>')}</td></tr>
				<tr><td class="key">Groups</td><td>${config.meObj.groups.map(function(g) { return g.name; }).join(', ')}</td></tr>
			</table>

			<button class="action" id="clear-local-storage-on-server">Reset stored UI settings</button>
		</div>

		<div class="tab-content" id="dashboard-about-structr">

			<table class="props">
				<tr><td class="key">Version</td><td>${config.envInfo.version} ${config.envInfo.build} ${config.envInfo.date} <span id="version-update-info"></span></td></tr>
				<tr><td class="key">Edition</td><td><i title="Structr ${config.envInfo.edition} Edition" class="${_Icons.getFullSpriteClass(_Icons.getIconForEdition(config.envInfo.edition))}"></i> (Structr ${config.envInfo.edition} Edition)</td></tr>
				<tr><td class="key">Modules</td><td>${Object.keys(config.envInfo.modules).join(', ')}</td></tr>
				<tr><td class="key">Licensee</td><td>${config.envInfo.licensee || 'Unlicensed'}</td></tr>
				<tr><td class="key">Host ID</td><td>${config.envInfo.hostId || ''}</td></tr>
				<tr><td class="key">License Start Date</td><td>${config.envInfo.startDate || '-'}</td></tr>
				<tr><td class="key">License End Date</td><td class="end-date">${config.envInfo.endDate || '-'}</td></tr>
				<tr><td class="key">Database Driver</td><td class="db-driver">${config.databaseDriver}</td></tr>
			</table>
		</div>

		<div class="tab-content" id="dashboard-deployment">

			<table>
				<thead>
					<tr>
						<td><h2>Import</h2></td>
						<td><h2>Export</h2></td>
					</tr>
				</thead>
				<tr>
					<td>

						<h3>Import <u>application</u> from local directory</h3>
						<div>
							<input type="text" id="deployment-source-input" placeholder="Local directory path for app import"><br>
							<button class="action" id="do-app-import">Import from local directory</button>
						</div>

						<h3>Import <u>data</u> from local directory</h3>
						<div>
							<input type="text" id="data-import-source-input" placeholder="Local directory path for data import"><br>
							<button class="action" id="do-data-import">Import data from local directory</button>
						</div>

						<h3>Import <u>application</u> from URL</h3>
						${(config.deployServletAvailable ? '' : '<span class="deployment-warning">Deployment via URL is not possible because <code>DeployServlet</code> is not running.</span>')}
						<div>
							<input type="hidden" id="redirect-url" value="${window.location.href}">
							<input type="text" id="deployment-url-input" placeholder="Download URL of ZIP file for app import" name="downloadUrl" ${(config.deployServletAvailable ? '' : 'disabled')}><br>
							<button class="action ${(config.deployServletAvailable ? '' : 'disabled')}" ${(config.deployServletAvailable ? '' : 'disabled')} id="do-app-import-from-url">Import app from ZIP file</button>
						</div>

					</td>
					<td>
						<h3>Export <u>application</u> to local directory</h3>
						<div>
							<input type="text" id="app-export-target-input" placeholder="Local directory path for app export"><br>
							<button class="action" id="do-app-export">Export app to local directory</button>
						</div>

						<h3>Export <u>data</u> to local directory</h3>
						<div>
							<input type="text" id="data-export-target-input" placeholder="Local directory path for data export"><br>
							<select id="data-export-types-input" class="property-attrs chosen-sortable" data-placeholder="Please select data type(s) to export" multiple="multiple"></select><br>
							<button class="action" id="do-data-export">Export data to local directory</button>
						</div>

						<h3>Export and download <u>application</u> as ZIP file</h3>
						${(config.deployServletAvailable ? '' : '<span class="deployment-warning">Export and download as ZIP file is not possible because <code>DeployServlet</code> is not running.</span>')}
						<div>
							<input type="text" id="zip-export-prefix" placeholder="ZIP File prefix" ${(config.deployServletAvailable ? '' : 'disabled')} value="${(config.zipExportPrefix || 'webapp')}"><br>
							<label class="checkbox-label"><input type="checkbox" id="zip-export-append-timestamp" ${(config.deployServletAvailable ? '' : 'disabled')} ${(config.zipExportAppendTimestamp ? 'checked' : '')}> Append timestamp</label>
							<button class="action ${(config.deployServletAvailable ? '' : 'disabled')}" ${(config.deployServletAvailable ? '' : 'disabled')} id="do-app-export-to-zip">Export and download app as ZIP file</button>
						</div>

					</td>
				</tr>
			</table>

		</div>

		<div class="tab-content" id="dashboard-global-schema-methods">

		</div>

		<div class="tab-content" id="dashboard-server-log">

			<div id="dashboard-server-log-controls">

				<label>Refresh Interval:</label>
				<select id="dashboard-server-log-refresh-interval">
					<option value="10000">10s</option>
					<option value="5000">5s</option>
					<option value="2000">2s</option>
					<option value="1000">1s</option>
					<option value="-1">off</option>
				</select>

				<span class="dashboard-spacer"></span>

				<label>Number of lines: </label>
				<input id="dashboard-server-log-lines" type="number">

				<span class="dashboard-spacer"></span>

				<button id="dashboard-server-log-copy" class="action">Copy</button>

				<span class="dashboard-spacer"></span>

				<span id="dashboard-server-log-feedback"></span>
			</div>

			<textarea readonly="readonly" rows=25></textarea>
		</div>

		<div class="tab-content" id="dashboard-sysinfo">

		</div>

		<div class="tab-content" id="dashboard-ui-config">

			<div class="menu-order-container">
				<div class="menu-order-config-container header">Main Menu</div>
				<div class="menu-order-config-container header">Sub Menu</div>
			</div>

			<div class="menu-order-container">
				<div id="main-menu-entries-config" class="connectedSortable menu-order-config-container"></div>
				<div id="sub-menu-entries-config" class="connectedSortable menu-order-config-container"></div>
			</div>

			<button id="save-menu-config" class="action">Save & Apply</button>
		</div>

		<div class="tab-content" id="dashboard-event-log">

			<div id="event-log-options">
				<label>Filter: </label>
				<select id="event-type-filter">
					<option value="">All events</option>
					<option value="Authentication">Authentication events</option>
					<option value="Cron">Cron events</option>
					<option value="Csv">CSV requests</option>
					<option value="Javascript">Javascript events</option>
					<option value="Rest">REST requests</option>
					<option value="ResourceAccess">ResourceAccess events</option>
					<option value="Transaction">Transactions</option>
					<option value="SystemInfo">SystemInfo</option>
				</select>
				<label>Number of events to show: </label>
				<input id="event-type-page-size" type="number" size="6" value="100" />
				<button id="refresh-event-log"><i class="sprite sprite-arrow_refresh"></i> Refresh</button>
			</div>

			<table class="props">
				<thead>
					<tr>
						<th style="text-align: left;">Timestamp</th>
						<th style="text-align: left;">Type</th>
						<th style="text-align: left;">Detail</th>
						<th style="text-align: left;">Data</th>
						<th style="text-align: left;">Actions</th>
					</tr>
				</thead>
				<tbody id="event-log-container"></tbody>
			</table>
		</div>

	</div>

	<style type="text/css">

		div#dashboard {
			margin: 12px;
			height: calc(100% - 12px);
		}

		div#dashboard .tab-content {
			padding: 12px;
			height: calc(100% - 34px);
			overflow: auto;
		}

		div#dashboard .tab-content.active {
			display: block;
		}

		div#dashboard .tabs-contents {
			height: calc(100% - 18px);
		}

		#about-structr .props {
			margin-top: 10px;
		}

		#about-structr .props i {
			cursor: default;
		}

		.heading-narrow {
			margin: 4px 0;
		}

		#params {
			display: inline-block;
			width: 50%;
			vertical-align: top;
		}

		#params i.button.sprite-delete {
			margin-left: 2px;
			vertical-align: sub;
		}

		.global-method {
			padding: 12px 8px;
			border: 1px solid #ddd;
			border-bottom: 0;
			line-height: 2em;
		}

		.global-method button.action {
			margin-left: 1em;
			margin-right: 1em;
		}

		.global-method:last-of-type {
			border-bottom: 1px solid #ddd;
		}

		.global-method img.icon, .global-method i.icon {
			vertical-align: bottom;
			width: 16px;
			max-height: 16px;
		}

		#global-method-comment {
			display: inline-block;
			width: 47.5%;
			margin-left: 2.5%;
			vertical-align: top;
		}

		#dashboard-deployment table {
			width: 100%;
		}

		#dashboard-deployment td {
			width: 50%;
			padding: 0 10px;
			vertical-align: top;
		}

		#dashboard-deployment .deployment-warning {
			color: red;
			margin-bottom: 6px;
			display: inline-block;
		}

		#dashboard-deployment input[type=text] {
			width: calc(100% - 24px);
			height: 15px;
			margin: 0 4px 12px 0;
		}

		#dashboard-deployment label.checkbox-label {
			display: block;
			height: 15px;
			margin: 0 4px 12px 0;
		}

		#dashboard-deployment td > div {
			margin-bottom: 36px;
		}

		#dashboard-deployment h3 {
			margin-top: 0;
		}

		#data_export_types_input_chosen {
			margin: 0 4px 12px 0;
		}

		#data_export_types_input_chosen .search-field {
			height: 22px;
			padding-top: 3px;
		}

		#data_export_types_input_chosen .chosen-choices {
			margin-top: -3px;
		}

		#data_export_types_input_chosen .chosen-choices li.search-choice {
			padding: 1px 20px 1px 5px;
			margin: 2px 5px 2px 0;
		}

		#data_export_types_input_chosen .chosen-choices li.search-choice .search-choice-close {
			top: 2px;
		}

		#dashboard-server-log-controls {
			height: 30px;
		}

		#dashboard-server-log-lines {
			width: 64px;
		}

		#dashboard-server-log textarea {
			height: calc(100% - 40px);
			width: 100%;
			resize: none;
			font-family: monospace ! important;
		}

		#dashboard-server-log .dashboard-spacer {
			display: inline-block;
			width: 30px;
		}

		.menu-order-container {
			display: flex;
		}

		.menu-order-config-container {
			padding: 6px;
			width: 120px;
		}

		.menu-order-config-container.header {
			font-weight: bold;
			text-align: center;
		}

		.menu-item {
			border: 1px solid lightgray;
			margin-bottom: 4px;
			padding: 4px;
		}
	</style>
</div>