<div id="database-connections">
	<div style="float: left; width: 50%;">
		<table class="props" id="database-connection-table">
			<thead>
				<tr>
					<th style="text-align: left;">Name</th>
					<th style="text-align: left;">Type</th>
					<th style="text-align: left;">URL</th>
					<th style="text-align: left;">Username</th>
					<th style="text-align: center;">Status</th>
					<th style="text-align: right;"></th>
				</tr>
			</thead>
			<tbody id="database-connection-table-body">
			</tbody>
		</table>
	</div>
</div>