		<tr>
			<td colspan="6" style="text-align: left;"><b>New connection</b></td>
		</tr>
		<tr>
			<td style="text-align: left;"><input type="text" id="connection-name" placeholder="Name.." value="test" /></td>
			<td style="text-align: left;"><select><option>Neo4j</option></select></td>
			<td style="text-align: left;"><input type="text" id="connection-url" placeholder="URL.." value="bolt://localhost:7687" /></td>
			<td style="text-align: left;"><input type="text" id="connection-username" placeholder="Username.." value="admin" /></td>
			<td style="text-align: left;"><input type="password" id="connection-password" placeholder="Password.." value="neo4j" /></td>
			<td style="text-align: right;"><button id="new-database-connection-button">Create</button></td>
		</tr>
