.directory
.settings
.project
.classpath
target
structr-ui/data
structr-ui/db*
structr-ui/files*
structr-ui/snapshots
structr-ui/sessions
structr-ui/scripts
structr-ui/logs
structr-ui/layouts
structr-ui/modules
structr-ui/jsp
structr-ui/structr.conf
structr-ui/log4j.log
structr-ui/logDb.dat
structr-ui/src/test/javascript/screenshots
structr-ui/structr-ui*.pid
**nb-configuration.xml
**nohup.out
docs/html
docs/screenshots
*.DS_Store
**nbactions.xml
import-*.log
