.settings/
.project
.classpath
target
structr-app/plugins
structr-app/data
structr-app/db*
structr-app/files*
structr-app/changelog*
structr-app/exchange
structr-app/snapshots
structr-app/sessions
structr-app/scripts
structr-app/logs
structr-app/layouts
structr-app/webapp-data
structr-app/structr.conf
structr-app/structr_hostkey
structr-app/modules
structr-app/jsp
structr-app/log4j.log
structr-app/logDb.dat
structr-app/src/test/javascript/screenshots
structr-app/structr-ui*.pid
structr-app/*.key*
structr-app/src/main/resources/structr/index.html
structr-app/src/test/playwright-ui-tests/*.png*
structr-app/src/test/ui/test-results
**/logs
*.diff
**nb-configuration.xml
**nbproject
**nohup.out
**.directory
docs/html
docs/screenshots
*.DS_Store
**nbactions.xml
import-*.log
msg

# IntelliJ specific ignores
.idea
*.iml

# Neo4j files
neo4j
neo4j*/

# Key files
*.pem
*.p12
*license.key*

# actions
**/*.secrets

# files and folders created during test execution
structr-modules/structr-file-access-module/structr_hostkey
