language: java

jdk:
  - oraclejdk7
  - oraclejdk8

branches:
  only:
    - master
    - develop

cache:
  directories:
    - $HOME/.m2

env:
  - TEST_MODULE=structr-core
  - TEST_MODULE=structr-rest
  - TEST_MODULE=structr-ui

script:
  travis_retry mvn test -Dmaven.javadoc.skip=true -Dassembly.skipAssembly=true -DskipDeb=true -Denforcer.skip=true -pl $TEST_MODULE
