<div id="simple-pages-main" class="tree-main">

	<div class="column-resizer column-resizer-left"></div>

	<div class="tree-container" id="simple-pages-tree-container">
		<div class="tree-search-container" id="tree-search-container">
			<i id="cancel-search-button" class="cancel-search-button hidden fa fa-remove"></i>
			<button type="button" class="tree-back-button" id="tree-back-button" title="Back" disabled><i class="fa fa-caret-left"></i></button>
			<input type="text" class="tree-search-input" id="tree-search-input" placeholder="Search.." />
			<button type="button" class="tree-forward-button" id="tree-forward-button" title="Forward" disabled><i class="fa fa-caret-right"></i></button>
		</div>
		<div class="tree" id="simple-pages-tree">
		</div>
	</div>

	<div class="tree-contents-container" id="simple-pages-contents-container">
		<div class="tree-contents" id="simple-pages-contents">
		</div>
	</div>

	<div class="tree-context-container" id="simple-pages-context-container">
		<div class="tree-context" id="simple-pages-context">
		</div>
	</div>
</div>
