<div id="id_${config.page.id}" class="node page ui-sortable ui-droppable">
	<!--i title="Collapse ${config.page.name}" class="expand_icon sprite sprite-tree_arrow_down"></i-->
	<i class="typeIcon sprite sprite-page"></i>
	<b title="${config.page.name}" class="name_">${config.page.name}</b>
	<span class="id">${config.page.id}</span>
	<i title="Access Control and Visibility" class="key_icon button sprite sprite-key donthide" style="display: inline-block;"></i>
	<i title="Delete page '${config.page.name}'" class="delete_icon button sprite sprite-delete" style="display: none;"></i>
	<i title="Edit Properties" class="edit_props_icon button sprite sprite-application_view_detail" style="display: none;"></i>
	<i title="Clone page '${config.page.name}'" class="clone_icon button sprite sprite-page_copy" style="display: none;"></i>
</div>