<div id="id_${config.widget.id}" class="node page ui-sortable ui-droppable">
	<i class="typeIcon sprite sprite-page"></i>
	<b title="${config.widget.name}" class="name_">${config.widget.name}</b>
	<span class="id">${config.widget.id}</span>
	<i title="Access Control and Visibility" class="key_icon button sprite sprite-key donthide" style="display: inline-block;"></i>
	<i title="Delete page '${config.widget.name}'" class="delete_icon button sprite sprite-delete" style="display: none;"></i>
	<i title="Edit Properties" class="edit_props_icon button sprite sprite-application_view_detail" style="display: none;"></i>
	<i title="Clone page '${config.widget.name}'" class="clone_icon button sprite sprite-page_copy" style="display: none;"></i>
</div>