<div class="edit-template-${config.template.id} edit-header">
	<!--i title="Collapse ${config.template.name}" class="expand_icon sprite sprite-tree_arrow_down"></i-->
	<div title="${config.template.name}" class="name_">${config.template.name || ''}</div>
	<i title="Edit Properties" class="edit_props_icon button sprite sprite-application_view_detail"></i>
	<i title="Add Child Element" class="add_icon button sprite sprite-add"></i>
	<!--<i title="Remove Template" class="delete_icon button sprite sprite-page_white_delete"></i>-->
	<!--<i title="Replace Template" class="replace_icon button sprite sprite-arrow_switch"></i>-->
</div>
