<table class="duplicates-table props">
	<thead>
		<tr class="heading">
			<th colspan="7">${config.path} 
				<button class="ignore-duplicates-table-icon button"><i class="${_Icons.getFullSpriteClass(_Icons.grey_cross_icon)}" /> Ignore this time</button>
				<button class="remove-duplicate-free-table-icon button"><i class="${_Icons.getFullSpriteClass(_Icons.tick_icon)}" /> No more conflicts, remove table</button>
			</th>
		</tr>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Type</th>
			<th>Content-Type</th>
			<th>Size</th>
			<th>Checksum</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>