<h3>Event Action Mapping</h3>
<div class="row">
	<div class="option-tile">
		<label data-comment="Define a backend action and the event that triggers the action.">Select action for this element</label>
		<select class="select2" id="event-mapping-select">
			<option value="options-none">No action</option>
			<optgroup label="Click actions">
				<option value="options-create-click">Create a new data object on click</option>
				<option value="options-delete-click">Delete a data object on click</option>
				<option value="options-method-click">Execute a method on click</option>
			</optgroup>
			<optgroup label="Change actions">
				<option value="options-create-change">Create a new data object on change</option>
				<option value="options-update-change">Update a data object on change</option>
				<option value="options-method-change">Execute a method on change</option>
			</optgroup>
			<optgroup label="Other">
				<option value="options-custom">Custom configuration</option>
			</optgroup>
		</select>
	</div>
</div>
<div class="row hidden event-options options-custom">
	<div class="option-tile">
		<label data-comment="Define the frontend event that triggers the action.">Frontend event</label>
		<input type="text" id="custom-event-input">
	</div>
	<div class="option-tile">
		<label data-comment="Define the backend action that is triggered by the event.">Backend action</label>
		<input type="text" id="custom-action-input">
	</div>
	<div class="option-tile">
		<label>UUID of action target object</label>
		<input type="text" id="custom-target-input">
	</div>
</div>
<div class="row hidden event-options options-create-click options-create-change">
	<div class="option-tile">
		<label data-comment="Define the type of data object that will be created with the create action.">Select type of data object to create</label>
		<select class="select2" id="target-type-select">
			<option value=""></option>
		</select>
	</div>
</div>
<div class="row hidden event-options options-delete-click">
	<div class="option-tile">
		<label>UUID of data object to delete</label>
		<input type="text" id="delete-target-input">
	</div>
</div>
<div class="row hidden event-options options-method-click options-method-change">
	<div class="option-tile">
		<label>Name of method to execute</label>
		<input type="text" id="method-name-input">
	</div>
	<div class="option-tile">
		<label>UUID of data object to call method on</label>
		<input type="text" id="method-target-input">
	</div>
</div>
<div class="row hidden event-options options-update-change">
	<div class="option-tile">
		<label>UUID of data object to update</label>
		<input type="text" id="update-target-input">
	</div>
	<div class="option-tile">
		<label>Name of attribute to update</label>
		<input type="text" id="update-property-input">
	</div>
</div>

<div class="row hidden event-options options-reload-target"><h3>Refresh/Reload</h3></div>
<div class="row hidden event-options options-reload-target">
	<div class="option-tile">
		<label>Select refresh/reload behaviour</label>
		<select class="select2" id="reload-option-select">
			<option value="reload-none">No refresh/reload</option>
			<option value="reload-selector">Partial page refresh</option>
			<option value="reload-page">Full page reload</option>
			<option value="reload-url">Navigate to new URL</option>
			<option value="reload-event">Fire a custom event</option>
		</select>
	</div>
	<div class="option-tile reload-options hidden" id="reload-selector">
		<label>CSS selector of element to refresh</label>
		<input type="text" id="reload-selector-input">
	</div>
	<div class="option-tile reload-options hidden" id="reload-url">
		<label>Target URL</label>
		<input type="text" id="reload-url-input">
	</div>
	<div class="option-tile reload-options hidden" id="reload-event">
		<label>Event to fire</label>
		<input type="text" id="reload-event-input">
	</div>
</div>
<div class="row">
	<button type="button" class="action" id="save-event-mapping-button">Save</button>
</div>
