<div class="row event-options options-properties options-update-change options-update-click multiple-properties">
  <div class="option-tile flat narrow">
    <input type="text" class="multiple-input-name-input" placeholder="Name of input element" data-structr-id="${config.id}">
  </div>
  <div class="option-tile flat narrow">
    <input type="text" class="multiple-input-property-key-input" placeholder="Property key to update" data-structr-id="${config.id}">
  </div>
  <div class="option-tile flat narrow">
    <input type="text" class="multiple-input-css-id-input" placeholder="CSS ID" data-structr-id="${config.id}">
  </div>
  <div class="option-tile flat narrow">
    <input type="text" class="multiple-input-value-input" placeholder="Value expression" data-structr-id="${config.id}">
  </div>
</div>
