<tr class="localization">
<!--	<td><span class="placeholderText"> - not saved yet - </span></td>-->
	<td><input class="___locale"></td>
	<td><textarea class="___localizedName" cols="40"></textarea></td>
	<td><textarea class="___description" cols="40"></textarea></td>
	<td><input class="___visibleToPublicUsers" type="checkbox" checked></td>
	<td><input class="___visibleToAuthenticatedUsers" type="checkbox" checked></td>
	<td class="actions">
		<button title="Save" class="btn save">
			<i class="${_Icons.getFullSpriteClass(_Icons.tick_icon)}"></i> Save
		</button>
		<a title="Discard" class="discard">
			<svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><g transform="matrix(1,0,0,1,0,0)"><path d="M17.25,21H6.75a1.5,1.5,0,0,1-1.5-1.5V6h13.5V19.5A1.5,1.5,0,0,1,17.25,21Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path><path d="M9.75 16.5L9.75 10.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path><path d="M14.25 16.5L14.25 10.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path><path d="M2.25 6L21.75 6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path><path d="M14.25,3H9.75a1.5,1.5,0,0,0-1.5,1.5V6h7.5V4.5A1.5,1.5,0,0,0,14.25,3Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path></g></svg>
		</a>
	</td>
</tr>