<tr class="localization">
	<td>
		<input class="___locale">
	</td>
	<td>
		<textarea class="___localizedName" cols="40"></textarea>
	</td>
	<td>
		<textarea class="___description" cols="40"></textarea>
	</td>
	<td>
		<span class="abbr-ellipsis abbr-80 id"></span>
	</td>
	<td>
		<input class="___visibleToPublicUsers" type="checkbox" checked>
	</td>
	<td>
		<input class="___visibleToAuthenticatedUsers" type="checkbox" checked>
	</td>
	<td class="actions">
		<button title="Save" class="btn save">
			<i class="${_Icons.getFullSpriteClass(_Icons.tick_icon)}"></i> Save
		</button>
		<a title="Discard" class="discard">
			${_Icons.svg.trashcan}
		</a>
	</td>
</tr>