<tr class="localization">
	<td><span class="placeholderText"> - not saved yet - </span></td>
	<td><input class="___locale"></td>
	<td><textarea class="___localizedName" cols="40"></textarea></td>
	<td><textarea class="___description" cols="40"></textarea></td>
	<td><input class="___visibleToPublicUsers" type="checkbox" checked></td>
	<td><input class="___visibleToAuthenticatedUsers" type="checkbox" checked></td>
	<td><input class="___imported" type="checkbox"></td>
	<td class="actions"></td>
</tr>