<link rel="stylesheet" type="text/css" media="screen" href="css/crud.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/localization.css">

<form id="create-localization-form">
	<input title="Enter a key to create translations for" id="localization-key-preselect" type="text" size="10" placeholder="Key" required>
	<input title="Enter a domain to create translations for" id="localization-domain-preselect" type="text" size="10" placeholder="Domain">
	<input title="Enter a comma-separated list of locales (f.e. en,de,fr) to create translations for" id="localization-locale-preselect" type="text" size="10" placeholder="Locale(s)">

	<button type="submit" form="create-localization-form" class="action btn"><i class="${_Icons.getFullSpriteClass(_Icons.add_icon)}"></i> Create new localization key</button>
</form>

<div id="localization-pager"></div>
