<div id="localization-main">

	<div class="column-resizer column-resizer-left"></div>

	<div id="localization-list-container">
		<div id="localization-list" class="resourceBox">
			<table id="localization-table">
<!--				<thead><tr>-->
<!--					<th><a class="sort" data-sort="key">Key</a></th>-->
<!--					<th><a class="sort" data-sort="domain">Domain</a></th>-->
<!--					<th id="localization-list-th-actions" class="narrow">Actions</th>-->
<!--				</tr></thead>-->
				<tbody></tbody>
			</table>
		</div>
	</div>

	<div id="localization-detail-container">

		<form id="localization-detail-form">

			<div class="form-row">
				<div class="form-col">
					<label for="localization-key">Key</label>
					<input id="localization-key" type="text">
				</div>
				<div class="form-col">
					<label for="localization-domain">Domain</label>
					<input id="localization-domain" type="text">
				</div>
			</div>
		</form>
<!--		<button title="Edit" class="btn edit" id="localization-fields-edit"><i class="${_Icons.getFullSpriteClass(_Icons.edit_icon)}"></i> Edit</button>-->
		<button title="Save" class="btn save" id="localization-fields-save"><i class="${_Icons.getFullSpriteClass(_Icons.tick_icon)}"></i> Save</button>
<!--		<button title="Discard" class="btn discard" id="localization-fields-discard"><i class="${_Icons.getFullSpriteClass(_Icons.cross_icon)}"> Cancel</i></button>-->

		<button id="add-new-translation" class="create"><i class="${_Icons.getFullSpriteClass(_Icons.add_icon)}"></i> Add translation</button>
		<table id="localization-detail-table" class="props">
			<thead><tr>
<!--				<th>ID</th>-->
				<th>Locale</th>
				<th>Translation</th>
				<th>Description</th>
				<th>Public</th>
				<th>Auth. Vis.</th>
				<th></th>
			</tr></thead>
			<tbody></tbody>
		</table>
	</div>
</div>