
<div class="select-and-button">
	<select class="select-create-type" id="content-container-type">
		<option value="ContentContainer">Content Container</option>
	</select><button class="action add_container_icon button" id="add-container-button">
		<i title="Add Content Container" class="${_Icons.getFullSpriteClass(_Icons.add_icon)}"></i>
		<span>Add Content Container</span>
	</button>
</div>

<div class="select-and-button">
	<select class="select-create-type" id="content-item-type">
		<option value="ContentItem">Content Item</option>
	</select><button class="action add_item_icon button" id="add-item-button">
		<i title="Add Content Item" class="${_Icons.getFullSpriteClass(_Icons.add_icon)}"></i>
		<span>Add Content Item</span>
	</button>
</div>
