<link rel="stylesheet" type="text/css" media="screen" href="css/contents.css">

<div class="tree-main" id="contents-main">
	<div class="column-resizer"></div>

	<div class="tree-container" id="content-tree-container">
		<div class="tree" id="contents-tree">

		</div>
	</div>

	<div class="tree-contents-container" id="contents-contents-container">
		<div class="tree-contents tree-contents-with-top-buttons" id="contents-contents">

		</div>
	</div>

<div class="searchBox module-dependend" data-structr-module="text-search">
	<input class="search" name="search" placeholder="Search...">
	<i class="clearSearchIcon ${_Icons.getFullSpriteClass(_Icons.grey_cross_icon)}"></i>
</div>