<div style="margin-top: 12px;">
	<input style="width: 100%; box-sizing: border-box;" id="new-object-name-${config.suffix}" value="${config.value}" placeholder="Enter name.." />
</div>
<div style="margin-top: 8px;">
	<button id="cancel-button-${config.suffix}" type="button" class="create-form-button cancel"><i class="${ _Icons.getFullSpriteClass(_Icons.cross_icon) }"></i></button>
	<button id="create-button-${config.suffix}" type="button" class="create-form-button accept"><i class="${ _Icons.getFullSpriteClass(_Icons.tick_icon) }"></i></button>
</div>