<h2>FunctionProperty ${config.property.schemaNode.name}.${config.property.name}</h2>
<div id="property-buttons"></div>
<div class="flex flex-col flex-grow">
	<div id="read-code-container" class="property-options-group flex flex-col h-1/2">
		<h4>Read Function</h4>
		<div class="editor flex-grow" data-property="readFunction" data-recompile="false"></div>
	</div>
	<div id="write-code-container" class="property-options-group flex flex-col h-1/2">
		<div>
			<h4 data-comment="To retrieve the parameter passed to the write function, use &lt;code&gt;Structr.get('value');&lt;/code&gt; in a JavaScript context or the keyword &lt;code&gt;value&lt;/code&gt; in a StructrScript context.">Write Function</h4>
		</div>
		<div class="editor flex-grow" data-property="writeFunction" data-recompile="false"></div>
	</div>
	<div class="editor-info"></div>
</div>