<h2>Group ${config.type.name}</h2>
<div class="property-options-group">
	A customizable group of classes. To add classes, click on the class name and then on the "New group" button.
</div>

<div id="working-set-content" data-type-id="${config.type.id}"></div>
<div style="clear: both;"></div>

<div class="property-options-group">
	<p class="input"><label>Name</label><input type="text" id="group-name-input" data-property="name" size="30" value="${config.type.name}" /></p>
	<div style="clear: both;"></div>
</div>

<div id="group-contents" style="height: calc(100% - 200px); background-color: #fff;" class="fit-to-height"></div>
