<div class="tree-main" id="code-main">

	<div class="column-resizer-blocker"></div>
	<div class="column-resizer column-resizer-left"></div>
	<div class="column-resizer column-resizer-right"></div>

	<div class="tree-container" id="code-tree-container">
		<div class="tree-search-container" id="tree-search-container">
			<i id="cancel-search-button" class="cancel-search-button hidden fa fa-remove"></i>
			<button type="button" class="tree-back-button" id="tree-back-button" title="Back" disabled><i class="fa fa-caret-left"></i></button>
			<input type="text" class="tree-search-input" id="tree-search-input" placeholder="Search.." />
			<button type="button" class="tree-forward-button" id="tree-forward-button" title="Forward" disabled><i class="fa fa-caret-right"></i></button>
		</div>
		<div class="tree" id="code-tree">
		</div>
	</div>

	<div class="tree-contents-container" id="code-contents-container">
		<div class="tree-contents" id="code-contents">
		</div>
	</div>

	<div class="tree-context-container" id="code-context-container">
		<div class="tree-context" id="code-context">
		</div>
	</div>
</div>
