<link rel="stylesheet" type="text/css" media="screen" href="css/code.css">

<div class="tree-main" id="code-main">

	<div class="column-resizer-blocker"></div>
	<div class="column-resizer column-resizer-left"></div>
	<div class="column-resizer column-resizer-right"></div>

	<div class="tree-container" id="code-tree-container">
		<div class="tree" id="code-tree">
		</div>
	</div>

	<div class="tree-contents-container" id="code-contents-container">
		<div class="tree-contents" id="code-contents">
		</div>
	</div>

	<div class="tree-context-container" id="code-context-container">
		<div class="tree-context" id="code-context">
		</div>
	</div>
</div>
