<div id="method-options">
	<div class="property-options-group">
		<div id="method-actions"></div>
	</div>
	<div class="property-options-group flex flex-wrap gap-x-8">
		<div class="input">
			<label>Name</label>
			<input type="text" id="method-name-input" data-property="name" size="20" value="${config.method.name}" />
		</div>
		<div class="checkbox hidden entity-method">
			<label class="block mt-6" data-comment="Only needs to be set if the method should be callable statically (without an object context)."><input type="checkbox" data-property="isStatic" ${config.method.isStatic ? 'checked' : ''} /> isStatic</label>
		</div>
	</div>
</div>