<div id="method-options">
	<div class="property-options-group">
		<div><label>Actions</label></div>
		<div id="method-actions"></div>
		<div style="clear: both;"></div>
	</div>
	<div class="property-options-group">
		<p class="input"><label>Name</label><input type="text" id="method-name-input" size="30" value="${config.method.name}" /></p>
		<div style="clear: both;"></div>
	</div>
	<!--
	<div class="property-options-group">
		<div><label>Options</label></div>
		<p class="checkbox"><input type="checkbox" id="method-export" data-property="doExport" /><span class="toggle-checkbox" data-target="#method-export">Make method available via REST</span></p>
		<div style="clear: both;"></div>
	</div>
	-->
</div>