<div class="select-and-button">
	<input type="text" id="schema-method-name" placeholder="Name" /><button class="action add_method_icon button" id="add-method-button">
		<i title="Add Method" class="${_Icons.getFullSpriteClass(_Icons.application_form_add)}"></i>
		<span>Add Method</span>
	</button>
</div>

<button id="add-onCreate-button" class="button">
	<i title="Add onCreate method" class="${_Icons.getFullSpriteClass(_Icons.add_icon)}"></i>
	Add onCreate method
</button>

<button id="add-onSave-button" class="button">
	<i title="Add onSave method" class="${_Icons.getFullSpriteClass(_Icons.add_icon)}"></i>
	Add onSave method
</button>