<div id="method-options">
	<div class="property-options-group">
		<div><label>Actions</label></div>
		<div id="method-actions"></div>
		<div style="clear: both;"></div>
	</div>
	<div class="property-options-group">
		<p class="input">
			<label>Name</label>
			<input type="text" id="method-name-input" data-property="name" size="30" value="${config.method.name}" />
		</p>
		<p class="input">
			<button class="hidden" id="dismiss-warnings-button" style="margin: 26px 0 0 40px;" type="button"><i class="sprite sprite-tick"></i> <span>Dismiss scripting warnings</span></button>
		</p>
		<div style="clear: both;"></div>
	</div>
</div>