<div id="property-options">

	<div id="default-buttons" class="property-options-group">
		<div id="property-actions"></div>
	</div>

	<div class="property-options-group flex flex-wrap gap-x-8">
		<div><label class="font-semibold">Name</label><input type="text" id="property-name-input" data-property="name" value="${config.property.name}" /></div>
		<div><label class="font-semibold">Content type</label><input type="text" id="property-content-type-input" data-property="contentType" value="${config.property.contentType || ''}" /></div>
		<div><label class="font-semibold">Type hint</label>
			<select id="property-type-hint-input" class="type-hint" data-property="typeHint">
				<optgroup label="Type Hint">
					<option value="null">-</option>
					<option value="boolean">Boolean</option>
					<option value="string">String</option>
					<option value="int">Int</option>
					<option value="long">Long</option>
					<option value="double">Double</option>
					<option value="date">Date</option>
				</optgroup>
			</select>
		</div>
		<div><label class="font-semibold">Database name</label><input type="text" id="property-dbname-input" data-property="dbName" value="${config.property.dbName || ''}" /></div>
		<div><label class="font-semibold">Format</label><input type="text" id="property-format-input" data-property="format" value="${config.property.format || ''}" /></div>
		<div><label class="font-semibold">Default value</label><input type="text" id="property-default-input" data-property="defaultValue" value="${config.property.defaultValue || ''}" /></div>
	</div>

	<div class="property-options-group">
		<div>
			<label class="font-semibold">Options</label>
		</div>
		<div class="flex flex-wrap gap-x-8 mt-2">
			<div><label><input type="checkbox" id="property-unique" data-property="unique" ${config.property.unique ? 'checked' : ''} />Property value must be unique</label></div>
			<div><label><input type="checkbox" id="property-composite" data-property="compound" ${config.property.compound ? 'checked' : ''} />Include in composite uniqueness</label></div>
			<div><label><input type="checkbox" id="property-notnull" data-property="notNull" ${config.property.notNull ? 'checked' : ''} />Property value must not be null</label></div>
			<div><label><input type="checkbox" id="property-indexed" data-property="indexed" ${config.property.indexed ? 'checked' : ''} />Property value is indexed</label></div>
			<div><label><input type="checkbox" id="property-cached" data-property="isCachingEnabled" ${config.property.isCachingEnabled ? 'checked' : ''} />Property value can be cached</label></div>
		</div>
	</div>
</div>