<h2>Class ${config.type.name}</h2>
<div class="property-options-group">
	<div><label>Actions</label></div>
	<button id="delete-type-button" type="button" class="button"><i class="fa fa-remove" style="color: red"></i> Delete type ${config.type.name}</button>
</div>
<div class="property-options-group">
	<label>Properties</label>
	<div id="type-properties"></div>
	<div style="clear:both;"></div>
</div>
<div class="property-options-group">
	<label>Methods</label>
	<div id="type-methods"></div>
	<div style="clear:both;"></div>
</div>
<!--
<div class="property-options-group">
	<label>Generated Source Code</label>
	<div id="type-source-code"></div>
</div>
-->