<h2>Class ${config.type.name}</h2>
<div class="property-options-group">
	<div><label>Type actions</label></div>
	<div id="type-actions"></div>
	<div style="clear:both;"></div>
</div>
<h3 id="type-groups-heading">Groups</h3>
<div class="property-options-group">
	<div>
		<select id="type-groups" multiple="multiple"></select>
		<span id="add-to-new-group"></span>
	</div>
	<div style="clear:both;"></div>
</div>
<h3>Options</h3>
<div class="property-options-group">
	<div><label><input id="changelog-checkbox" type="checkbox" /> Disable changelog</label></div>
	<div style="clear:both;"></div>
</div>
<h3>Schema Grants</h3>
<div class="property-options-group">
	<div><label>Check the below boxes to grant the corresponding permissions on <b>all ${config.type.name} nodes</b> to the given group.</label></div>
	<div id="schema-grants"></div>
	<div style="clear:both;"></div>
</div>

<div id="generated-source-code" data-type-id="${config.type.id}"></div>