<h2>Class ${config.type.name}</h2>
<div class="property-options-group">
	<div><label>Type actions</label></div>
	<div id="type-actions"></div>
	<div style="clear:both;"></div>
</div>
<div class="property-options-group">
	<label>Add property</label>
	<div id="property-actions"></div>
	<div style="clear:both;"></div>
</div>
<div class="property-options-group">
	<label>Add view</label>
	<div id="view-actions"></div>
	<div style="clear:both;"></div>
</div>
<div class="property-options-group">
	<label>Add method</label>
	<div id="method-actions"></div>
	<div style="clear:both;"></div>
</div>