<div id="view-options">

	<div class="property-options-group">
		<div id="view-actions"></div>
	</div>

	<div class="property-options-group">
		<div>
			<label class="font-semibold">Name</label>
			<input type="text" id="view-name-input" data-property="name" value="${config.view.name}" />
		</div>
	</div>

	<div class="property-options-group">
		<div>
			<label class="font-semibold">Properties</label>
		</div>
		<input type="text" id="view-sort-order" class="hidden" data-property="sortOrder" value="${config.view.sortOrder || ''}">
		<div id="view-properties"></div>
	</div>

</div>
