<div class="content-container">

    <div class="inline-info">
        <div class="inline-info-icon">
            ${_Icons.getSvgIcon('info-icon', 24, 24)}
        </div>
        <div class="inline-info-text">
            Here you can define actions like creating, updating or deleting data objects in the system.<br><br>
            Actions can be triggered by specific events like click on an element, change a value or select option, or if an element looses the focus.
        </div>
    </div>

    <div class="events-container">

    </div>

</div>