<div class="flex-grow">
    <ul class="tabs-menu hidden">
        <li id="tabs-menu-basic">
            <a href="#pages:basic">Basic</a>
        </li>
        <li id="tabs-menu-html">
            <a href="#pages:html">HTML</a>
        </li>
        <li id="tabs-menu-advanced">
            <a href="#pages:advanced">Advanced</a>
        </li>
        <li id="tabs-menu-preview">
            <a href="#pages:preview">Preview</a>
        </li>
        <li id="tabs-menu-editor">
            <a href="#pages:editor">Editor</a>
        </li>
        <li id="tabs-menu-repeater">
            <a href="#pages:repeater">Repeater</a>
        </li>
        <li id="tabs-menu-events">
            <a href="#pages:events">Events</a>
        </li>
        <li id="tabs-menu-security">
            <a href="#pages:security">Security</a>
        </li>
    </ul>
</div>