<div class="content-container repeater-container">

    <div class="inline-info">
		<div class="inline-info-icon">
			<svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><g transform="matrix(1,0,0,1,0,0)"><path d="M14.25,16.5H13.5A1.5,1.5,0,0,1,12,15V11.25a.75.75,0,0,0-.75-.75H10.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path><path d="M11.625,6.75A.375.375,0,1,0,12,7.125a.375.375,0,0,0-.375-.375h0" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path><path d="M0.750 12.000 A11.250 11.250 0 1 0 23.250 12.000 A11.250 11.250 0 1 0 0.750 12.000 Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path></g></svg>
		</div>
        <div class="inline-info-text">
            A repeater is a node in the tree that is repeatedly displayed for each element of the result set.<br><br>
            The result set is a list or collection of objects that can be generated via a database query, a flow or a function.<br><br>
            The respective result element can be accessed via a keyword configured further below.
        </div>
    </div>

    <h3>Result Collection</h3>
    <div class="query-type-buttons"></div>

<!--    <h4 class="query-type-heading"></h4>-->

    <textarea class="hidden query-text"></textarea>

</div>