<div class="content-container repeater-container">

    <div class="inline-info">
		<div class="inline-info-icon">
			${_Icons.getSvgIcon('info-icon', 24, 24)}
		</div>
        <div class="inline-info-text">
            A repeater is a node in the tree that is repeatedly displayed for each element of the result set.<br><br>
            The result set is a list or collection of objects that can be generated via a database query, a flow or a function.<br><br>
            The respective result element can be accessed via a keyword configured further below.
        </div>
    </div>

    <h3>Result Collection</h3>

    <div class="query-type-buttons"></div>

	<select class="hidden" id="flow-selector"></select>
    <div class="hidden query-text"></div>

</div>