Package: structr
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Depends: openjdk-11-jdk-headless | openjdk-11-jdk | logrotate
Description: [[description]]
Maintainer: Axel Morgner <axel.morgner@structr.com>