Package: [[name]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Depends: openjdk-7-jdk | oracle-java7-jdk | oracle-java7-installer
Description: [[description]]
Maintainer: Axel Morgner <axel@morgner.de>