<div>
	<div id="sample">
		<h3>Data Sample</h3>
		<pre class="csv-preview">${config.data.result.lines}</pre>
	</div>
	<h3>Import Options</h3>
	<table id="csv-import">
		<tbody>
			<tr id="options-row1">
				<td valign="top">
					<label>Delimiter:</label>
					<select id="delimiter" class="import-option">
						<option ${(config.delim === ',' ? 'selected' : '')}>,</option>
						<option ${(config.delim === ';' ? 'selected' : '')}>;</option>
						<option ${(config.delim === '|' ? 'selected' : '')}>|</option>
					</select>
				</td>
				<td valign="top">
					<label>Quote character:</label>
					<select id="quote-char" class="import-option">
						<option ${(config.qc === '' ? 'selected' : '')}></option>
						<option ${(config.qc === '"' ? 'selected' : '')}>&quot;</option>
						<option ${(config.qc === '\'' ? 'selected' : '')}>\'</option>
					</select>
				</td>
				<td valign="top">
					<label>Record separator:</label>
					<select id="record-separator" class="import-option">
						<option ${(config.data.result.separator ===    'LF' ? 'selected' : '')}>LF</option>
						<option ${(config.data.result.separator ===    'CR' ? 'selected' : '')}>CR</option>
						<option ${(config.data.result.separator === 'CR+LF' ? 'selected' : '')}>CR+LF</option>
					</select>
				</td>
				<td valign="top">
					<label>Commit interval:</label>
					<input type="number" id="commit-interval" value="1000" placeholder="1000" title="Enter 0 to disable periodic commit.">
				</td>
			</tr>
			<tr id="options-row2">
				<td valign="top">
					<label>Import type:</label><input type="radio" name="import-type" value="node" ${(config.importType === 'node' ? 'checked' : '')}> Node<br>
					<label></label><input type="radio" name="import-type" value="rel" ${(config.importType === 'rel' ? 'checked' : '')}> Relationship<br>
					<label></label><input type="radio" name="import-type" value="graph" ${(config.importType === 'graph' ? 'checked' : '')}> Mixed
				</td>
				<td valign="top">
					<input type="checkbox" id="rfc4180-mode" /><label for="rfc4180-mode">RFC4180 mode</label><br>
					<input type="checkbox" id="strict-quotes" /><label for="strict-quotes">Strict quotes</label><br>
					<input type="checkbox" id="ignore-invalid" /><label for="ignore-invalid">Ignore invalid lines</label><br>
					<input type="checkbox" id="distinct" /><label for="distinct">Skip duplicates</label>
				</td>
				<td colspan="2" valign="top">
					<label for="range">Line range:</label>
					<input type="text" id="range" title="Enter range (0-100)." placeholder="e.g. 1-100 or 1,2,3-10" />
				</td>
			</tr>
		</tbody>
	</table>
	<div id="import-dialog-type-container"></div>
</div>