<link rel="stylesheet" type="text/css" media="screen" href="css/crud.css">

<div id="importer-main" class="resourceBox full-height-box">
	<button class="refresh">${ config.refreshIcon } Refresh</button> <input id="importer-show-notifications" type="checkbox"><label for="importer-show-notifications"> Show notifications for scheduled jobs</label>
	<div class="button-and-input"><button id="cancel-all-queued-after" class="btn"><i class="${_Icons.getFullSpriteClass(_Icons.delete_icon)}"></i> Cancel ALL <b>queued</b> jobs after ID:</button><input size="6" type="text" id="cancel-all-queued-after-job-id"></div>
	<table id="importer-jobs-table">
		<thead><tr>
			<th>Job ID</th>
			<th>Job Type</th>
			<th>User</th>
			<th>File UUID</th>
			<th>File path</th>
			<th>File size</th>
			<th>Processed Chunks</th>
			<th>Status</th>
			<th>Action</th>
		</tr></thead>
		<tbody></tbody>
	</table>
</div>