<div>
	<div id="sample">
		<h3>Data Sample</h3>
		<pre class="csv-preview">${config.data.result.lines}</pre>
	</div>
	<h3>Import Options</h3>
	<table id="csv-import">
		<tbody>
			<tr id="options-row1">
				<td>
					<label for="delimiter">Delimiter:</label>
					<select id="delimiter" class="import-option">
						<option ${(config.delim === ',' ? 'selected' : '')}>,</option>
						<option ${(config.delim === ';' ? 'selected' : '')}>;</option>
						<option ${(config.delim === '|' ? 'selected' : '')}>|</option>
					</select>
				</td>
				<td>
					<label for="quote-char">Quote character:</label>
					<select id="quote-char" class="import-option">
						<option ${(config.qc === '' ? 'selected' : '')}></option>
						<option ${(config.qc === '"' ? 'selected' : '')}>&quot;</option>
						<option ${(config.qc === '\'' ? 'selected' : '')}>\'</option>
					</select>
				</td>
				<td>
					<label for="record-separator">Record separator:</label>
					<select id="record-separator" class="import-option">
						<option ${(config.data.result.separator ===    'LF' ? 'selected' : '')}>LF</option>
						<option ${(config.data.result.separator ===    'CR' ? 'selected' : '')}>CR</option>
						<option ${(config.data.result.separator === 'CR+LF' ? 'selected' : '')}>CR+LF</option>
					</select>
				</td>
			</tr>
			<tr id="options-row2">
				<td>
					<label for="commit-interval">Commit interval:</label>
					<input type="number" id="commit-interval" value="1000" placeholder="1000" title="Enter 0 to disable periodic commit.">
				</td>
				<td>
					<input type="checkbox" id="strict-quotes" /><label for="strict-quotes">Strict Quotes</label><br>
					<input type="checkbox" id="ignore-invalid" /><label for="ignore-invalid">Ignore invalid lines</label>
				</td>
				<td>
					<label for="range">Line range:</label>
					<input type="text" id="range" title="Enter range (0-100)." placeholder="e.g. 1-100 or 1,2,3-10" />
				</td>
			</tr>
			<tr id="options-row3">
				<td>
					<label for="import-type">Import type:</label><input type="radio" id="import-type" name="import-type" value="node" ${(config.importType === 'node' ? 'checked' : '')}> Node<br>
					<label></label><input type="radio" name="import-type" value="rel" ${(config.importType === 'rel' ? 'checked' : '')}> Relationship
				</td>
				<td>
					<label for="distinct">Skip duplicates:</label>
					<input type="checkbox" id="distinct" /><br>
				</td>
				<td>
				</td>
			</tr>
		</tbody>
	</table>
	<h3>Select target type</h3>
	<select id="target-type-select" name="targetType">
		<option value="" disabled="disabled" selected="selected">Select target type..</option>
	</select>
	<span><input type="checkbox" id="target-type-custom-only" checked><label for="target-type-custom-only">Only show custom types</label></span>
	<div id="property-select"></div>
</div>