@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #e3e3e3;
  background: -moz-linear-gradient(90deg, #e0e0e0, #e5e5e5) no-repeat;
  background: -webkit-gradient(linear, left bottom, left top, from(#e0e0e0), to(#e5e5e5)) no-repeat;
  background: -moz-linear-gradient(90deg, #e0e0e0, #e5e5e5) no-repeat;
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e5e5e5', EndColorStr='#e0e0e0', GradientType=0);
}
body {
  margin: 0;
  padding: 0;
  /*font-family: "Source Sans Pro", Arial, sans-serif;*/
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  background-color: transparent;
}

#header {
    height: 60px;
    border-bottom: 1px solid #a5a5a5;
    font-size: 1.25em;
    line-height: 2em;
    background: #363636;
    background: -moz-linear-gradient(90deg, #363636, #666) no-repeat;
    background: -webkit-gradient(linear, left bottom, left top, from(#363636), to(#666)) no-repeat;
    background: -moz-linear-gradient(90deg, #363636, #666) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#666666', EndColorStr='#363636', GradientType=0);
    color: #fff;
}

#header .logo {
    position: absolute;
    top: 16px;
    left: 32px;
}

table {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

td {
  vertical-align: top;
}

td:first-child, #nav {
  width: 240px;
  height: 1000px;
  background-color: transparent;
}

#cont {
  width: 1300px;
  height: 1000px;
  background-color: #eee;
  padding: 0;
  margin: 0;
}

#menu {
  margin: 1em 0 0 32px;
  padding: 0;
}

#menu li {
  list-style-type: none;
  padding: 0 0 1em 0;
}

a, a:visited {
  color: #333;
}

a:hover, a:active {
  color: #555;
}

#main {
	margin: 0;
  padding: 0;
}

iframe {
  border: none;
  overflow: hidden;

}

section {
  margin-bottom: 1em;
}

h1 {
	color: #555;
  margin-top: 10px;
}

#header h1 {
  font-weight: normal;
  font-size: 28px;
  color: #fff;
  position: absolute;
  top: 8px;
  left: 248px;
  margin: 0;
  padding: 0;
}

#desc {
    padding: 1em 0;
}

#anim {
    border: 1px solid #a0a0a0;
}
