@charset "UTF-8";

.resourceBox {
    /*height: 600px;*/
    overflow: auto;
    border: 1px solid #999 ! important;
    background: #fff ! important;
}

.resourceBox table {
    border-collapse: collapse;
    background: #fff;
    margin: 6px 0;
}

.resourceBox td, .resourceBox th {
    padding: 0.5em;
    border: 1px solid #b3b3b3;
    text-align: left;
    vertical-align: top;
    height: 1em;
}

.resourceBox tr:nth-child(odd) {
    background: #f7f7f7 ! important;
}

.resourceBox tr:nth-child(even) {
    background: #fff ! important;
}

.resourceBox th {
    background: #f0f0f0;
    color: #333;
}

.resourceBox td.value {
    padding: 0;
}

.resourceBox td.save {
    color: #aaa;
}

.resourceBox td.save.active:hover, .resourceBox td.delete:hover, .resourceBox td.add:hover {
    cursor: pointer;
}

.resourceBox td.save.active {
    font-weight: bold;
    color: #f33;
}

.resourceBox td input[type=text] {
    margin: 0;
    /*border: none;*/
}

.resourceBox button {
    /*margin: 12px 0 0 0;*/
}

#resourceTabs {
    margin: 12px;
    border: none;
    background: none;
    padding: 0;
}

#resourceTabs li.ui-corner-top {
    font-weight: bold;
    border: 1px solid #999;
    background-color: #e9e9e9;
    background: -webkit-gradient(linear, left bottom, left top, from(#e3e3e3), to(#f7f7f7)) no-repeat;
    background: -moz-linear-gradient(90deg, #e3e3e3, #f7f7f7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7f7f7', EndColorStr='#e3e3e3', GradientType=0);
    /*cursor: pointer ! important;*/
}

#resourceTabs .ui-state-default a,
#resourceTabs .ui-state-default a:visited {
    color: #505050 ! important;
}

#resourceTabs li.ui-state-active {
    color: #333 ! important;
    background-color: #81ce25;
    background: -webkit-gradient(linear, left bottom, left top, from(#73b821), to(#90e629)) no-repeat;
    background: -moz-linear-gradient(90deg, #73b821, #90e629) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#90e629', EndColorStr='#73b821', GradientType=0);
}

#resourceTabs li.ui-state-active a,
#resourceTabs li.ui-state-active a:visited {
    color: #333 ! important;
}

#resourceTabsMenu {
    border: none;
    background: none;
    padding: 0;
}

input.readonly {
    background: #f0f0f0;
    color: #333;
}

.infoFooter {
    clear: both;
    width: 100%;
    text-align: right;
}

.exportArea {
    border: none;
    width: 770px;
    height: 590px;
    overflow: auto;
}