@charset "UTF-8";
/** Defaults */

* {
    outline: none;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*background: -webkit-gradient(linear, left bottom, left top, from(#747474), to(#cbcbcb)) no-repeat;
    background: -moz-linear-gradient(-90deg, #cbcbcb, #747474) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#747474', EndColorStr='#cbcbcb', GradientType=0);
    background-color: #e5e5e5;*/
    background: #747474 url('../images/background.gif') top left repeat-x;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*    padding: 0 1em;*/
    font-family: Arial, sans-serif;
    font-size: 8pt;
    color: #333;
    /*height: auto;*/
    background: url('../images/processing.png') top center no-repeat;
}

tt, tt *, pre, pre *, code, code * {
    font-family: "Liberation Mono", "DejaVu Sans Mono", Consolas, Monaco, "Vera Sans Mono", "Lucida Console", "Courier New", monospace !important;
}

a, a:link, a:visited {
    color: #333;
    text-decoration: none;
}

a:active, a:hover {
    color: #666;
    text-decoration: underline;
}

caption {
    text-align: left;
}

h1 {
    padding: 0.75em 0 0 1.5em;
    margin: 0;
    /*    color: #ededed;*/
}

h2 {
    padding: 0.5em 0 0.5em 0.3em;
    margin: 0;
    /*    color: #ededed;*/
}

input[readonly] {
    background-color: #ccc;
    /*    border: 1px solid #747474;*/
}

input {
    font-size: 1.0em;
    font-family: inherit;
    /*    background-color: #ededed;*/
    border: 1px solid #aaa;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

input[type=submit] {
    cursor: pointer;
    height: 2em;
    min-width: 8em;
    color: #333;
    background-color: #c9c9c9;
    background: -webkit-gradient(linear, left bottom, left top, from(#ccc), to(#fff));
    background: -moz-linear-gradient(90deg, #ccc, #fff);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#cccccc', EndColorStr='#fffffff', GradientType=0);
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 6px #999;
    -webkit-box-shadow: 0px 0px 6px #999;
    -moz-box-shadow: 0px 0px 6px #999;
}

input[type=submit]:hover {
    cursor: pointer;
    height: 2em;
    min-width: 8em;
    color: #333;
    background-color: #c9c9c9;
    background: -webkit-gradient(linear, left bottom, left top, from(#bbb), to(#eee));
    background: -moz-linear-gradient(90deg, #bbb, #eee);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#bbbbbb', EndColorStr='#eeeeee', GradientType=0);
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}


span.required {
    visibility: hidden;
    display: none;
}

/*.structr {
    float: left;
    margin: .1em;
    width: 300px;
    color: #fff;
    font-size: 3em;
}*/

.structrCap { color: #fff; }

#login {
    width: 280px;
    margin: 0px auto 0 auto;
    padding-top: 210px;
}

#login input[type=submit] {
    margin-left: 144px;
    width: 108px;
    line-height: 1.5em;
    padding-bottom: 2px;
    box-shadow: 0px 0px 8px #111;
    -webkit-box-shadow: 0px 0px 7px #202020 ! important;
    -moz-box-shadow: 0px 0px 8px #111;
    border: none;
}

#login input[type=text],
#login input[type=password] {
    width: 192px;
    margin: 0;
    line-height: 1.0em;
}

#login table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

#login td, #login th {
    margin: 0;
    padding: 2px;
    /*    border: 1px solid yellow;*/
}
#login label {
    padding: 6px 4px 6px 0;
    /*    line-height: 3em;*/
}
#loginMsg {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.loginFooter {
    font-size: .9em;
    color: #222;
    margin: 0;
}

.loginFooter a, .loginFooter a:visited, .loginFooter a:link {
    color: #222;
    text-decoration: none;
}

.loginFooter a:hover, .loginFooter a:active {
    text-decoration: underline;
}
/*
#header {
    height: 32px;
        width: 100%;
    padding: 0 6px 0 0;
        margin: 10px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(48,48,48,.95)), to(rgba(96,96,96,.95))) no-repeat;
        background: -moz-linear-gradient(-90deg, rgba(96,96,96,.95), rgba(48,48,48,.95)) no-repeat;
        filter: progid:DXImageTransform.Microsoft.Gradient(
            StartColorStr='#333333', EndColorStr='#616161', GradientType=0);

        background: #000 url('../images/carbon.jpg') left top repeat-x;
        background: -moz-linear-gradient(90deg, #111, #666);
        background: -webkit-gradient(linear, left bottom, left top, from(#111), to(#666)) no-repeat;
        filter: progid:DXImageTransform.Microsoft.Gradient(
            StartColorStr='#111111', EndColorStr='#666666', GradientType=0);
        background-color: #404040;

        border-radius: 0.25em;
        -moz-border-radius: 0.25em;
        -webkit-border-radius: 0.25em;
        box-shadow: 1px 1px 8px #ccc;
        -webkit-box-shadow: 1px 1px 8px #ccc;
        -moz-box-shadow: 1px 1px 8px #ccc;
        border: 1px solid #bcbcbc;

}

#header div {
    float: right;
    margin: 8px;
}*/

#header {
    height: 54px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(48,48,48,.95)), to(rgba(96,96,96,.95))) no-repeat;
    background: -moz-linear-gradient(-90deg, rgba(96,96,96,.95), rgba(48,48,48,.95)) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#333333', EndColorStr='#616161', GradientType=0);
    font-size: 1.3em;
    color: #ededed;
    font-weight: bold;
    padding: 0;
}
#header a, #header a:visited, #header a:link {
    color: #ededed;
}

#header div {
    float: right;
    /*    padding: 20px;*/
    margin: 20px 12px 0 0;
}


#main {
    /*    border: none;
        border-collapse: collapse;*/
    /*    padding: 0;*/
    /*    margin: 0 auto;*/
    /*    height: 500px;*/
    /*    width: 100%;*/
    /*    min-height: 200px;*/
    margin: 0 10px;
}

#treeArea, #maintenanceTabArea {
    position: absolute;
    left: 14px;
    top: 70px;
    /*    width: 200px;*/
}

#tabArea {
    position: absolute;
    left: 250px;
    top: 70px;
    /*    width: 1000px;*/
}


#tabArea ul:first-child {
    /*    margin-left: -1px;*/
}

/*.tabArea {
    left: 281px;
}*/
/*
#tabArea a,
#tabArea a:link,
#tabArea a:visited {
    color: #ededed;
    text-decoration: none;
}

#tabArea a:active,
#tabArea a:hover {
    color: #efefef;
    text-decoration: underline;
}*/

#msg {
    position: absolute;
    left: 12px;
    top: 12px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    z-index: 99;
    box-shadow: 0px 0px 8px #111;
    -webkit-box-shadow: 0px 0px 7px #202020;
    -moz-box-shadow: 0px 0px 8px #111;
}

.errorMsg {
    color: #c20000;
    background-image: url('../images/exclamation.png') .5em .5em no-repeat;
    background-color: #ffe8e8;
    background: url('../images/exclamation.png') .5em .5em no-repeat, -webkit-gradient(linear, left bottom, left top, from(#ccb5b5), to(#ffe8e8));
    background: url('../images/exclamation.png') .5em .5em no-repeat, -moz-linear-gradient(90deg, #ccb5b5, #ffe8e8);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#ffe8e8', EndColorStr='#ccb5b5', GradientType=0);
    padding: .5em 1em .5em 3em;
    margin: 4px;
    width: 201px;
    /*    border: none;*/
}

.errors {
    background-color: transparent;
}

td.errors {
    color: #c20000;
    background-image: url('../images/exclamation.png') .5em .5em no-repeat;
    background-color: #ffe8e8;
    background: url('../images/exclamation.png') .5em .5em no-repeat, -webkit-gradient(linear, left bottom, left top, from(#ccb5b5), to(#ffe8e8));
    background: url('../images/exclamation.png') .5em .5em no-repeat, -moz-linear-gradient(90deg, #ccb5b5, #ffe8e8);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#ffe8e8', EndColorStr='#ccb5b5', GradientType=0);
    padding: .5em 1em .5em 3em ! important;
    margin: 14px ! important;
    width: 216px ! important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 8px #111;
    -webkit-box-shadow: 0px 0px 7px #202020;
    -moz-box-shadow: 0px 0px 8px #111;
    /*    border: none;*/
    z-index: 1;
}


table.errors {
    /*    background-color: #ffe8e8;
        background: -webkit-gradient(linear, left bottom, left top, from(#ccb5b5), to(#ffe8e8));
        background: -moz-linear-gradient(90deg, #ccb5b5, #ffe8e8);
        filter: progid:DXImageTransform.Microsoft.Gradient(
            StartColorStr='#ffe8e8', EndColorStr='#ccb5b5', GradientType=0);*/
    border-collapse: separate ! important;
    /*    border: none;*/
    /*    border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;*/
    /*    margin: 4px;
        width: 202px;*/
    /*    box-shadow: 0px 0px 8px #111;
        -webkit-box-shadow: 0px 0px 7px #202020;
        -moz-box-shadow: 0px 0px 8px #111;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;*/
}

.errors a,
.errors a:link,
.errors a:visited,
.errors a:active {
    color: #c20000;
}


.okMsg {
    /*    border: 1px solid #619140;*/
    color: #619140;
    background: #f0feed url('../images/tick.png') .5em .5em no-repeat;
    padding: .5em 1em .5em 3em;
}

.warnMsg {
    /*    border: 1px solid #e7a822;*/
    color: #e7a822;
    background: #fffae8 url('../images/error.png') .5em .5em no-repeat;
    padding: .5em 1em .5em 3em;
}

span.spacer {
    width: 2em;
}

.actionsPanel {
    /*    width: 100%;*/
    height: 20px;
    /*    height: 1.7em;*/
    /*    background-color: #e5e5e5;
        background: -webkit-gradient(linear, left bottom, left top, from(#616161), to(#747474));
        background: -moz-linear-gradient(90deg, #ccc, #f5f5f5);
        filter: progid:DXImageTransform.Microsoft.Gradient(
            StartColorStr='#f5f5f5', EndColorStr='#cccccc', GradientType=0);*/
    /*    width: 100%;*/
    /*    margin: 2px;*/
    padding: 10px 0 2px 5px;
    white-space: nowrap;

}

.actionsPanel table, .actionsPanel td {
    padding: 0;
    margin: 0;
    vertical-align: top;
    /*    height: 22px;*/
    /*    overflow: hidden;*/
}

.panelSeparator {
    /*    float: left;*/
    display: inline;
    height: 26px;
    width: 0px;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #ccc;
    /*    margin: 4px 4px 2px 2px;*/
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}

.innerBox {
    float: left;
    overflow: auto;
    /*    height: 600px;*/
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#bbb)) no-repeat;
    background-image: -moz-linear-gradient(top, #fff, #bbb);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#ffffff', EndColorStr='#bbbbbb', GradientType=0);
    background-color: #ddd;
    /*    box-shadow: inset 0px 0px 5px #333;
        -webkit-box-shadow: inset 0px 0px 4px #393939;
        -moz-box-shadow: inset 0px 0px 5px #333;*/
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.contentBox {
    /*    width: 800px;*/
    /*    padding: 10px;*/
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(240,240,240,.95)), to(rgba(168,168,168,.95))) no-repeat;
    background-image: -moz-linear-gradient(top, rgba(240,240,240,.95), rgba(168,168,168,.95));
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#ffffff', EndColorStr='#bbbbbb', GradientType=0);
    background-color: #ddd;
    /*    box-shadow: inset 0px 0px 5px #333;
        -webkit-box-shadow: inset 0px 0px 4px #393939;
        -moz-box-shadow: inset 0px 0px 5px #333;*/
    box-shadow: 0px 0px 6px #717171;
    -webkit-box-shadow: 0px 0px 5px #797979;
    -moz-box-shadow: 0px 0px 6px #616161;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.outerBox {
    /*    width: 25em;*/
    /*    float: left;*/
    padding: 10px;
    background: #616161 url('../images/background-panel.png') left top repeat-x;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 6px #616161;
    -webkit-box-shadow: 0px 0px 5px #717171;
    -moz-box-shadow: 0px 0px 6px #616161;
    /*    border: 1px solid #aaa;*/
    background-color: #555555;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(48,48,48,.95)), color-stop(50%, rgba(72,72,72,.95)), color-stop(100%, rgba(60,60,60,.95))) no-repeat;
    background: -moz-linear-gradient(-90deg, rgba(96,96,96,.95), rgba(48,48,48,.95)) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#333333', EndColorStr='#616161', GradientType=0);
    color: #ededed;
}

.contentBox h2.header {
    font-size: 1.3em;
    line-height: 2em;
    border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    /*    border-bottom: 1px solid red;*/
    /*    margin: -10px;*/
    /*    padding: 0 10px 0 10px;*/
    height: 28px;
    padding-left: 12px;
    color: #ededed;
    background-color: #555555;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(48,48,48,.95)), to(rgba(72,72,72,.95))) no-repeat;
    /*    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(60,60,60,.95)), color-stop(50%, rgba(72,72,72,.95)), color-stop(100%, rgba(60,60,60,.95))) no-repeat;*/
    background: -moz-linear-gradient(-90deg, rgba(96,96,96,.95), rgba(48,48,48,.95)) no-repeat;
}

.contentBox h2.header img {
    vertical-align: middle;
}

.contentBox .body {
    /*    margin-top: 10px;*/
    padding: 0 12px;
    /*    margin: 10px -10px -10px -10px;*/
    /*    height: 400px;*/
    overflow: auto;
}

.contentBox .body iframe {
    border: 1px solid #ccc;
}

.outerBox h2 {
    font-size: 1.5em;
    color: #ededed;
    /*    background: -webkit-gradient(linear, left bottom, left top, from(#cccccc), to(#ededed));
        background: -moz-linear-gradient(90deg, #cccccc, #ededed);
        filter: progid:DXImageTransform.Microsoft.Gradient(
            StartColorStr='#cccccc', EndColorStr='#ededed', GradientType=0);
        background-color: #c9c9c9;*/
    padding: .275em;
    /*    -moz-border-radius: .25em .25em 0 0;
        -webkit-border-radius: .25em .25em 0 0;
        border-radius: .25em .25em 0 0;*/
}

.outerBox h2 img {
    vertical-align: top;
    margin-top: 2px;
}

.outerBox h3 {
    padding: 0 .5em;
    /*margin: 0;*/
}

.outerBox p {
    padding: 1px 4px;
}

.outerBox hr, .contentBox hr {
    margin: 1px 4px 0 4px;
    border: none;
    border-bottom: 1px solid #666;
}
/*
.outerBox a,
.outerBox a:link,
.outerBox a:visited {
    color: #ededed;
    text-decoration: none;
}

.outerBox a:active,
.outerBox a:hover {
    color: #efefef;
    text-decoration: underline;
}*/

#pagePreview {
    border: 1px solid #ccc;
    width: 100%;
    background: #fff;
}

a.nodeActionLink { text-decoration: none; }
a.nodeActionLink:hover span { text-decoration: underline; }

a.nodeActionLink img {
    vertical-align: top;
    margin: 2px 0.25em 0 0;
}

/*#source-tab,
.html,
#rendition-tab {
    background: #fff;
    border: 1px solid #bcbcbc;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 0;
    margin: 0;
    height: 300px;
}
*/
#rendition-tab iframe,
#source-tab textarea {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    width: 95%;
    height: 600px;
}

.source pre {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
}

.visible {
    display: inline;
    color: red ! important;
}

img.preview {
    border: 1px solid #ccc;
}

table#properties {
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: .1em .25em;
    margin: 0;
    /*    width: 100%;*/
    border-collapse: collapse;
}

table#properties td {
    border: 1px solid #ccc;
    padding: .25em .5em;
}

table#properties td:first-child {
    font-weight: bold;
    text-align: right;
}

/** Overwrite tree style **/

#tree {
    /*    overflow: auto;*/
    /*    background: #fff;
        -moz-border-radius: 0 0 .25em .25em;
        -webkit-border-radius: 0 0 .25em .25em;
        border-radius: 0 0 .25em .25em;*/
    /*    width: 160px;*/
    /*    padding: 8px 24px 4px 0px;*/
    /*    overflow: hidden;*/
    /*    width: 100%;
        height: 100%;*/
    margin: 0 0 0 -16px;
}

.treestyle {
    white-space: nowrap;
    border: none;
    /*    width: 100%;
        height: 100%;*/
    /*    overflow: hidden;*/
    /*    line-height: 2em;
        padding-top: 2px;*/
    /*    width: 100%;
        height: 100%;*/
    overflow: visible ! important;
}

.treestyle a.hidden {
    color: #444;
    text-decoration: line-through ! important;
}

.treestyle a.hidden:hover {
    color: #777;
    text-decoration: line-through ! important;
}

.treestyle a:hover {
    text-decoration: underline ! important;
}

.treestyle .active {
    background-color: #616161;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 6px #616161;
    -webkit-box-shadow: 0px 0px 5px #717171;
    -moz-box-shadow: 0px 0px 6px #616161;
    /*    border: 1px solid #aaa;*/
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(48,48,48,.95)), to(rgba(96,96,96,.95))) no-repeat;
    background: -moz-linear-gradient(-90deg, rgba(96,96,96,.95), rgba(48,48,48,.95)) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#333333', EndColorStr='#616161', GradientType=0);
    /*    background-color: #555555;*/
    color: #ededed;
    padding: .25em .5em;
}

.treestyle .public {
    color: #070;

}
.treestyle .public .active {
    color: #bfb ! important;
}

.treestyle span {
    padding: 0.25em 0 0 0;
    background-color: transparent ! important;
}

.treestyle ul {
    background: none;
}

.treestyle span.expandedLastNode,
.treestyle span.expanded {
    background: url('../images/tree_arrow_down.png') left top no-repeat;
}

.treestyle span.collapsedLastNode,
.treestyle span.collapsed {
    background: url('../images/tree_arrow_right.png') left top no-repeat;
}

.treestyle span.leafLastNode,
.treestyle span.leaf {
    background: none;
}

.treestyle a, .treestyle a:link, .treestyle a:visited {
    text-decoration: none;
}

.treestyle img.customIcon {
    vertical-align: top;
}


/** Source code editor with CodeMirror */

.CodeMirror-wrapping {
    background: #fff;
    border: 1px solid #ccc;
    margin: 12px 12px 10px -2px;
    /*    width: 945px ! important;
        height: 500px ! important;*/
}

.CodeMirror-line-numbers {
    width: 2.2em;
    color: #000;
    background-color: #eee;
    text-align: right;
    padding-top: .43em;
    font-family: monospace;
    font-size: 10pt;
    color: black;
    /*line-height: 1.25em;*/
}

.nodeActionMenu {
    padding: 1em;
    position: absolute;
    z-index: 10;
    display: none;
    /*    border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;*/
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#bbb)) no-repeat;
    background-image: -moz-linear-gradient(top, #fff, #bbb);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#ffffff', EndColorStr='#bbbbbb', GradientType=0);
    background-color: #ddd;
    color: #333;
    /*    box-shadow: 1px 1px 3px #111;
        -webkit-box-shadow: 1px 1px 3px #202020;
        -moz-box-shadow: 1px 1px 3px #111;*/
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 8px #111;
    -webkit-box-shadow: 0px 0px 7px #202020;
    -moz-box-shadow: 0px 0px 8px #111;

}


.unblock {
    text-align: right;
}

.unblock a {
    line-height: 1.1em;
    /*    color: blue;*/
    /*    text-decoration: none;*/
}

/*.unblock a:hover span { text-decoration: underline; }*/

.unblock a img {
    vertical-align: top;
    margin: 0 0.25em 0 0;
}

div.fakeBtn a,
a.fakeBtn {
    color: #333;
    text-decoration: none;
    white-space: nowrap;
    /*    line-height: 15px;*/
}

div.fakeBtn a img,
a.fakeBtn img {
    border: none;
    vertical-align: middle;
    margin: -1px 3px 0px 0px;
}

div.fakeBtn a img.expand {
    margin: -2px 0 0 0;
    vertical-align: middle;
}


div.fakeBtn {
    white-space: nowrap;
    /*    line-height: 1.6em;*/
    /*    display: inline;*/
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    /*    float: left;*/
    display: inline;
    /*    margin: 4px;*/
}

div.fakeBtn:hover,
a.fakeBtn:hover {
    border: 1px solid #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#bbb)) no-repeat;
    background-image: -moz-linear-gradient(top, #fff, #bbb);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#ffffff', EndColorStr='#bbbbbb', GradientType=0);
    background-color: #ddd;
    box-shadow: 1px 1px 1px #bbb;
    -webkit-box-shadow: 1px 1px 1px #bbb;
    -moz-box-shadow: 1px 1px 1px #bbb;
}

div.fakeBtn:active, div.fakeBtn.active,
a.fakeBtn:active, a.fakeBtn.active {
    background-color: #555555;
    border: 1px solid #aaa;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#f5f5f5)) no-repeat;
    background-image: -moz-linear-gradient(top, #ccc, #f5f5f5);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#333333', EndColorStr='#616161', GradientType=0);
    /*    box-shadow: 1px 1px 1px #ccc;
        -webkit-box-shadow: 1px 1px 1px #ccc;
        -moz-box-shadow: 1px 1px 1px #ccc;*/
}

div.fakeBtn.enabled {
    border: 1px solid #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ddd)) no-repeat;
    background-image: -moz-linear-gradient(top, #ccc, #ddd);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#cccccc', EndColorStr='#dddddd', GradientType=0);
    background-color: #d0d0d0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.search {
    margin-top: 16px ! important;
}

.search form {
    /*    margin-top: -2px;*/
    /*    padding: 0;*/
    /*    vertical-align: top;*/
}

.search script,
.search table.buttons {
    display: none ! important;
}

.search input[type="text"] {
    /*    width: 120px;*/
    /*    margin-top: -3px;*/
    /*    border: 1px inset #fff;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
            font-size: 1.1em;
            vertical-align: middle;
        background-color: #ededed;*/
}

.mainLink {
    padding-left: 25px;
    float: left ! important;
}

.util {
    /*    width: 400px;*/
    /*    margin-top: 0px;*/
    /*    display: inline;*/
}

.util img {
    /*    padding-top: 1px;*/
    vertical-align: middle;
}

.ui-tabs .ui-tabs-hide {
    display: none;
}

.tabAreaInline {
    left: 5px;
}

.adminFunctions {
    padding: 8px;
    border: 1px solid #ff9999;
    background-color: #ffcccc;
}

table.fields, table.form {
    border-collapse: collapse;
}


table.fields td.fields {
    padding: 0;
    margin: 0;
    border: none;
}

table.form, table.form td {
    padding: 0;
    margin: 0;
    border: none;
}

fieldset {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #ccc;
    color: #333;
}

fieldset legend {
    font-family: Arial, sans-serif;
    color: #444;
    font-weight: bold;
    font-size: 1.25em;
    padding-top: 12px;
    border: none;
}

fieldset input, fieldset select {
    font-size: 1.0em;
    /*    background: #fff;*/
}

fieldset td {
    vertical-align: middle ! important;
    padding-right: 2em;
}

fieldset td.fields input {
    margin-right: 5em ! important;
}

.info {
    position: absolute;
    right: 4px;
    top: 5px;
    height: 24px;
    float: right;
    color: #333;
}

/************************************************************************/
/* structr table style, adapted from Apache Click's complex table style */
/************************************************************************/

table.structr {
    width: 100%;
    font-size: 1em;
    background: transparent;
    border-collapse: collapse;
    border: none;
    color: #333;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    /*    margin-top: 10px;*/
}

table.structr th {
    padding: .75em !important;
    text-align: left;
    vertical-align: top;
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
    color: #333;
}

table.structr th.ascending, th.descending {
    background-color: #ccc;
    color: #333;
}

table.structr th a, table.structr th a:visited {
    color: #333;
}

table.structr th a:hover {
    text-decoration: none ! important;
}

table.structr th.ascending a, table.structr th.descending a, table.structr th.sortable a {
    background-position: right;
    display: block;
    /*    text-decoration: none;*/
    width: 100%;
}

table.structr td {
    padding: 4px 5px 4px 5px !important;
    text-align: left;
    vertical-align: baseline;
}

table.structr td a, table.structr td a:visited {
    color: #333;
    text-decoration: none;
}

table.structr td a:hover {
    color: #666;
    text-decoration: underline;
}

/* Paginator controls */

table.structr td.paging-inline {
    background-color: transparent;
    padding-right: 1em;
}

table.structr td.paging-inline {
    background-color: transparent;
}

table.structr td.paging-inline a {
    color: #333;
    text-decoration: none;
}

table.structr td.paging-inline a:hover {
    text-decoration: underline;
}

table.structr thead tr {
    color: #333;
    background-color: transparent;
}
table.structr tr.even {
    background-color: transparent;
}
table.structr tr.odd {
    background-color: transparent;
}
table.structr th.sortable a, table.structr th.ascending a, table.structr th.descending a {
    color: #333;
    text-decoration: none;
}
table.structr tr:hover td {
    color: #333;
    background-color: #ccc;
}
/* table pagination styles */
span.pagebanner {
    background-color: transparent;
    color: #333;
    border: none;
    padding: 0;
    width: 390px;
    display: block;
    border-bottom: none;
}

span.pagebanner-nolinks {
    background-color: transparent;
    color: #333;
    border: none;
    padding: 0;
    width: 390px;
    margin: 0;
    display: block;
}

span.pagelinks {
    background-color: transparent;
    color: #333;
    border: none;
    padding: 0;
    width: 390px;
    display: block;
    margin: 0;
    border-top: none;
}

img.link {
    vertical-align: middle;
}

span.pagelinks-nobanner {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 390px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
