<link rel="stylesheet" type="text/css" media="screen" href="css/graph_editor.css">

<div id="graph-box" class="graphNoSelect">

	<div id="graph-info"></div>

<!--	<div id="cypher-params">-->
<!--		<h3>Cypher Parameters</h3>-->
<!--		<i id="add-cypher-parameter" class="${_Icons.getFullSpriteClass(_Icons.add_icon)}"></i>-->
<!--	</div>-->

<!--	<div><h3>Saved Queries</h3></div>-->
<!--	<div id="saved-queries"></div>-->

	<div class="canvas" id="graph-canvas"></div>
<!--	<div id="node-types" class="graph-object-types"></div>-->
<!--	<div id="relationship-types" class="graph-object-types"></div>-->

</div>