<div id="crud-buttons">
  <button class="action" id="create${config.type}"><i class="${_Icons.getFullSpriteClass(_Icons.add_icon)}"></i> Create new ${config.type}</button>
  <button id="export${config.type}"><i class="${_Icons.getFullSpriteClass(_Icons.database_table_icon)}"></i> Export as CSV</button>
  <button id="import${config.type}"><i class="${_Icons.getFullSpriteClass(_Icons.database_add_icon)}"></i> Import CSV</button>
  <button id="delete${config.type}"><i class="${_Icons.getFullSpriteClass(_Icons.delete_icon)}"></i> Delete <b>all</b> objects of this type</button>
  <label for="exact_type_${config.type}" class="exact-type-checkbox-label"><input id="exact_type_${config.type}" class="exact-type-checkbox" type="checkbox"> Exclude subtypes</label>
</div>