<link rel="stylesheet" type="text/css" media="screen" href="css/crud.css">

<div id="crud-main">

	<div class="column-resizer"></div>

	<div id="crud-left" class="resourceBox">

		<div id="crud-types">

			<div class="flex">
				<h2 class="flex-grow">All Types</h2>

				<div id="crudTypeFilterSettings" class="dropdown-menu dropdown-menu-large" data-template="crud/filter-types">

					<button class="btn dropdown-select" id="crudTypesFilterToggle">
						<svg viewBox="0 0 16 16" height="16" width="16" xmlns="http://www.w3.org/2000/svg"><g transform="matrix(0.6666666666666666,0,0,0.6666666666666666,0,0)"><path d="M22.439,3.9,19.122,7.216H16.784V4.878L20.1,1.561a5.752,5.752,0,0,0-8.168,7L1.589,18.9A2.48,2.48,0,0,0,5.1,22.411L15.44,12.067a5.752,5.752,0,0,0,7-8.168Z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path></g></svg>
					</button>
					<div class="dropdown-menu-container"></div>
				</div>
			</div>

			<input placeholder="Filter types..." id="crudTypesSearch" autocomplete="off">

			<div id="crud-types-list">

			</div>
		</div>

		<div id="crud-recent-types">
			<h2>Recent</h2>

			<div id="crud-recent-types-list">

			</div>
		</div>

	</div>

	<div id="crud-type-detail" class="resourceBox"></div>

</div>