<tr class="virtual-property">
	<td><input class="property" data-property="position" size="3"></td>
	<td><input class="property" data-property="sourceName"></td>
	<td><input class="property" data-property="targetName"></td>
	<td><textarea class="property" data-property="inputFunction" cols="40"></textarea></td>
	<td><textarea class="property" data-property="outputFunction" cols="40"></textarea></td>
	<td><input class="property" data-property="visibleToPublicUsers" type="checkbox" checked></td>
	<td><input class="property" data-property="visibleToAuthenticatedUsers" type="checkbox" checked></td>
	<td class="actions"></td>
</tr>