<link rel="stylesheet" type="text/css" media="screen" href="css/security.css">

<div id="securityTabs">
	<ul id="securityTabsMenu" class="tabs-menu">
		<li><a id="usersAndGroups_"><div class="fill-pixel"></div><span>Users and Groups</span></a></li>
		<li><a id="resourceAccess_"><div class="fill-pixel"></div><span>Resource Access Grants</span></a></li>
	</ul>
	<div id="usersAndGroups" class="tab-content">
		<div id="usersAndGroups-inner">
			<div id="users"></div>
			<div id="groups"></div>
		</div>
	</div>
	<div id="resourceAccess" class="tab-content">
		<div id="resourceAccesses"></div>
	</div>
</div>