<div id="securityTabs">
	<ul id="securityTabsMenu" class="tabs-menu">
		<li><a id="usersAndGroups_"><div class="fill-pixel"></div><span>Users and Groups</span></a></li>
		<li><a id="resourceAccess_"><div class="fill-pixel"></div><span>Resource Access Grants</span></a></li>
	</ul>
	<div id="usersAndGroups" class="tab-content">
		<div id="usersAndGroups-inner">
			<div id="users"></div>
			<div id="groups"></div>
		</div>
	</div>
	<div id="resourceAccess" class="tab-content">
		<div id="resourceAccesses"></div>
	</div>
</div>

<style>
	/**
	* Security
	*/

   #usersAndGroups-inner {
	   display: flex;
   }

   #usersAndGroups, #resourceAccess {
	   height: calc(100% - 28px);
   }

   #usersAndGroups #users, #usersAndGroups #groups {
	   padding: 12px;
	   overflow-y: auto;
	   height: calc(100% - 2em);
   }

   #resourceAccess #resourceAccesses {
	   padding: 1em;
	   height: calc(100% - 2em);
   }

   #resourceAccessesTable {
	   display: block;
	   overflow: auto;
	   height: calc(100% - 5em);
	   border-collapse: collapse;
	   background: var(--solid-white);
	   margin: 6px 0;
	   width: 100%;
   }

   #resourceAccessesTable .node {
	   border: none;
   }

   #resourceAccessesTable tbody tr:hover {
	   background-color: var(--very-light-structr-green) ! important;
   }

   #resourceAccessesTable td, #resourceAccessesTable th {
	   padding: 3px;
	   text-align: center;
	   vertical-align: middle;
	   height: 1em;
   }

   #resourceAccessesTable th.br-1, #resourceAccessesTable td.br-1 {
	   border-right: 1px solid var(--gray-ccc);
   }

   #resourceAccessesTable th.bl-1, #resourceAccessesTable td.bl-1 {
	   border-left: 1px solid var(--gray-ccc);
   }

   #resourceAccessesTable .title-cell {
	   text-align: left;
   }

   #resourceAccessesTable thead th input {
	   width: calc(100% - 14px);
   }

   #resourceAccessesTable thead th .pager input {
	   width: initial;
   }

   #resourceAccessesTable td img {
	   vertical-align: middle;
   }

   #resourceAccessesTable tr:nth-child(odd) {
	   background: var(--light-gray-bg-f7) ! important;
   }

   #resourceAccessesTable tr:nth-child(even) {
	   background: var(--solid-white) ! important;
   }

   #resourceAccessesTable th {
	   background: var(--input-background);
	   color: var(--gray-333);
	   vertical-align: top;
	   min-width: 60px;
   }

   #resourceAccessesPager {
	   text-align: left;
   }

   #securityTabs {
	   margin: 12px;
	   height: calc(100% - 12px);
	   border: none;
	   background: none;
   }

	input.bitmask {
		text-align: right;
		width: calc(100% - 14px);
	}

	#add-resource-access-grant {
		margin-bottom: 6px;
	}

	.acl-resource-access {
		margin-right: 4px;
	}
</style>