<link rel="stylesheet" type="text/css" media="screen" href="css/security.css">

<div id="securityTabs">

	<div id="usersAndGroups" class="tab-content">

		<div id="usersAndGroups-inner">
			<div id="users">
				<div id="users-controls"></div>
				<div id="users-list"></div>
			</div>

			<div id="groups">
				<div id="groups-controls"></div>
				<div id="groups-list"></div>
			</div>
		</div>

	</div>

	<div id="resourceAccess" class="tab-content">
		<div id="resourceAccesses"></div>
	</div>
</div>