<div id="add-resource-access-grant" class="input-and-button">
	<input type="text" size="20" id="resource-signature" placeholder="Signature"><button class="action add_grant_icon button"><i title="Add Resource Grant" class="${_Icons.getFullSpriteClass(_Icons.key_add_icon)}" ></i> Add Grant</button>
</div>
<div id="filter-resource-access-grants">
	<input type="text" class="filter" data-attribute="signature" placeholder="Filter/Search...">
</div>

<table id="resourceAccessesTable">
	<thead>
		<tr>
			<th><div id="resourceAccessesPager"></div></th>
			<th colspan="7" class="center">Authenticated users</th>
			<th colspan="7" class="center">Non-authenticated (public) users</th>
			<th colspan="3"></th>
		</tr>
		<tr>
			<th class="title-cell">Signature</th>
			<th>GET</th>
			<th>PUT</th>
			<th>POST</th>
			<th>DELETE</th>
			<th>OPTIONS</th>
			<th>HEAD</th>
			<th>PATCH</th>
			<th>GET</th>
			<th>PUT</th>
			<th>POST</th>
			<th>DELETE</th>
			<th>OPTIONS</th>
			<th>HEAD</th>
			<th>PATCH</th>
			<th>Bitmask</th>
			<th></th>
		</tr>
	</thead>
	<tbody></tbody>
</table>