
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div class="flex flex-grow flex-col overflow-y-auto border-r border-gray-200 bg-white pt-5">
      <div class="flex flex-shrink-0 items-center justify-center px-4">
        <img class="h-8" src="/structr/img/structr-logo-white.svg" alt="Structr">
      </div>
      <div class="mt-5 flex flex-grow flex-col">
        <nav class="flex-1 space-y-1 px-2 pb-4">
${include_child('Menu Item', find('Page', not(empty('position')), sort('position')), 'item')}
        </nav>
      </div>
    </div>
