@charset "UTF-8";
/** Defaults */

* {
    outline: none;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
    /*    background: #747474 url('../images/background.gif') top left repeat-x;*/
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 8pt;
    color: #333;
    background: url('../images/processing.png') top center no-repeat;
}

tt, tt *, pre, pre *, code, code * {
    font-family: "Liberation Mono", "DejaVu Sans Mono", Consolas, Monaco, "Vera Sans Mono", "Lucida Console", "Courier New", monospace !important;
}

a, a:link, a:visited {
    color: #333;
    text-decoration: none;
}

a:active, a:hover {
    color: #666;
    text-decoration: underline;
}

caption {
    text-align: left;
}

h1 {
    padding: 0.75em 0 0 1.5em;
    margin: 0;
}

h2 {
    padding: 0.5em 0 0.5em 0.3em;
    margin: 0;
}

input[readonly] {
    background-color: #ccc;
}

input, button {
    font-size: 1.0em;
    font-family: inherit;
    border: 1px solid #aaa;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: .5em;
    padding: 2px;
}

input[type=submit], button {
    cursor: pointer;
    height: 2em;
    min-width: 6em;
    color: #333;
    background-color: #c9c9c9;
    background: -webkit-gradient(linear, left bottom, left top, from(#ccc), to(#fff));
    background: -moz-linear-gradient(90deg, #ccc, #fff);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#cccccc', EndColorStr='#fffffff', GradientType=0);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    /*    box-shadow: 0px 0px 20px #ccc;
        -webkit-box-shadow: 0px 0px 20px #ccc;
        -moz-box-shadow: 0px 0px 20px #ccc;*/
}

input[type=submit]:hover, button:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#bbb), to(#eee));
    background: -moz-linear-gradient(90deg, #bbb, #eee);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#bbbbbb', EndColorStr='#eeeeee', GradientType=0);
}


span.required {
    visibility: hidden;
    display: none;
}

#login {
    width: 280px;
    margin: 0px auto 0 auto;
    padding-top: 210px;
}

#login input[type=submit] {
    margin-left: 144px;
    width: 108px;
    line-height: 1.5em;
    padding-bottom: 2px;
    box-shadow: 0px 0px 8px #111;
    -webkit-box-shadow: 0px 0px 7px #202020 ! important;
    -moz-box-shadow: 0px 0px 8px #111;
    border: none;
}

#login input[type=text],
#login input[type=password] {
    width: 192px;
    margin: 0;
    line-height: 1.0em;
}

#login table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

#login td, #login th {
    margin: 0;
    padding: 2px;
    /*    border: 1px solid yellow;*/
}
#login label {
    padding: 6px 4px 6px 0;
    /*    line-height: 3em;*/
}
#loginMsg {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.loginFooter {
    font-size: .9em;
    color: #222;
    margin: 0;
}

.loginFooter a, .loginFooter a:visited, .loginFooter a:link {
    color: #222;
    text-decoration: none;
}

.loginFooter a:hover, .loginFooter a:active {
    text-decoration: underline;
}

#header {
    height: 54px;
    /*    background: -webkit-gradient(linear, left bottom, left top, from(rgba(48,48,48,.95)), to(rgba(96,96,96,.95))) no-repeat;
        background: -moz-linear-gradient(-90deg, rgba(96,96,96,.95), rgba(48,48,48,.95)) no-repeat;
        filter: progid:DXImageTransform.Microsoft.Gradient(
            StartColorStr='#333333', EndColorStr='#616161', GradientType=0);*/
    background: #333333;
    background: -webkit-gradient(linear, left bottom, left top, from(#353535), to(#2b2b2b)) no-repeat;
    background: -moz-linear-gradient(-90deg, #353535, #2b2b2b) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#2b2b2b', EndColorStr='#353535', GradientType=0);
    font-size: 1.3em;
    color: #ededed;
    font-weight: bold;
    padding: 0;
}
#header a, #header a:visited, #header a:link {
    color: #ededed;
}

#header div {
    float: right;
    /*    padding: 20px;*/
    margin: 20px 12px 0 0;
}

.mainLink {
    padding-left: 25px;
    float: left ! important;
}

#logo {
    float: left ! important;
    padding: 0 0 0 16px;
    margin-top: 14px ! important;
}

/*#main {
    margin: 0 10px;
}*/

#tree {
    margin: 0 0 0 -10px;
}

#treeArea, .wideTabArea {
    /*    position: absolute;
        left: 0px;
        top: 56px;*/
}

#tree .highlight {
    background-color: #fea;
}

#treeArea .body {
    position: relative;
}

.rootNode {
    margin: -8px 0 0 -12px;
    padding: 2px 0 0 4px;
    list-style-type: none;
}

.rootNode img {
    vertical-align: top;
    margin-top: -1px;
}

#addNodeIcon, #deleteNodeIcon {
    display: none;
}

#treeArea .header {
    position: relative;
}

#treeArea .header #addNodeIcon {
    position: absolute;
    top: 11px;
    right: 12px;
}

#treeArea .header #addNodeIcon:hover {
    cursor: move;
}

#treeArea .header #deleteNodeIcon {
    position: absolute;
    top: 11px;
    left: 212px;
}

#createSelectDiv {
    width: 120px;
}

#createSelectDiv img {
    border: none;
    vertical-align: middle;
    margin: -1px 3px 0px 0px;
}

#createSelectDiv button {
    font-size: 1.0em;
}

#dropSelectDiv {
    width: 100px;
}

#dropSelectDiv img {
    border: none;
    vertical-align: middle;
    margin: -1px 3px 0px 0px;
}

/*.tabArea {
    position: absolute;
    left: 0;
    top: 56px;
}*/

#msg {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    z-index: 99;
}

.errorMsg {
    color: #c20000;
    background-image: url('../images/exclamation.png') .5em .5em no-repeat;
    background-color: #ffe8e8;
    background: url('../images/exclamation.png') .5em .5em no-repeat, -webkit-gradient(linear, left bottom, left top, from(#ccb5b5), to(#ffe8e8));
    background: url('../images/exclamation.png') .5em .5em no-repeat, -moz-linear-gradient(90deg, #ccb5b5, #ffe8e8);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#ffe8e8', EndColorStr='#ccb5b5', GradientType=0);
    padding: .5em 1em .5em 3em;
    /*    margin: 4px;*/
    width: 201px;
}

.errors {
    background-color: transparent;
}

td.errors {
    color: #c20000;
    background-image: url('../images/exclamation.png') .5em .5em no-repeat;
    background-color: #ffe8e8;
    background: url('../images/exclamation.png') .5em .5em no-repeat, -webkit-gradient(linear, left bottom, left top, from(#ccb5b5), to(#ffe8e8));
    background: url('../images/exclamation.png') .5em .5em no-repeat, -moz-linear-gradient(90deg, #ccb5b5, #ffe8e8);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#ffe8e8', EndColorStr='#ccb5b5', GradientType=0);
    padding: .5em 1em .5em 3em ! important;
    margin: 14px ! important;
    width: 216px ! important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 8px #111;
    -webkit-box-shadow: 0px 0px 7px #202020;
    -moz-box-shadow: 0px 0px 8px #111;
    z-index: 1;
}


table.errors {
    border-collapse: separate ! important;
}

.errors a,
.errors a:link,
.errors a:visited,
.errors a:active {
    color: #c20000;
}


.okMsg {
    /*    border: 1px solid #619140;*/
    color: #619140;
    background: #f0feed url('../images/tick.png') .5em .5em no-repeat;
    padding: .5em 1em .5em 3em;
}

.warnMsg {
    color: #e7a822;
    background: #fffae8 url('../images/error.png') .5em .5em no-repeat;
    padding: .5em 1em .5em 3em;
}

span.spacer {
    width: 2em;
}

.actionsPanel {
    height: 20px;
    padding: 0px 0 8px 0px;
    white-space: nowrap;
}

.actionsPanel table, .actionsPanel td {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.panelSeparator {
    display: inline;
    height: 26px;
    width: 0px;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #ccc;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}

.innerBox {
    float: left;
    overflow: auto;
    background-color: #ddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#bbb)) no-repeat;
    background-image: -moz-linear-gradient(top, #fff, #bbb);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#ffffff', EndColorStr='#bbbbbb', GradientType=0);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.contentBox {
    background: #e5e5e5;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,.95)), to(rgba(236,236,236,.95))) no-repeat;
    background: -moz-linear-gradient(90deg, rgba(255,255,255,.95), rgba(236,236,236,.95)) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#e0e0e0', EndColorStr='#ffffff', GradientType=0);
    /*    background: -webkit-gradient(linear, left top, left bottom, from(rgba(240,240,240,.95)), to(rgba(168,168,168,.95))) no-repeat;
        background-image: -moz-linear-gradient(top, rgba(240,240,240,.95), rgba(168,168,168,.95));
        filter: progid:DXImageTransform.Microsoft.Gradient(
            StartColorStr='#ffffff', EndColorStr='#bbbbbb', GradientType=0);
        background-color: #ddd;*/
    /*    box-shadow: 0px 0px 6px #717171;
        -webkit-box-shadow: 0px 0px 5px #797979;
        -moz-box-shadow: 0px 0px 6px #616161;*/
    box-shadow: 0px 0px 20px #b5b5b5;
    -webkit-box-shadow: 0px 0px 18px #bbb;
    -moz-box-shadow: 0px 0px 20px #b5b5b5;    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    float: left;
    margin: 12px 0 0 12px;
}

.floating {
    float: left;
}

.outerBox {
    padding: 10px;
    background: #616161 url('../images/background-panel.png') left top repeat-x;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 6px #616161;
    -webkit-box-shadow: 0px 0px 5px #717171;
    -moz-box-shadow: 0px 0px 6px #616161;
    background-color: #555555;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(48,48,48,.95)), color-stop(50%, rgba(72,72,72,.95)), color-stop(100%, rgba(60,60,60,.95))) no-repeat;
    background: -moz-linear-gradient(-90deg, rgba(96,96,96,.95), rgba(48,48,48,.95)) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#333333', EndColorStr='#616161', GradientType=0);
    color: #ededed;
}

.contentBox h2.header {
    font-size: 1.3em;
    line-height: 2em;
    border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    height: 28px;
    padding-left: 12px;
    color: #ededed;
    /*    background-color: #555555;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(48,48,48,.95)), to(rgba(72,72,72,.95))) no-repeat;
        background: -moz-linear-gradient(-90deg, rgba(96,96,96,.95), rgba(48,48,48,.95)) no-repeat;*/

    background: #333333;
    background: -webkit-gradient(linear, left bottom, left top, from(#2b2b2b), to(#353535)) no-repeat;
    background: -moz-linear-gradient(-90deg, #2b2b2b, #353535) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#353535', EndColorStr='#2b2b2b', GradientType=0);
}

.contentBox h2.header img {
    vertical-align: middle;
}

.contentBox .body {
    padding: 12px;
    overflow: auto;
}

.contentBox .body iframe {
    border: 1px solid #ccc;
}

.outerBox h2 {
    font-size: 1.5em;
    color: #ededed;
    padding: .275em;
}

.outerBox h2 img {
    vertical-align: top;
    margin-top: 2px;
}

.outerBox h3 {
    padding: 0 .5em;
}

.contentBox .body  h3 {
    margin-top: 0;
}
.outerBox p {
    padding: 1px 4px;
}

.outerBox hr, .contentBox hr {
    margin: 1px 4px 0 4px;
    border: none;
    border-bottom: 1px solid #666;
}

#pagePreview {
    border: 1px solid #ccc;
    width: 100%;
    background: #fff;
}

a.nodeActionLink { text-decoration: none; }
a.nodeActionLink:hover span { text-decoration: underline; }

a.nodeActionLink img {
    vertical-align: top;
    margin: 2px 0.25em 0 0;
}

#rendition-tab iframe,
#source-tab textarea {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    width: 95%;
    height: 600px;
}

.source pre {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
}

.visible {
    display: inline;
    color: red ! important;
}

img.preview {
    border: 1px solid #ccc;
}

table#properties {
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: .1em .25em;
    margin: 0;
    /*    width: 100%;*/
    border-collapse: collapse;
}

table#properties td {
    border: 1px solid #ccc;
    padding: .25em .5em;
}

table#properties td:first-child {
    font-weight: bold;
    text-align: right;
}

/** Overwrite tree style **/

.treestyle {
    white-space: nowrap;
    border: none;
    overflow: visible ! important;
}

.treestyle a.hidden {
    color: #444;
    text-decoration: line-through ! important;
}

.treestyle a.hidden:hover {
    color: #777;
    text-decoration: line-through ! important;
}

.treestyle a:hover {
    text-decoration: underline ! important;
}

.droptarget {
    background-color: #616161;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 6px #616161;
    -webkit-box-shadow: 0px 0px 5px #717171;
    -moz-box-shadow: 0px 0px 6px #616161;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(148,148,148,.95)), to(rgba(196,196,196,.95))) no-repeat;
    background: -moz-linear-gradient(-90deg, rgba(196,196,196,.95), rgba(148,148,148,.95)) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#616161', EndColorStr='#a0a0a0', GradientType=0);
    color: #000;
    padding: .25em .5em;
}

.treestyle .active, .rootNode .active {
    background-color: #616161;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 6px #616161;
    -webkit-box-shadow: 0px 0px 5px #717171;
    -moz-box-shadow: 0px 0px 6px #616161;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(48,48,48,.95)), to(rgba(96,96,96,.95))) no-repeat;
    background: -moz-linear-gradient(-90deg, rgba(96,96,96,.95), rgba(48,48,48,.95)) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#333333', EndColorStr='#616161', GradientType=0);
    color: #ededed;
    padding: .25em .5em;
}

.treestyle .public {
    color: #070;

}
.treestyle .public .active {
    color: #bfb ! important;
}

.treestyle span {
    padding: 0.25em 0 0 0;
    background-color: transparent ! important;
}

.treestyle ul {
    background: none;
}

.treestyle span.expandedLastNode,
.treestyle span.expanded {
    background: url('../images/tree_arrow_down.png') left top no-repeat;
}

.treestyle span.collapsedLastNode,
.treestyle span.collapsed {
    background: url('../images/tree_arrow_right.png') left top no-repeat;
}

.treestyle span.leafLastNode,
.treestyle span.leaf {
    background: none;
}

.treestyle a, .treestyle a:link, .treestyle a:visited {
    text-decoration: none;
}

.treestyle img.customIcon {
    vertical-align: top;
}


/** Source code editor with CodeMirror */

.CodeMirror-wrapping {
    background: #fff;
    border: 1px solid #ccc;
    margin: 12px 12px 10px -2px;
}

.CodeMirror-line-numbers {
    width: 2.2em;
    color: #000;
    background-color: #eee;
    text-align: right;
    padding-top: .43em;
    font-family: monospace;
    font-size: 10pt;
    color: black;
    /*line-height: 1.25em;*/
}

.nodeActionMenu {
    padding: 1em;
    position: absolute;
    z-index: 10;
    display: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#bbb)) no-repeat;
    background-image: -moz-linear-gradient(top, #fff, #bbb);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#ffffff', EndColorStr='#bbbbbb', GradientType=0);
    background-color: #ddd;
    color: #333;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 8px #202020;
    -webkit-box-shadow: 0px 0px 7px #202020;
    -moz-box-shadow: 0px 0px 8px #202020;

}

.nodeActionMenu h4 {
    padding: 0;
    margin: 0;
}
.unblock {
    text-align: right;
}

.unblock a {
    line-height: 1.1em;
}

.unblock a img {
    vertical-align: top;
    margin: 0 0.25em 0 0;
}

div.fakeBtn a,
a.fakeBtn {
    color: #333;
    text-decoration: none;
    white-space: nowrap;
}

div.fakeBtn a img,
a.fakeBtn img {
    border: none;
    vertical-align: middle;
    margin: -1px 3px 0px 0px;
}

div.fakeBtn a img.expand {
    margin: -2px 0 0 0;
    vertical-align: middle;
}


div.fakeBtn {
    white-space: nowrap;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline;
}

div.fakeBtn:hover,
a.fakeBtn:hover {
    border: 1px solid #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#bbb)) no-repeat;
    background-image: -moz-linear-gradient(top, #fff, #bbb);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#ffffff', EndColorStr='#bbbbbb', GradientType=0);
    background-color: #ddd;
    box-shadow: 1px 1px 1px #bbb;
    -webkit-box-shadow: 1px 1px 1px #bbb;
    -moz-box-shadow: 1px 1px 1px #bbb;
}

div.fakeBtn:active, div.fakeBtn.active,
a.fakeBtn:active, a.fakeBtn.active {
    background-color: #555555;
    border: 1px solid #aaa;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#f5f5f5)) no-repeat;
    background-image: -moz-linear-gradient(top, #ccc, #f5f5f5);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#333333', EndColorStr='#616161', GradientType=0);
}

div.fakeBtn.enabled {
    border: 1px solid #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#ddd)) no-repeat;
    background-image: -moz-linear-gradient(top, #ccc, #ddd);
    filter: progid:DXImageTransform.Microsoft.Gradient(
        StartColorStr='#cccccc', EndColorStr='#dddddd', GradientType=0);
    background-color: #d0d0d0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.search {
    margin-top: 12px ! important;
}

.search script,
.search table.buttons {
    display: none ! important;
}

#simpleSearchForm_searchFor-auto-complete-div {
    position: absolute;
    z-index: 4;
    color: #333;
    width: 100% ! important;
    font-weight: normal;
    font-size: 10px;
}

.util img {
    vertical-align: middle;
}

.ui-tabs .ui-tabs-hide {
    display: none;
}

.tabAreaInline {
    left: 5px;
}

.adminFunctions {
    padding: 8px;
    border: 1px solid #ff9999;
    background-color: #ffcccc;
}
#adminFunctionsLabel:hover {
    cursor: pointer;
    text-decoration: underline;
}
table.fields, table.form {
    border-collapse: collapse;
}


table.fields td.fields {
    padding: 0;
    margin: 0;
    border: none;
}

table.form, table.form td {
    padding: 0;
    margin: 0;
    border: none;
}

fieldset {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #ccc;
    color: #333;
    margin: 1em 0;
}

fieldset legend {
    font-family: Arial, sans-serif;
    color: #444;
    font-weight: bold;
    font-size: 1.25em;
    border: none;
}

fieldset input, fieldset select {
    font-size: 1.0em;
    margin-right: 2em;
}

fieldset td {
    vertical-align: middle ! important;
    padding-right: 2em;
}

fieldset td.fields input {
    /*    margin-right: 5em ! important;*/
}

.info {
    position: absolute;
    right: 4px;
    top: 5px;
    height: 24px;
    float: right;
    color: #333;
}

/************************************************************************/
/* structr table style, adapted from Apache Click's complex table style */
/************************************************************************/

table.structr {
    width: 100%;
    font-size: 1em;
    background: transparent;
    border-collapse: collapse;
    border: none;
    color: #333;
    /*    border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    border: 1px solid #ccc;*/
    /*    margin-top: 10px;*/
}

table.structr th {
    padding: .75em !important;
    text-align: left;
    vertical-align: top;
    background-color: #ddd;
    /*  border-bottom: 1px solid #ccc;*/
    color: #333;
}

table.structr th.ascending, table.structr th.descending {
    background-color: #fff;
    color: #333;
}

table.structr th a, table.structr th a:visited {
    color: #333;
}

table.structr th a:hover {
    text-decoration: none ! important;
}

table.structr th.ascending a, table.structr th.descending a, table.structr th.sortable a {
    background-position: right;
    display: block;
    width: 100%;
}

table.structr td {
    padding: 4px 5px 4px 5px !important;
    text-align: left;
    vertical-align: baseline;
}

table.structr td a, table.structr td a:visited {
    color: #333;
    text-decoration: none;
}

table.structr td a:hover {
    color: #666;
    text-decoration: underline;
}

/* Paginator controls */

table.structr td.paging-inline {
    background-color: transparent;
    padding-right: 1em;
}

table.structr td.paging-inline {
    background-color: transparent;
}

table.structr td.paging-inline a {
    color: #333;
    text-decoration: none;
}

table.structr td.paging-inline a:hover {
    text-decoration: underline;
}

table.structr thead tr {
    color: #333;
    background-color: transparent;
}
table.structr tr.even {
    background-color: transparent;
}
table.structr tr.odd {
    background-color: transparent;
}
table.structr th.sortable a, table.structr th.ascending a, table.structr th.descending a {
    color: #333;
    text-decoration: none;
}
table.structr tr:hover td {
    color: #333;
    background-color: #fff;
}
/* table pagination styles */
span.pagebanner {
    background-color: transparent;
    color: #333;
    border: none;
    padding: 0;
    width: 390px;
    display: block;
    border-bottom: none;
}

span.pagebanner-nolinks {
    background-color: transparent;
    color: #333;
    border: none;
    padding: 0;
    width: 390px;
    margin: 0;
    display: block;
}

span.pagelinks {
    background-color: transparent;
    color: #333;
    border: none;
    padding: 0;
    width: 390px;
    display: block;
    margin: 0;
    border-top: none;
}

img.link {
    vertical-align: middle;
}

span.pagelinks-nobanner {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 390px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#consolePanel {
    width: 100%;
}

.notification {
    display: block;
    visibility: visible;
    position: absolute;
    border: 1px solid #999999;
    border-right: none;
    border-bottom: none;
    background-color: #ffffff;
    margin: 0px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 0px;
    right: 0px;
}

.notificationTitle {
    margin: 0px;
}

.notificationText {
    margin: 0px;
}

.progressBarNotification {
    width: 200px;
    border: 1px solid #eeeeee;
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    position: relative;
}

.progressBar {
    background-color:#44dd44;
}

.progressBarText {
    width:100%;
    font-weight:bold;
    text-align:center;
    background-color:transparent;
    position:absolute;
    top:0px;
    left:0px;
}
