<div class="schema-details">
	<table id="relationship-options">
		<tr>
			<td colspan=2 id="basic-options">

				<span id="source-type-name" class="edit-schema-object relationship-emphasis"></span>

				<div style="display:inline-block;">

					<span style="float: left;">&#8212;</span>

					<select id="source-multiplicity-selector" data-attr-name="sourceMultiplicity">
						<option value="1">1</option>
						<option value="*" selected>*</option>
					</select>

					<span style="float: right;">&#8212;[</span>

					<br>

					<input id="source-json-name" class="remote-property-name" data-attr-name="sourceJsonName">

				</div>

				<input id="relationship-type-name" data-attr-name="relationshipType">

				<div style="display:inline-block;">

					<span style="float: left;">]&#8212;</span>

					<select id="target-multiplicity-selector" data-attr-name="targetMultiplicity">
						<option value="1">1</option>
						<option value="*" selected>*</option>
					</select>

					<span style="float: right;">&#8212;&#9658;</span>

					<br>

					<input id="target-json-name" class="remote-property-name" data-attr-name="targetJsonName">

				</div>

				<span id="target-type-name" class="edit-schema-object relationship-emphasis"></span>
			</td>
		</tr>
		<tr>
			<td id="cascading-options">
				<h3>Cascading Delete</h3>
				<p>Direction of automatic removal of related nodes when a node is deleted</p>

				<select id="cascading-delete-selector" data-attr-name="cascadingDeleteFlag">
					<option value="0">NONE</option>
					<option value="1">SOURCE_TO_TARGET</option>
					<option value="2">TARGET_TO_SOURCE</option>
					<option value="3">ALWAYS</option>
					<option value="4">CONSTRAINT_BASED</option>
				</select>

				<h3>Automatic Creation of Related Nodes</h3>
				<p>Direction of automatic creation of related nodes when a node is created</p>

				<select id="autocreate-selector" data-attr-name="autocreationFlag">
					<option value="0">NONE</option>
					<option value="1">SOURCE_TO_TARGET</option>
					<option value="2">TARGET_TO_SOURCE</option>
					<option value="3">ALWAYS</option>
				</select>

			</td>
			<td id="propagation-options">
				<h3>Permission Resolution</h3>
				<select id="propagation-selector" data-attr-name="permissionPropagation">
					<option value="None">NONE</option>
					<option value="Out">SOURCE_TO_TARGET</option>
					<option value="In">TARGET_TO_SOURCE</option>
					<option value="Both">ALWAYS</option>
				</select>

				<table style="margin: 12px 0 0 0;">
					<tr id="propagation-table">
						<td class="selector">
							<p>Read</p>
							<select id="read-selector" data-attr-name="readPropagation">
								<option value="Add">Add</option>
								<option value="Keep">Keep</option>
								<option value="Remove" selected>Remove</option>
							</select>
						</td>

						<td class="selector">
							<p>Write</p>
							<select id="write-selector" data-attr-name="writePropagation">
								<option value="Add">Add</option>
								<option value="Keep">Keep</option>
								<option value="Remove" selected>Remove</option>
							</select>
						</td>

						<td class="selector">
							<p>Delete</p>
							<select id="delete-selector" data-attr-name="deletePropagation">
								<option value="Add">Add</option>
								<option value="Keep">Keep</option>
								<option value="Remove" selected>Remove</option>
							</select>
						</td>

						<td class="selector">
							<p>AccessControl</p>
							<select id="access-control-selector" data-attr-name="accessControlPropagation">
								<option value="Add">Add</option>
								<option value="Keep">Keep</option>
								<option value="Remove" selected>Remove</option>
							</select>
						</td>
					</tr>
				</table>

				<p style="margin-top:12px">Hidden properties</p><textarea id="masked-properties" cols="40" rows="2" data-attr-name="propertyMask" />
			</td>
		</tr>
	</table>

	<div id="rel-edit-buttons">
		<button id="edit-rel-options-button"><i class="edit icon ${_Icons.getFullSpriteClass(_Icons.edit_icon)}"></i> Edit relationship options</button>
		<button id="save-rel-options-button" class="inline-flex items-center">${_Icons.getSvgIcon('checkmark_bold', 14, 14, 'icon-green mr-2')} Save</button>
		<button id="cancel-rel-options-button" class="inline-flex items-center">${_Icons.getSvgIcon('cross_bold', 14, 14, 'icon-red mr-2')} Discard</button>
	</div>

	<div id="tabs">
		<ul></ul>
	</div>
</div>