<div class="row">
    <a title="Open dialog to show/hide the data types" id="schema-tools" class="flex items-center">
        ${_Icons.getSvgIcon('eye-in-square', 16, 16, 'mr-2')} Type Visibility
    </a>
</div>

<div class="separator"></div>

<div class="heading-row">
    <h3>Display Options</h3>
</div>
<div class="row">
    <label class="block"><input ${_Schema.ui.showSchemaOverlays ? 'checked' : ''} type="checkbox" id="schema-show-overlays" name="schema-show-overlays"> Relationship labels</label>
</div>
<div class="row">
    <label class="block"><input ${_Schema.ui.showInheritance    ? 'checked' : ''} type="checkbox" id="schema-show-inheritance" name="schema-show-inheritance"> Inheritance arrows</label>
</div>

<div class="separator"></div>

<div class="heading-row">
    <h3>Edge Style</h3>
</div>

<div class="row">
    <a class="block edge-style ${_Schema.ui.connectorStyle === 'Flowchart'    ? 'active' : ''}"> Flowchart</a>
</div>
<div class="row">
    <a class="block edge-style ${_Schema.ui.connectorStyle === 'Bezier'       ? 'active' : ''}"> Bezier</a>
</div>
<div class="row">
    <a class="block edge-style ${_Schema.ui.connectorStyle === 'StateMachine' ? 'active' : ''}"> StateMachine</a>
</div>
<div class="row">
    <a class="block edge-style ${_Schema.ui.connectorStyle === 'Straight'     ? 'active' : ''}"> Straight</a>
</div>

<div class="separator"></div>

<div class="heading-row">
    <h3>Saved Layouts</h3>
</div>

<div class="row">
    <select id="saved-layout-selector"></select>
    <button id="restore-layout">Apply</button>
    <button id="download-layout">Download</button>
    <button id="update-layout">Update</button>
    <button id="delete-layout">Delete</button>
</div>

<div class="row">
    <input id="layout-name" placeholder="Enter name for layout"> <button id="create-new-layout">Save</button>
</div>

<div class="separator"></div>

<div class="row">
    <a title="Reset the stored node positions and apply an automatic layouting algorithm." id="reset-schema-positions" class="flex items-center">
        ${_Icons.getSvgIcon('reset-arrow', 16, 16, 'mr-2')} Reset Layout (apply Auto-Layouting)
    </a>
</div>
