<div class="heading-row"><h3>Visibility</h3></div>
<div class="row"><input ${_Schema.ui.showSchemaOverlays ? 'checked' : ''} type="checkbox" id="schema-show-overlays" name="schema-show-overlays"> <label for="schema-show-overlays"> Relationship labels</label></div>
<div class="row"><input ${_Schema.ui.showInheritance    ? 'checked' : ''} type="checkbox" id="schema-show-inheritance" name="schema-show-inheritance"> <label for="schema-show-inheritance"> Inheritance arrows</label></div>

<div class="heading-row"><h3>Edge Style</h3></div>
<div class="row"><a class="edge-style ${_Schema.ui.connectorStyle === 'Flowchart'    ? 'active' : ''}"> Flowchart</a></div>
<div class="row"><a class="edge-style ${_Schema.ui.connectorStyle === 'Bezier'       ? 'active' : ''}"> Bezier</a></div>
<div class="row"><a class="edge-style ${_Schema.ui.connectorStyle === 'StateMachine' ? 'active' : ''}"> StateMachine</a></div>
<div class="row"><a class="edge-style ${_Schema.ui.connectorStyle === 'Straight'     ? 'active' : ''}"> Straight</a></div>
