<!--h3>Available Layout Configurations</h3-->
<div class="heading-row"><h3>Saved Layouts ${config[0].foo}</h3></div>
<select id="saved-layout-selector"></select>
<button id="restore-layout">Apply</button>
<button id="download-layout">Download</button>
<button id="update-layout">Update</button>
<button id="delete-layout">Delete</button>


<!--h3>Save Layout Configuration</h3-->
<!--p>Save the current layout configuration to backend (available to every backend user). This includes positions, visibility, zoom level, connector style and visibility of relationship labels.</p-->
<div class="row"><input id="layout-name" placeholder="Enter name for layout"><button id="create-new-layout">Create Layout</button></div>

<div class="separator"></div>
<div class="row"><a title="Reset the stored node positions and apply an automatic layouting algorithm." id="reset-schema-positions"><svg viewBox="0 0 16 16" height="16" width="16" xmlns="http://www.w3.org/2000/svg"><g transform="matrix(0.6666666666666666,0,0,0.6666666666666666,0,0)"><path d="M0.75 0.748L0.75 8.248 8.25 8.248" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path><path d="M12,23.248a11.25,11.25,0,1,0-10.6-15" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path></g></svg> Reset Layout (apply Auto-Layouting)</a></div>
