<tr>
	<td class="name-col"><input size="15" type="text" class="action property-name" placeholder="Enter method name"></div></td>
	<td><textarea rows="4" class="action property-code" placeholder="Enter Code"></textarea></td>
	<td><textarea rows="4" class="action property-comment" placeholder="Enter comment"></textarea></td>
	<td>
		<i title="Add to favorites" class="add-to-favorites hidden ${_Icons.getFullSpriteClass(_Icons.star_icon)}" />
		<i title="Save changes" class="create-icon save-action ${_Icons.getFullSpriteClass(_Icons.tick_icon)}" />
		<i title="Discard changes" class="remove-icon cancel-action ${_Icons.getFullSpriteClass(_Icons.cross_icon)}" />
		<i title="Remove method" class="remove-icon remove-action hidden ${_Icons.getFullSpriteClass(_Icons.delete_icon)}" />
	</td>
</tr>
<tr>
	<td title="Drag to resize" class="resize-handle" colspan="4"></td>
</tr>