<tr data-property-id="${config.property.id}" >
	<td><input size="15" type="text" class="property-name" value="${escapeForHtmlAttributes(config.property.name)}"></td>
	<td><input size="15" type="text" class="property-dbname" value="${escapeForHtmlAttributes(config.property.dbName)}"></td>
	<td>${_Schema.typeOptions}</td>
	<td>${((config.property.propertyType !== 'Function') ? '<input size="15" type="text" class="property-format" value="' + (config.property.format ? escapeForHtmlAttributes(config.property.format) : '') + '">' : `<button class="edit-read-function">Read</button><button class="edit-write-function">Write</button><input id="checkbox-${config.property.id}" class="caching-enabled" type="checkbox" ${(config.property.isCachingEnabled ? 'checked' : '')}><label for="checkbox-${config.property.id}">Cache</label>${_Schema.typeHintOptions}`)}</td>
	<td class="centered"><input class="not-null" type="checkbox" ${(config.property.notNull ? 'checked' : '')}></td>
	<td class="centered"><input class="compound" type="checkbox" ${(config.property.compound ? 'checked' : '')}></td>
	<td class="centered"><input class="unique" type="checkbox" ${(config.property.unique ? 'checked' : '')}></td>
	<td class="centered"><input class="indexed" type="checkbox" ${(config.property.indexed ? 'checked' : '')}></td>
	<td><input type="text" size="10" class="property-default" value="${escapeForHtmlAttributes(config.property.defaultValue)}"></td>
	<td class="centered actions-col">
		${config.property.isBuiltinProperty ? '' : '<i title="Discard changes" class="discard-icon discard-changes ' + _Icons.getFullSpriteClass(_Icons.cross_icon) + '"></i>'}
		${config.property.isBuiltinProperty ? '' : '<i title="Remove property" class="remove-icon remove-action ' + _Icons.getFullSpriteClass(_Icons.delete_icon) + '"></i>'}
	</td>
</tr>