<tr data-property-name="${config.property.name}">
	<td>${escapeForHtmlAttributes(config.property.declaringClass)}</td>
	<td>${escapeForHtmlAttributes(config.property.name)}</td>
	<td>${config.property.propertyType}</td>
	<td class="centered"><input class="not-null" type="checkbox" disabled="disabled" ${(config.property.notNull ? 'checked' : '')}></td>
	<td class="centered"><input class="compound" type="checkbox" disabled="disabled" ${(config.property.compound ? 'checked' : '')}></td>
	<td class="centered"><input class="unique" type="checkbox" disabled="disabled" ${(config.property.unique ? 'checked' : '')}></td>
	<td class="centered"><input class="indexed" type="checkbox" disabled="disabled" ${(config.property.indexed ? 'checked' : '')}></td>
</tr>