<tr class="has-changes">
	<td><input size="15" type="text" class="property-name" placeholder="Enter JSON name" autofocus></td>
	<td><input size="15" type="text" class="property-dbname" placeholder="Enter DB name"></td>
	<td>${config.typeOptions}</td>
	<td><input size="15" type="text" class="property-format" placeholder="Enter format"></td>
	<td class="centered"><input class="not-null" type="checkbox"></td>
	<td class="centered"><input class="compound" type="checkbox"></td>
	<td class="centered"><input class="unique" type="checkbox"></td>
	<td class="centered"><input class="indexed" type="checkbox"></td>
	<td><input class="property-default" size="10" type="text"></td>
	<td class="centered">
		<i title="Discard changes" class="remove-icon discard-changes ${_Icons.getFullSpriteClass(_Icons.cross_icon)}"></i>
	</td>
</tr>