<table class="${config.class}">
	<thead>${config.cols.reduce((acc, col) => { return acc + '<th class="' + col.class + '">' + col.title + '</th>'; }, '')}</thead>
	<tbody></tbody>
	<tfoot class="hidden">
		<th colspan=${config.cols.length} class="actions-col">
			<button class="discard-all"><i class="${_Icons.getFullSpriteClass(_Icons.cross_icon)}"></i> Discard all</button>
			<button class="save-all"><i class="${_Icons.getFullSpriteClass(_Icons.tick_icon)}"></i> Save all</button>
		</th>
	</tfoot>
</table>