<select class="property-type">
	<option value="">--Select--</option>
	<option value="String">String</option>
	<option value="Encrypted">Encrypted</option>
	<option value="StringArray">String[]</option>
	<option value="Integer">Integer</option>
	<option value="IntegerArray">Integer[]</option>
	<option value="Long">Long</option>
	<option value="LongArray">Long[]</option>
	<option value="Double">Double</option>
	<option value="DoubleArray">Double[]</option>
	<option value="Boolean">Boolean</option>
	<option value="BooleanArray">Boolean[]</option>
	<option value="Enum">Enum</option>
	<option value="Date">Date</option>
	<option value="DateArray">Date[]</option>
	<option value="Count">Count</option>
	<option value="Function" data-indexed="false">Function</option>
	<option value="Notion">Notion</option>
	<option value="Join">Join</option>
	<option value="Cypher" data-indexed="false">Cypher</option>
	<option value="Thumbnail">Thumbnail</option>
	<option value="IdNotion" data-protected="true" disabled>IdNotion</option>
	<option value="Custom" data-protected="true" disabled>Custom</option>
	<option value="Password" data-protected="true" disabled>Password</option>
</select>