<div class="dialog-padding">

	<h3>Configured Servers</h3>
	<div id="widget-servers-table-container"></div>

	<h3 data-comment="The server should respond with JSON-formatted widgets as every structr instance would.<br><br>Because the widgets are fetched via a HTTP GET request, the usual rights management applies. Widgets need to be visible to public users to show up in the resulting list.">Add Server</h3>
	<div>
		<label>Name</label>
		<input id="new-widget-server-name">
	</div>
	<div>
		<label>URL</label>
		<input id="new-widget-server-url">
	</div>
	<div>
		<button id="save-widget-server"><i class="collapsed ${_Icons.getFullSpriteClass(_Icons.floppy_icon)}" /> Save</button>
	</div>
</div>