<div class="ver-scrollable">

	<div class="tab-group">
		<a href="javascript:void(0);" class="tab-group-toggle"><h2><i class="collapsed ${_Icons.getFullSpriteClass(_Icons.collapsed_icon)}"></i><i class="expanded ${_Icons.getFullSpriteClass(_Icons.expanded_icon)}"></i> Local Widgets</h2></a>
		<div class="tab-group-content">
			<button class="action add_widgets_icon button"><i title="Add Widget" class="${_Icons.getFullSpriteClass(_Icons.add_widget_icon)}"></i> Add Widget</button>
			<div id="widgets"></div>
		</div>
	</div>

	<div class="tab-group">
		<a href="javascript:void(0);" class="tab-group-toggle"><h2><i class="collapsed ${_Icons.getFullSpriteClass(_Icons.collapsed_icon)}"></i><i class="expanded ${_Icons.getFullSpriteClass(_Icons.expanded_icon)}"></i> Remote Widgets</h2></a>
		<div class="tab-group-content">
			<input placeholder="Filter..." id="remoteWidgetsFilter">
			<div id="remoteWidgets"></div>
		</div>
	</div>

</div>