Package: structr
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Depends: openjdk-8-jdk-headless | openjdk-8-jdk | oracle-java8-jdk | oracle-java8-installer
Description: [[description]]
Maintainer: Axel Morgner <axel.morgner@structr.com>