<div id="div-options" class="quick-access-options">
	<h3>${config.title}</h3>
	<div class="row">
		<div class="option-tile">
			<label>CSS Class</label>
			<input type="text" id="class-input" value="${config.a._html_class || ''}" />
		</div>
		<div class="option-tile">
			<label>HTML ID</label>
			<input type="text" id="id-input" value="${config.a._html_id || ''}" />
		</div>
	</div>
	<div class="row">
		<div class="option-tile double">
			<label>HREF attribute</label>
			<input type="text" id="href-input" value="${config.a._html_href || ''}" />
		</div>
	</div>
	<div class="row">
		<div class="option-tile double">
			<label>Style</label>
			<input type="text" id="style-input" value="${config.a._html_style || ''}" />
		</div>
	</div>

	<div class="row repeater-config-container"></div>

	<div class="row show-hide-conditions-container"></div>

	<div id="custom-properties-parent" class="hidden">
		<h3>Custom Properties</h3>
		<div class="row">
		     <div id="custom-properties-container"></div>
		</div>
	</div>
</div>
