<div id="default-dom-options" class="quick-access-options">
	<div class="row">
		<div class="option-tile double">
			<label for="name-input">Name</label>
			<input type="text" id="name-input" autocomplete="off" name="name" />
		</div>
	</div>

	<div class="row repeater-config-container"></div>

	<div class="row show-hide-conditions-container"></div>

	<div id="custom-properties-parent" class="hidden">
		<h3>Custom Properties</h3>
		<div class="row">
		     <div id="custom-properties-container"></div>
		</div>
	</div>
</div>
