<div id="file-options" class="quick-access-options">
	<div class="row">
		<div class="option-tile">
			<label for="name-input">Name</label>
			<input type="text" id="name-input" autocomplete="off" name="name" />
		</div>
		<div class="option-tile">
			<label for="content-type-input">Content Type</label>
			<input type="text" id="content-type-input" autocomplete="off" name="contentType" />
		</div>
	</div>
	<div class="row">
		<div class="option-tile">
			<label for="cache-for-seconds-input" class="block">Cache for n seconds</label>
			<input type="text" id="cache-for-seconds-input" value="" name="cacheForSeconds" />
		</div>
		<div class="option-tile">

			<label class="block">Options</label>

			<div class="mb-2 flex items-center">
				<input type="checkbox" name="isTemplate" id="isTemplate" />
				<label for="isTemplate">Is template (dynamic file)</label>
			</div>
			<div class="mb-2 flex items-center">
				<input type="checkbox" name="dontCache" id="dontCache" />
				<label for="dontCache">Caching disabled</label>
			</div>
			<div class="mb-2 flex items-center">
				<input type="checkbox" name="includeInFrontendExport" id="includeInFrontendExport" />
				<label for="includeInFrontendExport" data-comment-config="{insertAfter:true}" data-comment="If checked this file/folder is exported in the deployment process. If a parent folder has this flag enabled, it will automatically be exported and the flag does not need to be set.">Include in frontend export</label>
			</div>
			<div class="mb-2 flex items-center">
				<input type="checkbox" name="useAsJavascriptLibrary" id="useAsJavascriptLibrary" />
				<label for="useAsJavascriptLibrary" data-comment-config="{insertAfter:true}" data-comment="If checked this file can be included via <code>$.includeJs(fileName)</code> in any other server-side JavaScript context.<br><br>File must have content-type <code>text/javascript</code> or <code>application/javascript</code>">Use As Javascript Library</label>
			</div>
		</div>
	</div>
	<div id="content-extraction" class="row hidden">
		<h3>Content Extraction</h3>
		<div class="row">
			<p>Extract text content from this document or image and store it in a StructuredDocument node with StructuredTextNode children.</p>
			<button type="button" class="action" id="extract-structure-button">Extract document content</button>
		</div>
	</div>
</div>
