<div id="div-options" class="quick-access-options">
	<div class="row">
		<div class="option-tile">
			<label for="class-input">CSS Class</label>
			<input type="text" id="class-input" name="_html_class" />
		</div>
		<div class="option-tile">
			<label for="id-input">HTML ID</label>
			<input type="text" id="id-input" name="_html_id" />
		</div>
	</div>
	<div class="row">
		<div class="option-tile">
			<label for="type-input">Type</label>
			<input type="text" id="type-input" name="_html_type" />
		</div>
		<div class="option-tile">
			<label for="placeholder-input">Placeholder</label>
			<input type="text" id="placeholder-input" name="_html_placeholder" />
		</div>
	</div>
	<div class="row">
		<div class="option-tile double">
			<label for="style-input">Style</label>
			<input type="text" id="style-input" name="_html_style" />
		</div>
	</div>
	<div class="row">
		<div class="option-tile">
			<label for="title-input">Title</label>
			<input type="text" id="title-input" name="_html_title" />
		</div>
	</div>
	<div id="custom-properties-parent" class="hidden">
		<h3>Custom Properties</h3>
		<div class="row">
		     <div id="custom-properties-container"></div>
		</div>
	</div>
</div>
