<div id="div-options" class="quick-access-options">
	<h3>${config.title}</h3>
	<div class="row">
		<div class="option-tile">
			<label>CSS Class</label>
			<input type="text" id="class-input" value="${config.entity._html_class || ''}" />
		</div>
		<div class="option-tile">
			<label>HTML ID</label>
			<input type="text" id="id-input" value="${config.entity._html_id || ''}" />
		</div>
	</div>
	<div class="row">
		<div class="option-tile">
			<label>Type</label>
			<input type="text" id="type-input" value="${config.input._html_type || ''}" />
		</div>
		<div class="option-tile">
			<label>Placeholder</label>
			<input type="text" id="placeholder-input" value="${config.input._html_placeholder || ''}" />
		</div>
	</div>
	<div class="row">
		<div class="option-tile double">
			<label>Style</label>
			<input type="text" id="style-input" value="${config.input._html_style || ''}" />
		</div>
	</div>
	<div class="row">
		<div class="option-tile">
			<label>Title</label>
			<input type="text" id="title-input" value="${config.input._html_title || ''}" />
		</div>
	</div>
	<div id="custom-properties-parent" class="hidden">
		<h3>Custom Properties</h3>
		<div class="row">
		     <div id="custom-properties-container"></div>
		</div>
	</div>
</div>
