<div id="div-options" class="quick-access-options">
	<div class="row">
		<div class="option-tile">
			<label for="class-input">CSS Class</label>
			<input type="text" id="class-input" name="_html_class"/>
		</div>
		<div class="option-tile">
			<label for="id-input">HTML ID</label>
			<input type="text" id="id-input" name="_html_id" />
		</div>
	</div>
	<div class="row">
		<div class="option-tile double">
			<label for="style-input">Style</label>
			<input type="text" id="style-input" name="_html_style" />
		</div>
	</div>

	<div class="row repeater-config-container"></div>

	<div class="row">

		<div class="option-tile">
			<label for="selected-input">Selected</label>
			<input type="text" id="selected-input" name="_html_selected" />
		</div>
		<div class="option-tile">
			<label for="selected-values-input">Selected Values Expression</label>
			<input type="text" id="selected-values-input" name="selectedValues" />
		</div>
	</div>

	<div class="row">
		<div class="option-tile">
			<label for="value-input">Value</label>
			<input type="text" id="value-input" name="_html_value" />
		</div>
	</div>

	<div class="row show-hide-conditions-container"></div>

	<div class="row show-text-content-container"></div>

	<div id="custom-properties-parent" class="hidden">
		<h3>Custom Properties</h3>
		<div class="row">
		     <div id="custom-properties-container"></div>
		</div>
	</div>
</div>
