<div id="div-options" class="quick-access-options">
	<h3>${config.title}</h3>
	<div class="row">
		<div class="option-tile">
			<label for="name-input">Name</label>
			<input type="text" id="name-input" name="name" />
		</div>
		<div class="option-tile">
			<label for="content-type-input">Content Type</label>
			<input type="text" id="content-type-input" name="contentType" />
		</div>
	</div>
	<div class="row">
		<div class="option-tile">
			<label for="category-input">Category</label>
			<input type="text" id="category-input" name="category" />
		</div>
		<div class="option-tile">
			<label for="show-on-error-codes-input">Show on Error Codes</label>
			<input type="text" id="show-on-error-codes-input" name="showOnErrorCodes" />
		</div>
	</div>
	<div class="row">
		<div class="option-tile">
			<label for="position-input">Position </label>
			<input type="text" id="position-input" name="position" />
		</div>
		<div class="option-tile">
			<label style="display:block;">Options</label>
			<div style="padding-top: 2px;">
				<input type="checkbox" name="dontCache" id="dont-cache-checkbox" />
				<label for="dont-cache-checkbox">Caching disabled</label>
			</div>
			<div style="padding-top: 2px;">
				<input type="checkbox" name="pageCreatesRawData" id="page-creates-raw-data-checkbox" />
				<label for="page-creates-raw-data-checkbox">Use binary encoding for output</label>
			</div>
		</div>
	</div>
	<div id="custom-properties-parent" class="hidden">
		<h3>Custom Properties</h3>
		<div class="row">
		     <div id="custom-properties-container"></div>
		</div>
	</div>
</div>
