<div class="row options-rendering"><h3>Rendering Options</h3></div>
<div class="row">
    <div class="option-tile">
        <label for="rendering-mode-select" data-comment="Select rendering mode for this element to activate lazy loading.">Select rendering mode for this element to activate lazy loading.</label>
        <select class="select2" id="rendering-mode-select" name="data-structr-rendering-mode">
            <option value="">Eager (default)</option>
            <option value="load">When page has finished loading</option>
            <option value="delayed">With a delay after page has finished loading</option>
            <option value="visible">When element becomes visible</option>
            <option value="periodic">With periodic updates</option>
        </select>
    </div>
    <div class="option-tile">
        <label for="rendering-delay-or-interval">Delay or interval in milliseconds</label>
        <input type="number" id="rendering-delay-or-interval" name="data-structr-delay-or-interval">
    </div>
</div>
