<div id="div-options" class="quick-access-options">
	<div class="row">
		<div class="option-tile">
			<label for="name-input">Name</label>
			<input type="text" id="name-input" autocomplete="off" name="name">
		</div>
		<div class="option-tile">
			<label for="e-mail-input">eMail</label>
			<input type="text" id="e-mail-input" autocomplete="off" name="eMail">
		</div>
	</div>
	<div class="row">
		<div class="option-tile">
			<label for="password-input">Password</label>
			<input type="password" id="password-input" autocomplete="new-password" value="">
			<button class="action" type="button" id="set-password-button">Set Password</button>
		</div>
		<div class="option-tile">
			<label>Options</label>
			<div>
				<input type="checkbox" name="isAdmin" id="isAdmin">
				<label for="isAdmin">Is Admin User</label>
			</div>
			<div>
				<input type="checkbox" name="skipSecurityRelationships" id="skipSecurityRelationships">
				<label for="skipSecurityRelationships">Skip Security Relationships</label>
			</div>
			<div>
				<input type="checkbox" name="isTwoFactorUser" id="isTwoFactorUser">
				<label for="isTwoFactorUser">Enable Two-Factor Authentication for this User</label>
			</div>
		</div>
	</div>
	<div id="custom-properties-parent" class="hidden">
		<h3>Custom Attributes</h3>
		<div class="row">
		     <div id="custom-properties-container"></div>
		</div>
	</div>
</div>
