
		<div class="option-tile">
			<label>Show Conditions</label>
			<select id="show-conditions">
				<option value="">(none)</option>
				<option>false</option>
				<option>me.isAdmin</option>
				<option>empty(current)</option>
				<option>not(empty(current))</option>
			</select>
		</div>
		<div class="option-tile">
			<label>Hide Conditions</label>
			<select id="hide-conditions">
				<option value="">(none)</option>
				<option>true</option>
				<option>me.isAdmin</option>
				<option>empty(current)</option>
				<option>not(empty(current))</option>
			</select>
		</div>
