<div class="option-tile">
	<label for="show-conditions">Show Conditions</label>
	<input id="show-conditions" type="text" name="showConditions" />
	<select id="show-conditions-templates">
		<option value="" disabled selected>Select...</option>
		<option value="">(none)</option>
		<option>true</option>
		<option>false</option>
		<option>me.isAdmin</option>
		<option>empty(current)</option>
		<option>not(empty(current))</option>
	</select>
</div>
<div class="option-tile">
	<label for="hide-conditions">Hide Conditions</label>
	<input id="hide-conditions" type="text" name="hideConditions" />
	<select id="hide-conditions-templates">
		<option value="" disabled selected>Select...</option>
		<option value="">(none)</option>
		<option>true</option>
		<option>false</option>
		<option>me.isAdmin</option>
		<option>empty(current)</option>
		<option>not(empty(current))</option>
	</select>
</div>
