@charset "UTF-8";
/** Defaults */

* {
    outline: none;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 8pt;
    color: #222;
    background: #e5e5e5;
    background: -webkit-gradient(linear, left bottom, left top, from(#e5e5e5), to(#d4d4d4)) no-repeat;
    background: -moz-linear-gradient(90deg, #e5e5e5, #d4d4d4) no-repeat;
    background: #f3f3f3;
}

table, tr, td, th, tbody, thead {
    padding: 0;
    margin: 0;
    border: none;
    border-collapse: collapse;
}

tt, tt *, pre, pre *, code, code * {
    font-family: "Liberation Mono", "DejaVu Sans Mono", Consolas, Monaco, "Vera Sans Mono", "Lucida Console", "Courier New", monospace !important;
}

a, a:link, a:visited {
    color: #333;
}

a:hover, a:active {
    color: #a5a5a5;
}

h2 {
    color: white;
}

#header {
    /*    width: 100%;*/
    height: 60px;
    /*	background-color: #f0f0f0;
            background: -webkit-gradient(linear, left bottom, left top, from(#d5d5d5), to(#f5f5f5)) no-repeat;
            background: -moz-linear-gradient(90deg, #d5d5d5, #f5f5f5) no-repeat;
            filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f5f5f5', EndColorStr='#d5d5d5', GradientType=0);*/
    /*    border-top  : 1px solid #ccc;*/
    border-bottom: 1px solid #a5a5a5;
    font-size: 1.25em;
    line-height: 2em;

    background: -moz-linear-gradient(90deg, #363636, #666) no-repeat;
    background: -webkit-gradient(linear, left bottom, left top, from(#363636), to(#666)) no-repeat;
    background: -moz-linear-gradient(90deg, #363636, #666) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#666666', EndColorStr='#363636', GradientType=0);
}

#tools {
	width: 200px;
	vertical-align: top;
}
/*#main {
    overflow: auto;
    height: 1000px;
    padding: 0;
    margin: 0;
}*/

#header .logo {
    position: absolute;
    top: 15px;
    left: 16px;
}

#menu {
    position: absolute;
    top: 17px;
    left: 160px;
}

.menu ul {
    width: 800px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
}

.menu ul li {
    display: inline;
    margin: 0 10px;
}

/*.menu ul li.current span, .menu ul li:hover span {
    border-bottom: 2px solid #81ce25;
}*/

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.menu .inactive {
    color: #fff ! important;
}

.menu a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #81ce25;
}

.menu .active {
    color: #333 ! important;
    padding: 3px 6px 4px 6px;
    /*    border: 1px solid #81ce25;*/
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #81ce25;
    background: -webkit-gradient(linear, left bottom, left top, from(#73b821), to(#90e629)) no-repeat;
    background: -moz-linear-gradient(90deg, #73b821, #90e629) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#90e629', EndColorStr='#73b821', GradientType=0);
}

.edit_icon, .add_icon, .delete_icon, .close_icon, .key_icon {
/*    margin-left: 4px;*/
    cursor: pointer;
    heigth: 16px;
    width: 16px;
    vertical-align: top;
    float: right;
    position: relative;
}

.expand_icon {
    margin-left: -4px;
    float: left ! important;
}

img.disabled {
    filter: alpha(opacity=40);
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
}

#main {
    margin: 12px;
    /*    width: 1000px;
        overflow: hidden;*/
}

/*#resources, #previews {
	width: 1000px;
}*/

#resources,
#previews,
#elements,
#components,
#contents,
#folders,
#files,
#groups,
#images,
#users {
    /*    float: left;*/
    vertical-align: top;
    width: 400px;
    padding-right: 12px;
/*    overflow: auto;*/
/*    height: 800px;*/
}

#resources > div, #resources > button,
#components > div, #components > button,
#elements > div, #elements > button,
#contents > div, #contents > button
{
/*    display: none;*/
}

#resourcesEditor {
    height: 1000px;
}

#images > div:first-child {
    margin-top: 0px ! important;
}

.node .id {
/*    display: none;*/
}

.content .id {
	display: none;
}

.node, .group, .user, .resource, .component, .element, .content, .folder, .file, .image {
    background-color: #fff;
    margin-bottom: 6px ! important;
}

.node b, .group b, .user b, .resource b, .component b, .element b, .content b, .folder b, .file b, .image b {
    cursor: pointer;
}

.node, .resource, .component, .element, .content, .folder, .file, .image {
    background-color: #eee;
    background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#eee)) no-repeat;
    background: -moz-linear-gradient(90deg, #ddd, #eee) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#eeeeee', EndColorStr='#dddddd', GradientType=0);
}

.node, .resource .element, .component {
    /*    display: none;*/
}

.content b {
    font-weight: normal;
}

#palette {
    /*    width: 100%;*/
/*    height: 200px;*/
    /*	background-color: #f0f0f0;
            background: -webkit-gradient(linear, left bottom, left top, from(#d5d5d5), to(#f5f5f5)) no-repeat;
            background: -moz-linear-gradient(90deg, #d5d5d5, #f5f5f5) no-repeat;
            filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f5f5f5', EndColorStr='#d5d5d5', GradientType=0);*/
    /*    border-top  : 1px solid #ccc;*/
/*    border-bottom: 1px solid #a5a5a5;*/
    font-size: 1.25em;
    line-height: 2em;
/*    background-color: #c5c5c5;
    background: -webkit-gradient(linear, left bottom, left top, from(#cccccc), to(#dddddd)) no-repeat;
    background: -moz-linear-gradient(90deg, #cccccc, #dddddd) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#dddddd', EndColorStr='#cccccc', GradientType=0);*/
    overflow: auto;
    padding: 0;
	margin: 16px 0 0 0;
    height: 1000px;
/*    position: absolute;*/
	width: 200px;
/*    z-index: 3;*/
}

#palette .elementGroup {
    float: left;
    padding: 0;
    margin: 0;
}

#palette h2 {
	font-size: 10pt;
    padding: 0;
    margin: 0;
    color: #333;
}

#palette h3 {
    font-size: 9pt;
    color: #333;
    padding: 2px 0 0 0;
    margin: 0 0 0 2px;
}

#palette .draggable {
    float: left;
    color: #333;
    border-radius: 5px;
    border: 1px solid #a5a5a5;
    padding: 0px 4px;
    margin: 0px 2px;
    background-color: #eee;
    background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#eee)) no-repeat;
    background: -moz-linear-gradient(90deg, #ddd, #eee) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#eeeeee', EndColorStr='#dddddd', GradientType=0);
}

#palette .draggable:hover {
    cursor: move;
    color: #000;
    border: 1px solid #bbb;
    background-color: #f5f5f5;
    background: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), to(#f7f7f7)) no-repeat;
    background: -moz-linear-gradient(90deg, #f3f3f3, #f7f7f7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7f7f7', EndColorStr='#f3f3f3', GradientType=0);
}

.sep {
    clear: both;
    height: 4px;
    /*	width: 105%;*/
    /*border-bottom: 1px solid #ccc;*/
    margin: 2px 0 12px -12px ! important;
}

.props {
/*    position: absolute;*/
    width: 462px;
    border-collapse: collapse;
    margin-bottom: 12px;
    border: 1px solid #b5b5b5;
}

#users .props {
    width: 462px ! important;
}

tr:nth-child(odd) {
    background-color: #f3f3f3;
}

tr:nth-child(even) {
    background-color: #e5e5e5;
}

.props th {
    background: #ccc;
}

.props td, .props th {
    padding: 4px 6px;
    line-height: 1.7em;
}

.props .key {
    width: 50%;
    font-weight: bold;
}

.props .value {
    width: 50%;
    /*background-color: #fff;*/
}

.props tr td.value {
    padding: 2px 2px 2px 3px;
    margin: 0;
}

.props tr td.value input {
    margin: -3px;
    border: none;
    font-size: inherit;
/*    background: transparent;*/
    width: 180px;
}

.props tr td.value textarea {
    margin: -3px;
    border: none;
    font-size: inherit;
    width: 180px;
}

.props tr td.value input.active {
    margin: -3px;
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
}

.props tr td.value .tick {
    border: none;
    position: absolute;
}

ul#previewTabs {
    margin: 0;
    padding: 0;
    border: none;
    width: 1000px;
    height: 25px;
}

#previewTabs li {
    list-style-type: none;
    display: inline;
    float: left;
    border-bottom: none ! important;
    border-bottom-left-radius: 0 ! important;
    border-bottom-right-radius: 0 ! important;

/*    display: inline;*/
    margin: 0 4px 0 0 ! important;
    padding: 2px 8px 0 8px ! important;
    color: #333;
    font-size: 1.2em;
    height: 22px;
/*    text-align: left;*/
/*    white-space: nobr;*/
/*    overflow: hidden;*/
    position: relative;
    z-index: 1;
}

#previewTabs img {
    position: relative;
    z-index: 2;
    border: none;
    margin: 1px 0 0 0;
}
#previewTabs .key_icon, #previewTabs .delete_icon {
    margin: 1px 0 0 4px;
}

#previewTabs li input[type=text] {
    border: 1px solid #b5b5b5;
    margin: 0;
}

#previewTabs li.active {
    color: #333 ! important;
    background-color: #81ce25;
    background: -webkit-gradient(linear, left bottom, left top, from(#73b821), to(#90e629)) no-repeat;
    background: -moz-linear-gradient(90deg, #73b821, #90e629) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#90e629', EndColorStr='#73b821', GradientType=0);
}

.preview_box {
    position: absolute;
/*    width: 1220px;
    height: 1220px;*/
    float: left;
    background: #fff;
/*    margin-left: 12px;*/
    border: 1px solid #a5a5a5;
/*    border: 0;*/
    padding: 0;
    margin: 0;
    overflow: hidden;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.preview_box iframe {
/*    float: left;*/
    width: 1000px;
    height: 1000px;
    border: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
/*    zoom: 0.75;*/
/*    -moz-transform: scale(0.75);
    -o-transform: scale(0.75);
    -webkit-transform: scale(0.75);*/
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.CodeMirror {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 4px 0 8px 0;
}

.editor_box {
    width: 540px;
}

.link_icon {
    display: none;
}

span.id {
    /*    display: none;*/
    color: #999;
    /*    white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -moz-binding: url('assets/xml/ellipsis.xml#ellipsis');*/
}

.node,
.resource,
.component,
.element,
.content,
.user,
.group,
.folder,
.file,
.image {
    color: #333;
    line-height: 1.7em;
    border-radius: 5px;
    border: 1px solid #a5a5a5;
    padding: 3px 6px;
    margin: 6px 0 0 0;
    background-color: #eee;
    background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#eee)) no-repeat;
    background: -moz-linear-gradient(90deg, #ddd, #eee) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#eeeeee', EndColorStr='#dddddd', GradientType=0);
    /*    min-width: 200px;*/
}

.content:hover,
#groups .user:hover,
#groups .group:hover,
#users .user:hover,
#folders .folder:hover,
#files .file:hover
#images .image:hover {
    color: #000;
    border: 1px solid #bbb;
    background-color: #e5e5e5;
    background: -webkit-gradient(linear, left bottom, left top, from(#e3e3e3), to(#e7e7e7)) no-repeat;
    background: -moz-linear-gradient(90deg, #e3e3e3, #e7e7e7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e7e7e7', EndColorStr='#e3e3e3', GradientType=0);
}

.element:hover, .component:hover {
    color: #000;
    border: 1px solid #bbb;
    background-color: #f5f5f5;
    background: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), to(#f7f7f7)) no-repeat;
    background: -moz-linear-gradient(90deg, #f3f3f3, #f7f7f7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7f7f7', EndColorStr='#f3f3f3', GradientType=0);
}

img.typeIcon {
    width: 18px;
    height: 18px;
    float: left ! important;
    border: none;
    background: none;
    margin-right: 8px;
    cursor: pointer;
}

img.button {
/*    float: right;*/
}

/*
div.nested img:hover {
    background: #f0f0f0;
    display: inline;
     visibility: visible;
}*/

.groupHover, .resourceHover, .componentHover, .elementHover, .folderHover {
    border: 1px solid #bbb ! important;
    /*    padding-bottom: 40px ! important;*/
    background-color: #f5f5f5;
    background: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), to(#f7f7f7)) no-repeat ! important;
    background: -moz-linear-gradient(90deg, #f3f3f3, #f7f7f7) no-repeat ! important;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7f7f7', EndColorStr='#f3f3f3', GradientType=0) ! important;
}

#previewTabs li, button {
    color: #222;
    font-weight: bold;
    padding: 2px 8px 2px 4px;
    margin-bottom: 6px;
    vertical-align: middle;
    line-height: 1.5em;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: #e5e5e5;
    background: -webkit-gradient(linear, left bottom, left top, from(#ccc), to(#e7e7e7)) no-repeat;
    background: -moz-linear-gradient(90deg, #ccc, #e7e7e7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e7e7e7', EndColorStr='#cccccc', GradientType=0);
}

#previewTabs li, button:hover {
    color: #333;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #bbb;
    background-color: #f5f5f5;
    background: -webkit-gradient(linear, left bottom, left top, from(#e3e3e3), to(#f7f7f7)) no-repeat;
    background: -moz-linear-gradient(90deg, #e3e3e3, #f7f7f7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7f7f7', EndColorStr='#e3e3e3', GradientType=0);
    cursor: pointer ! important;
}

#previewTabs li, button img {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

#json_input {
    width: 1000px;
    height: 500px;
}

.dialog {
    display: none;
    font-size: 11pt;
    width: 240px;
    /*    height: 96px;*/
    padding: 14px 12px 6px 12px;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: #e5e5e5;
    background: -webkit-gradient(linear, left bottom, left top, from(#ccc), to(#e7e7e7)) no-repeat;
    background: -moz-linear-gradient(90deg, #ccc, #e7e7e7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e7e7e7', EndColorStr='#cccccc', GradientType=0);
}

#confirmation, #infoBox, #errorBox {
    width: 360px;
}

#dialogBox {
    width: 480px;
    margin-top: -70%;
}

.dialogTitle {
    font-size: 11pt;
    text-align: center;
    color: #333;
}

.dialogText {
    text-align: left;
    font-size: 9pt;
	height: 450px;
    width: 478px;
    overflow: auto;
}

#confirmationText, #infoText, #dialogBox .dialogText {
    margin-bottom: 12px;
    vertical-align: top;
}

.okButton, .dialogOkButton, .dialogCancelButton {
    padding-left: 8px ! important;
}

#login {
    padding-top: 16px;
}

#login table, #login tr, #login td {
    background-color: transparent ! important;
    margin: 0;
    padding: 4px;
}

#login #errorText {
    color: #c00;
}

#login input {
    width: 150px;
    border-radius: 3px;
    border: 1px solid #bbb;
    margin: 0;
    padding: 2px;
}

#login .btn {
    text-align: right;
    text-decoration: none;
}

.dialog button:focus {
    border: 1px solid #666;
}

#filesDropArea {
    color: #999;
    font-size: 16px;
    font-weight: bold;
    height: 22px;
    padding: 7px 12px 3px 12px;
    border-radius: 5px;
    border: 1px dashed #999;
}

.ui-draggable {
    cursor: move;
}

#offset-tester {
    border: 1px solid red;
    position: absolute;
}

.added {
    background-color: green;
}

#sliderBox {
	padding: 10px ! important;
}

.highlight {
    color: #81ce25;
    transition: color 0.1s 0.1s;
    -moz-transition: color 0.1s 0.1s;
    -webkit-transition: color 0.1s 0.1s;
    -o-transition: color 0.1s 0;
}

#controls {
    float: right;
}

div.infoBox {
    width: 240px;
    min-height: 12px;
    margin: 12px auto;
    text-align: left;
    padding: 6px 28px;
    font-size: 10pt;
}

.warning {
    background: #feefb3 url('../icon/error.png') 6px 6px no-repeat;
    color: #9f6000;
    border: 1px solid #9f6000;
    font-size: 10pt;
}

.error {
    background: #ffbaba url('../icon/exclamation.png') 6px 6px no-repeat;
    color: #d8000c;
    border: 1px solid #d8000c;
    font-size: 10pt;
}

.success {
    background: #dff2bf url('../icon/accept.png') 6px 6px no-repeat;
    color: #4f8a10;
    border: 1px solid #4f8a10;
    font-size: 10pt;
}

.info {
    background: #bde5f8 url('../icon/information.png') 6px 6px no-repeat;
    color: #00592b;
    border: 1px solid #00592b;
    font-size: 10pt;
}