@charset "UTF-8";
/** Defaults */

* {
    outline: none;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 8pt;
    color: #222;
    background: #e5e5e5;
    background: -webkit-gradient(linear, left bottom, left top, from(#e5e5e5), to(#d4d4d4)) no-repeat;
    background: -moz-linear-gradient(90deg, #e5e5e5, #d4d4d4) no-repeat;
    background: #f3f3f3;
}

table, tr, td, th, tbody, thead {
    padding: 0;
    margin: 0;
    border: none;
    border-collapse: collapse;
}

tt, tt *, pre, pre *, code, code * {
    font-family: "Liberation Mono", "DejaVu Sans Mono", Consolas, Monaco, "Vera Sans Mono", "Lucida Console", "Courier New", monospace !important;
}

a, a:link, a:visited {
    color: #333;
}

a:hover, a:active {
    color: #a5a5a5;
}

h2 {
    color: white;
}

#header {
    /*    width: 100%;*/
    height: 60px;
    /*	background-color: #f0f0f0;
            background: -webkit-gradient(linear, left bottom, left top, from(#d5d5d5), to(#f5f5f5)) no-repeat;
            background: -moz-linear-gradient(90deg, #d5d5d5, #f5f5f5) no-repeat;
            filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f5f5f5', EndColorStr='#d5d5d5', GradientType=0);*/
    /*    border-top  : 1px solid #ccc;*/
    border-bottom: 1px solid #a5a5a5;
    font-size: 1.25em;
    line-height: 2em;

    background: -moz-linear-gradient(90deg, #363636, #666) no-repeat;
    background: -webkit-gradient(linear, left bottom, left top, from(#363636), to(#666)) no-repeat;
    background: -moz-linear-gradient(90deg, #363636, #666) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#666666', EndColorStr='#363636', GradientType=0);
}

#header .logo {
    position: absolute;
    top: 15px;
    left: 16px;
}

#menu {
    position: absolute;
    top: 17px;
    left: 160px;
}

.menu ul {
    width: 800px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
}

.menu ul li {
    display: inline;
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.menu .inactive {
    color: #fff ! important;
}

.menu a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #81ce25;
}

.menu .active {
    color: #333 ! important;
    padding: 3px 6px 4px 6px;
    /*    border: 1px solid #81ce25;*/
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #81ce25;
    background: -webkit-gradient(linear, left bottom, left top, from(#73b821), to(#90e629)) no-repeat;
    background: -moz-linear-gradient(90deg, #73b821, #90e629) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#90e629', EndColorStr='#73b821', GradientType=0);
}

img.disabled {
    filter: alpha(opacity=40);
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
    cursor: default ! important;
}

#pages,
#types,
#previews,
#elements,
#components,
#contents,
#folders,
#files,
#groups,
#images,
#users,
#palette {
    float: left;
    border: none;
    width: 400px;
    padding: 6px;
    margin: 3px 3px 6px 9px;
/*    overflow: auto ! important;*/
/*    height: 1000px ! important;*/
}

#pages, #palette {
    overflow: auto;
}

#images > div:first-child {
    margin-top: 0px ! important;
}

#palette {
    font-size: 1.25em;
    line-height: 2em;
    padding: 0;
    margin: 16px 0 0 0;
}

#palette .elementGroup {
    float: left;
    padding: 0;
    margin: 0;
}

#palette h2 {
    font-size: 10pt;
    padding: 0;
    margin: 0;
    color: #333;
}

#palette h3 {
    font-size: 9pt;
    color: #333;
    padding: 2px 0 0 0;
    margin: 0 0 0 2px;
}

#palette .draggable {
    float: left;
    color: #333;
    border-radius: 5px;
    border: 1px solid #a5a5a5;
    padding: 0px 4px;
    margin: 2px 2px;
    background-color: #e3e3e3;
    background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#eee)) no-repeat;
    background: -moz-linear-gradient(90deg, #ddd, #eee) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#eeeeee', EndColorStr='#dddddd', GradientType=0);
}

#palette .draggable:hover {
    cursor: move;
    color: #000;
    border: 1px solid #bbb;
    background-color: #f5f5f5;
    background: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), to(#f7f7f7)) no-repeat;
    background: -moz-linear-gradient(90deg, #f3f3f3, #f7f7f7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7f7f7', EndColorStr='#f3f3f3', GradientType=0);
}

.sep {
    clear: both;
    height: 4px;
    /*	width: 105%;*/
    /*border-bottom: 1px solid #ccc;*/
    margin: 2px 0 12px -12px ! important;
}

.props {
    /*    position: absolute;*/
    width: 776px;
    border-collapse: collapse;
    margin-bottom: 12px;
    border: 1px solid #b5b5b5;
}

#users .props {
    width: 776px ! important;
}

tr:nth-child(odd) {
    background-color: #f3f3f3;
}

tr:nth-child(even) {
    background-color: #e5e5e5;
}

.props th {
    background: #ccc;
}

.props td, .props th {
    padding: 4px 6px;
    line-height: 1.7em;
}

.props .key {
    width: 50%;
    font-weight: bold;
}

.props .value {
    width: 50%;
    /*background-color: #fff;*/
}

.props tr td.value {
    padding: 2px 2px 2px 3px;
    margin: 0;
}

.props tr td.value input {
    margin: -3px;
    border: none;
    font-size: inherit;
    /*    background: transparent;*/
    width: 380px;
}

.props tr td.value textarea {
    margin: -3px;
    border: none;
    font-size: inherit;
    width: 360px;
}

.props tr td.value input.active {
    margin: -3px;
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
}

.props tr td.value .tick {
    border: none;
    position: absolute;
}

ul#previewTabs {
    margin: 0;
    padding: 0;
    border: none;
    width: 900px;
    height: 25px;
}

#tabs, #tabs ul {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

#previewTabs li, #tabs li {
    vertical-align: middle;
    line-height: 1.5em;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: #e9e9e9;
    background: -webkit-gradient(linear, left bottom, left top, from(#e3e3e3), to(#f7f7f7)) no-repeat;
    background: -moz-linear-gradient(90deg, #e3e3e3, #f7f7f7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7f7f7', EndColorStr='#e3e3e3', GradientType=0);
    cursor: pointer ! important;
    list-style-type: none;
    display: inline;
    float: left;
    border-bottom: none ! important;
    border-bottom-left-radius: 0 ! important;
    border-bottom-right-radius: 0 ! important;
    margin: 6px 4px 0 0 ! important;
    padding: 3px 6px 0 6px ! important;
    color: #333;
    font-size: 1.2em;
    height: 22px;
    position: relative;
    z-index: 1;
}

#previewTabs img {
    position: relative;
    z-index: 2;
    border: none;
    margin: 1px 0 0 0;
}
/*#previewTabs .key_icon,
#previewTabs .delete_icon {
    margin: 1px 0 0 4px;
}*/

#previewTabs li input[type=text] {
    border: 1px solid #b5b5b5;
    margin: 0;
}

#previewTabs li:hover, #tabs li:hover {
    color: #333 ! important;
    background-color: #e3e3e3;
    background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#eee)) no-repeat;
    background: -moz-linear-gradient(90deg, #ddd, #eee) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#eeeeee', EndColorStr='#dddddd', GradientType=0);
}

#previewTabs li.active, #tabs li.active {
    color: #333 ! important;
    background-color: #81ce25;
    background: -webkit-gradient(linear, left bottom, left top, from(#73b821), to(#90e629)) no-repeat;
    background: -moz-linear-gradient(90deg, #73b821, #90e629) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#90e629', EndColorStr='#73b821', GradientType=0);
}

#previews {
    overflow: hidden ! important;
}

.previewBox {
    float: left;
    background: #fff;
    border: 1px solid #a5a5a5;
    padding: 0;
    margin: 0;
    overflow: hidden ! important;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    width: 100%;
    height: 100%;   
}

.previewBox iframe {
    width: 1000px;
    height: 1000px;
    border: 0;
    padding: 0;
    margin: 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.CodeMirror {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 4px 0 8px 0;
/*    height: 540px;*/
}

.link_icon {
    display: none;
}

.node .name_:hover {
    cursor: text ! important;
}

.newName_ {
    border: 1px solid #a5a5a5;
    margin: -1px 0;
    font-size: 0.95em;
    font-weight: bold;
    display: inline;
}

.node .id,
.group .id,
.types .id,
.user    .id,
.page .id,
.element .id,
.component .id,
.file .id,
.folder .id,
.image .id {
    display: none;
}

.content .content_ {
    display: inline-block;
    width: 40%;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.content .content_:hover {
    cursor: text ! important;    
}

span.id {
    color: #999;
}

.node,
.page,
.type,
.component,
.element,
.content,
.user,
.group,
.folder,
.file,
.image {
    color: #333;
    line-height: 1.7em;
    border-radius: 5px;
    border: 1px solid #a5a5a5;
    padding: 2px 6px;
    margin: 4px 0 4px 0;
    background-color: #eee;
    background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#eee)) no-repeat;
    background: -moz-linear-gradient(90deg, #ddd, #eee) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#eeeeee', EndColorStr='#dddddd', GradientType=0);
    /*    min-width: 200px;*/
}

.readonly {
    color: #666;
}

.typeIcon, .expand_icon {
    float: left ! important;
    border: none;
    background: none;
    margin-right: 4px ! important;
    cursor: pointer ! important;
}

.typeIcon {
    width: 16px;
    height: 16px;
    margin-top: 1px;
}

.expand_icon {
    width: 8px;
    height: 8px;
    margin-top: 5px;
    margin-right: 3px ! important;
}

.edit_icon, .add_icon, .delete_icon, .close_icon, .key_icon, .edit_props_icon, .edit_file_icon, .clone_icon, .view_icon, .link_icon, .add_form_icon {
    display: none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin-left: 4px ! important;
    vertical-align: top;
    float: right;
    position: relative;
}

img.button {
    /*    display: none;*/
    cursor: pointer;
}

.nodeHover, .nodeActive {
    color: #333 ! important;
    background-color: #81ce25 ! important;
    background: -webkit-gradient(linear, left bottom, left top, from(#73b821), to(#90e629)) no-repeat ! important;
    background: -moz-linear-gradient(90deg, #73b821, #90e629) no-repeat ! important;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#90e629', EndColorStr='#73b821', GradientType=0) ! important;
}

button {
    color: #222;
    font-weight: bold;
    padding: 2px 8px 2px 4px;
    margin-bottom: 6px;
    vertical-align: middle;
    line-height: 1.5em;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: #e5e5e5;
    background: -webkit-gradient(linear, left bottom, left top, from(#ccc), to(#e7e7e7)) no-repeat;
    background: -moz-linear-gradient(90deg, #ccc, #e7e7e7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e7e7e7', EndColorStr='#cccccc', GradientType=0);
}

button:hover {
    color: #333;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 8px 2px 4px;
    margin-bottom: 6px;
    vertical-align: middle;
    line-height: 1.5em;
    border: 1px solid #bbb;
    background-color: #f5f5f5;
    background: -webkit-gradient(linear, left bottom, left top, from(#e3e3e3), to(#f7f7f7)) no-repeat;
    background: -moz-linear-gradient(90deg, #e3e3e3, #f7f7f7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7f7f7', EndColorStr='#e3e3e3', GradientType=0);
    cursor: pointer ! important;
}

button img {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

#json_input {
    width: 1000px;
    height: 500px;
}

.dialog {
    display: none;
    font-size: 11pt;
    width: 240px;
    /*    height: 96px;*/
    padding: 14px 0px 6px 24px;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: #e5e5e5;
    background: -webkit-gradient(linear, left bottom, left top, from(#ccc), to(#e7e7e7)) no-repeat;
    background: -moz-linear-gradient(90deg, #ccc, #e7e7e7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e7e7e7', EndColorStr='#cccccc', GradientType=0);
}

#confirmation, #infoBox, #errorBox {
    width: 360px;
}

#dialogBox {
    width: 800px;
    margin-top: -70%;
}

.dialogTitle {
    font-size: 11pt;
    text-align: center;
    color: #333;
}

.dialogMsg {
    text-align: center;
    height: 36px;
}

.dialogBtn {
    text-align: left;
    height: 36px;
}

.dialogText, .dialogMeta {
    text-align: left;
    font-size: 9pt;
    width: 776px;
    overflow: auto;
    overflow-x: hidden ! important;
}

.dialogText {
    height: 600px;
}

#confirmationText, #infoText, #dialogBox .dialogText {
    margin-bottom: 12px;
    vertical-align: top;
}

.okButton, .dialogOkButton, .dialogCancelButton {
    padding-left: 8px ! important;
}

#login {
    padding-top: 16px;
    padding-left: 16px;
    width: 264px;
}

#login table, #login tr, #login td {
    background-color: transparent ! important;
    margin: 0;
    padding: 4px;
}

#login #errorText {
    color: #c00;
}

#login input {
    width: 150px;
    border-radius: 3px;
    border: 1px solid #bbb;
    margin: 0;
    padding: 2px;
}

#login .btn {
    text-align: right;
    text-decoration: none;
}

.dialog button:focus {
    border: 1px solid #666;
}

#files h1, #images h1 {
/*    visibility: hidden;*/
    color: #333;
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0;
    padding: 0;
    height: 22px;

}

#images h1 {
    visibility: visible;
    color: #333;
}

/*#files:hover {
    padding: 0px 8px 0px 6px ! important;
    margin: 8px 0px 3px 8px ! important;
    padding: 7px 12px 3px 12px! important;
    border-radius: 5px;
    border: 1px dashed #999;
    background: #fff;
}*/

.ui-draggable, .ui-sortable {
    cursor: move;
    z-index: 4;
}

#offset-tester {
    border: 1px solid red;
    position: absolute;
}

.added {
    background-color: green;
}

#sliderBox {
    padding: 10px ! important;
}

.highlight {
    color: #81ce25;
    transition: color 0.1s 0.1s;
    -moz-transition: color 0.1s 0.1s;
    -webkit-transition: color 0.1s 0.1s;
    -o-transition: color 0.1s 0.1s;
}

#controls {
    float: right;
}

div.infoBox {
    width: 240px;
    min-height: 12px;
    margin: 12px auto;
    text-align: left;
    padding: 6px 28px;
    font-size: 10pt;
}

.warning {
    background: #feefb3 url('../icon/error.png') 6px 6px no-repeat;
    color: #9f6000;
    border: 1px solid #9f6000;
    font-size: 10pt;
}

.error {
    background: #ffbaba url('../icon/exclamation.png') 6px 6px no-repeat;
    color: #d8000c;
    border: 1px solid #d8000c;
    font-size: 10pt;
}

.success {
    background: #dff2bf url('../icon/accept.png') 6px 6px no-repeat;
    color: #4f8a10;
    border: 1px solid #4f8a10;
    font-size: 10pt;
}

.info {
    background: #bde5f8 url('../icon/information.png') 6px 6px no-repeat;
    color: #00592b;
    border: 1px solid #00592b;
    font-size: 10pt;
}

.nodeSelectBox {
    /*    background: #fff;
	border: 1px solid #bbb;*/
    width: 240px;
    /*    padding: 6px 12px;*/
}

.nodeSelectBox div {
    width: 120px;
}

.nodeSelectBox .id {
    display: none;
}

button.switch {
    font-weight: normal;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: #e5e5e5;
    background: -webkit-gradient(linear, left bottom, left top, from(#ccc), to(#e7e7e7)) no-repeat;
    background: -moz-linear-gradient(90deg, #ccc, #e7e7e7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e7e7e7', EndColorStr='#cccccc', GradientType=0);
}

button.enabled {
    background-color: #fefefe;
    border: 1px solid #bbb;
    border-radius: 5px;
    border: 1px solid #999;
    background-color: #e5e5e5;
    background: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#e7e7e7)) no-repeat;
    background: -moz-linear-gradient(90deg, #f5f5f5, #e7e7e7) no-repeat;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e7e7e7', EndColorStr='#f5f5f5', GradientType=0);
}

.node ._html_id_,
.node ._html_class_ {
    color: #888;
}


.callToAction {
  background-color: #81ce25;  
  background: -webkit-gradient(linear, left bottom, left top, from(#73b821), to(#90e629)) no-repeat;
  background: -moz-linear-gradient(90deg, #73b821, #90e629) no-repeat;
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#90e629', EndColorStr='#73b821', GradientType=0);
  width: 248px;
  height: 32px;
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 14pt;
  padding: 11px 0 0 12px;
  margin: 24px;
  cursor: pointer;
  color: #fff;
}
.callToAction:hover {
  background-color: #96f02b;
  background: -webkit-gradient(linear, left bottom, left top, from(#7ec924), to(#96f02b)) no-repeat;
  background: -moz-linear-gradient(90deg, #7ec924, #96f02b) no-repeat;
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#96f02b', EndColorStr='#7ec924', GradientType=0);
  border: 1px solid #bbb;

}
.callToAction a, .callToAction a:link, .callToAction a:visited, .callToAction a:hover, .callToAction a:active {
  text-decoration: none;
  color: #fff;
}
.callToAction img {
  vertical-align: top;
  padding: 3px 0 0 7px;
}
